[2017-11-10 10:04] deuch commented on #386
You need to install a local consul agent and to configure this consul agent to connect to the consul cluster.
Generally, the local consul agent listens on localhost:8500, so you have to set in fabio.properties this parameter :

registry.consul.addr = localhost:8500

And adapt to your needs.

For consul agent, you need to check the setup with consul documentation :

https://www.consul.io/docs/agent

[2017-11-10 21:20] magiconair commented on #386
`localhost:8500` is the default so you don't need to set that.

[2017-11-10 21:51] magiconair commented on #387
Hmm, the root CA path is currently not configurable. fabio will use whatever is in the system path.

[2017-11-10 22:09] magiconair commented on #385
@discobean I want to write an integration test for the `host` option but if you want then you can test the patch in #388 in the meantime.

[2017-11-14 17:53] tomwganem opened #389 "route precendence"
My problem is this: I have several subdomains that I want routed to specific containers, like such:

`urlprefix-foo.domain.com/`
`urlprefix-bar.domain.com/`

But beyond my list of specific of subdomains, I want to redirect all other subdomains to just one container.

`urlprefix-*.domain.com/`

The problem is that when I put in a route like `*.domain.com`, it takes precedence over the other routes,

[2017-11-14 18:30] leprechau commented on #389
Just a general question as it relates to some things we've been investigating as well.  Do you specifically need route prioritization or would a general most specific match priority work?

With a most-specific-match first assuming you had the following tags:

`urlprefix-foo.domain.com/foo`
`urlprefix-foo.domain.com/`
`urlprefix-*.domain.com/`

A request to `https://foo.domain.com/foo/bar` would al

[2017-11-14 19:03] magiconair commented on #389
In general yes but I’d need to check about host names

[2017-11-14 19:07] tomwganem commented on #389
What @leprechau is describing, a most-specific-match, is ultimately what we want.

[2017-11-14 22:00] leprechau commented on #389
It wouldn't be perfect but I think you could get very close to 'most-specific' by just checking the matches (urlprefixes) sorted by length (longest first).  This might be easier to implement and also resolve the issue along with documentation of how it works?

[2017-11-14 22:54] tomwganem commented on #389
Sure, I would be fine with that implementation. It would solve my use-case.

[2017-11-14 23:00] tomwganem commented on #389
Although, just going by length would mean

`a.domain.com`
and
`*.domain.com`

would have the same precedence. I don't have any single character subdomains I need to be concerned about, but someone might.

[2017-11-14 23:25] leprechau commented on #389
Right, that was the 'very close' part of the above comment :) ... it's absolutely not perfect but it may be less logic than actually trying to analyze the specify of the match.  I have no real skin in the game at the moment, just trying to float some ideas.  I'm sure @magiconair has his own thoughts on the matter.

[2017-11-14 23:27] leprechau commented on #389
Looking at the code a bit this may be how it is already supposed to function:

https://github.com/fabiolb/fabio/blob/master/route/table.go#L90-L93

[2017-11-15 00:03] leprechau commented on #389
Looked through the code some more and found the `sort.Sort()` definitions.  If I'm not mistaken it should work as you want now.

https://play.golang.org/p/4HcZeR6wV7

Really curious about the exact routes you are using now.

[2017-11-15 00:13] leprechau commented on #389
@tomwganem Could you post a trace log?

https://github.com/fabiolb/fabio/wiki/Features#request-tracing

[2017-11-15 07:38] tomwganem commented on #389
I was unable to get tracing working. Not sure what i'm doing wrong. For reference, I am using docker image fabiolb/fabio:1.5.3-go1.9.2. Here are my routes

\#  | Service | Source | Dest | Options | Weight
-- | -- | -- | -- | -- | --
1 | files | *.asperafiles-dev.com/ | http://172.22.0.17:80/ |   | 100.00%
2 | a8-fe | analytics.asperafiles-dev.com/ | http://172.22.0.27:80/ |   | 100.00%
3 | a8-be |

[2017-11-15 07:45] tino commented on #389
I don't think it sorts correctly now, as it uses `sort.String` [here](https://github.com/fabiolb/fabio/blob/master/route/table.go#L296), which yields: https://play.golang.org/p/-FwwAv39C0. There I've also tried sorting with the "*" removed, which makes sense for domains without url path I think.

The first question to answer is which part is more important: the domain part or the url part. Because

[2017-11-15 17:31] magiconair commented on #389
Paths are already sorted from most to least specific. I think the issue is in the host matching.

[2017-11-15 17:38] magiconair commented on #389
The issue is in `matchingHosts` which assumes that there is only one entry that matches the host.

https://github.com/fabiolb/fabio/blob/master/route/table.go#L287-L298

You have setup where multiple entries match the hostname and in the current implementation the behavior is undefined. I think a better approach would be to find all matching entries, check for an exact match, and if none was found

[2017-11-15 17:58] magiconair commented on #389
The problem was in that function but not where I thought. The issue is that the `matchingHosts` function sorts the hostnames from least to most specific instead of the other way around.

The patch I've put in #390 fixes this but I still need to test whether it matches `x.foo.com` before `*.foo.com` as well.

[2017-11-15 17:59] magiconair commented on #389
I guess this should work since `*` is before any of the characters in the UTF-8 table.

[2017-11-15 19:36] magiconair commented on #389
This fix doesn't work properly yet. There is still a random element in there. Looking

[2017-11-16 05:05] ragunathp commented on #387
However, my colleague helped me with the below option and it worked.
That is to set CONSUL_HTTP_SSL_VERIFY=false and start Fabio. This helped to avoid the above issue

[2017-11-16 05:15] magiconair commented on #389
Found it. This should work now.

[2017-11-16 06:24] tomwganem commented on #389
I can confirm that #390 fixes the behavior I was seeing 👍

[2017-11-16 19:38] #389 closed

[2017-11-20 15:38] tino opened #392 "TCP proxy: Get remote address?"
I'm fairly new to working with raw TCP transmissions, but I've got a device that sends it what we need to parse. We do need the source ip to differentiate devices though. Is there a way to get the original address, not the one fabio is running on? Currently python's `socketserver.BaseRequestHandler.client_address` is set to the local address. Is perhaps the PROXY way that ELB uses available?

[2017-11-20 16:04] magiconair commented on #392
I think the PROXY protocol is the only way to do this since the TCP proxy just shuffles a bunch of bytes. In that case this is #191 I can have another look at this since the TCP proxy has been around for a while :)

[2017-11-23 11:51] beyondkmp opened #393 "Consul health check is ok, but fabio cannot connect to upstream"
Consul and fabio are not in same host. It's ok when consul check upstream, but fabio cannot connect to upstream. Cannot fabio check upstream itself?

[2017-11-25 22:12] magiconair commented on #393
I'm not sure I understand your problem. fabio needs to be able to connect to a consul agent which is usually `localhost:8500`. Maybe you can elaborate?

[2017-11-26 11:13] beyondkmp commented on #393
When fabio generate three routes through consul, but the network is broken between a route and fabio's host. Fabio still send some requests to the route until meeting http proxy timeout error. How can I deal with this situation?

[2017-11-26 21:11] magiconair commented on #393
You're right, there is no control to this behavior right now. Fabio assumes that the consul cluster is vital and won't drop routes on consul outages. It cannot reasonably infer what the right answer to this situation is therefore it does nothing. However, I get your point and may make sense to add an option to control this behavior leaving the default at the current behavior. Then you could choose

[2017-11-26 21:12] magiconair commented on #393
The current work around would be to detect that the connection to consul is gone and restart fabio. However, if fabio cannot connect to consul at all it won't start the listeners so you won't even get a `404 Not Found`.

[2017-11-27 00:50] beyondkmp commented on #393
You can implement it like nginx, add max_failed params. Then when fabio failed about max_failed times , delete or the route.

[2017-11-27 09:06] magiconair commented on #393
OK, I'll have a look. Out of curiosity and since you are the first one to request this feature: How come the network between fabio and your consul cluster is broken for extended periods of time? I realize that everything can break but usually when your consul network connectivity is broken you have bigger things to worry about.

[2017-11-27 22:09] leprechau commented on #393
I may be wrong but I think @beyondkmp is describing the situation where fabio and the consul cluster it is attached to are healthy.  The consul health checks are passing because the agents responsible for those checks can reach the services but fabio cannot reach those services.

Something like:

fabio (10.1.0.12) -> consul localhost:8500
service (172.16.0.22) -> consul localhost:8500

The consul

[2017-11-28 00:18] beyondkmp commented on #393
@leprechau I have the same problem with you. Now I write a python script to check that the network is ok. If not, I will delete this route through my script(route del command).

[2017-11-28 00:55] magiconair commented on #393
Hmm, that sounds like a case for a circuit breaker. I think fabio should do that to protect itself.

[2017-11-28 06:11] pjebs opened #394 "UDP support coming?"

[2017-11-28 08:18] magiconair commented on #394
Yeah, I had thought about this a while ago. Shouldn't be too difficult. What's your use case?

[2017-11-28 08:56] pjebs commented on #394
I have a program in a docker container that listens to udp

[2017-11-28 09:10] magiconair commented on #394
Any special requirements in terms of performance and throughput?

[2017-11-28 09:14] pjebs commented on #394
It would be nice if it could match nginx

[2017-11-28 09:32] magiconair commented on #394
What does that mean? Can you provide numbers?

[2017-11-28 09:36] pjebs commented on #394
Just a joke. As fast as possible is nice.

[2017-11-28 09:36] pjebs commented on #394
Not expecting nginx performance in immediate future

[2017-11-28 13:59] tino commented on #392
That would be awesome! I'm up for working on a PR, but I've got no idea where to start atm ☺️

[2017-11-28 15:40] tino commented on #281
`weight 0` doesn't work in my testing (v1.5.2), as it sets the weight to be balanced, as is also mentioned in the Route weight docs: https://github.com/fabiolb/fabio/wiki/Routing#route-weight

[2017-11-28 19:21] stevenscg opened #396 "Static / Manual routes management via API"
I have a use-case where a large number of hostnames (or subdomains) (dozens to a few hundreds) need to be set for a particular consul service. While the number of hostnames is a problem and unwieldy to put into the job file, the hostnames can be added and remove programmatically as customers are provisioned.

I couldn't find any documentation on how to do this via the API, but figured out GET/PUT

[2017-11-28 19:46] magiconair commented on #396
The idea of the config language approach is that the routing table has a human readable text format where multiple fragments are just concatenated and parsed into a runtime representation. Right now, one fragment is generated from the service tags in consul and the other fragment comes from `/fabio/config` in the consul KV store. This approach makes parsing simple and robust but doesn't lend itsel

[2017-11-28 19:49] magiconair commented on #396
To find out on which ip addresses and ports `app` is running you can run a consul or DNS query

[code]

[2017-11-28 19:50] magiconair commented on #396
Depending on how you implement this you could use the consul watches for this:

https://www.consul.io/docs/agent/watches.html

[2017-11-28 20:27] stevenscg commented on #396
Thanks @magiconair!

The current design certainly makes sense and I like the suggestion of regenerating the routing table with a script in consul. Will try that.

Using multiple consul kv nodes under `fabio/config` is really interesting and has solid semantics for those of us that work with Consul regularly. I don't see the 512KB as a limiting factor right now.

However, having to watch/manage the

[2017-11-28 20:29] magiconair commented on #396
Now I get it. fabio could allow you to provide a template which fills in the `host:port` so that you just provide the service id and fabio pulls the address itself. That's an interesting case and shouldn't be too hard to add.

[2017-11-28 20:33] stevenscg commented on #396
@magiconair Yup, I think so! I was just trying to replicate what we do in consul service tags with `urlprefix` to wire up routes.

[2017-11-28 20:56] #385 closed

[2017-11-30 21:09] RiRa12621 opened #397 "make log compatible with the syslog protocol"
fabio currently is capable of logging to syslog if you tell it to but the problem with that is that it does not follow the regulations given in https://tools.ietf.org/html/rfc5424
therefore it is not possible to properly extract different severity levels from syslog with tools like rsyslog
the fix should be to use a library like https://github.com/hashicorp/go-syslog
and make a switch in the logge

[2017-11-30 21:15] magiconair commented on #397
Good to know. I'll have a look.

[2017-11-30 21:16] RiRa12621 commented on #397
i put a ticket on our internal board to get some time for this so that either @sielaq or me can work on this an bring a pull request

[2017-11-30 21:17] magiconair commented on #397
@RiRa12621 That would be even better :)

[2017-12-03 23:44] thepolina opened #399 "Typo in manual overrides stops Fabio from updating routes"
I noticed pretty weird issue:
If you add route to manual overrides with a typo, Fabio doesn't give you error message when you save it.
This message is appearing in logs:
`2017/12/01 05:48:32 [WARN] line 26: syntax error: 'route add' invalid`

Also it seems that Fabio stops updating routes since it has a typo in manual overrides. When services go down and come back with a new IP address Fabio keeps

[2017-12-03 23:46] #379 closed

[2017-12-03 23:51] magiconair commented on #399
Unfortunately, this is a known issue and a duplicate of #282. Fabio should probably ignore the bad line and log the syntax error instead of blocking all updates. Neither approach is fully satisfactory but not updating the routing table at all because of a typo has the bigger impact. I'm going to close this as duplicate but please subscribe to #282 for updates.

Duplicate of #282

[2017-12-03 23:52] #399 closed

[2017-12-03 23:53] magiconair commented on #282
I'm going to make fabio ignore syntax errors in routes and just log about them. Blocking the update of the routing table isn't a good approach.

[2017-12-04 06:18] kelvinji2009 commented on #394
UDP proxy support is good for IoT. :)

[2017-12-04 07:56] magiconair commented on #214
I don't think that I'm going to add that. The routing table is constructed from what is there and not from what is not there. That's the whole point of fabio. Please let me know if I'm missing something fundamental and I'll revisit this. Hope you're still happy with fabio :)

[2017-12-04 07:56] #214 closed

[2017-12-04 08:15] magiconair commented on #394
Indeed

[2017-12-04 09:59] sielaq opened #400 "Fabio is not handling SIGHUP (HUP) signal properly - it dies"
Usually `HUP` signal is being used to reload configuration (like in consul)
(for example can be used in systemd when reloading/upgrading package) .

Kindly please make fabio survive at least,
or in best scenario reload config when HUP signal is detected.

[2017-12-04 12:45] magiconair commented on #400
That is somewhat intentional. The architecture isn’t designed for hot reload since that’s something that shouldn’t happen often enough to need this. Which problem are you trying to solve?

[2017-12-04 12:52] tino commented on #400
"shouldn't happen often enough" still means => I need to find time when I can incur downtime (albeit short). I agree with sielaq that this is the "default" behaviour of most daemon processes.

I would for example use it when adding new listening ports for an TCP proxy implementation, FTP for example.

Of course this can be done staggered when multiple fabio instances are used, but being able to co

[2017-12-04 13:33] gregoryguillou commented on #214
I am, very much and we are using it for more than 1 year now. I especially like the access log now to monitor internal calls. I assume I should try to implement it at some point.

[2017-12-04 13:50] magiconair commented on #400
I’m not saying it can’t happen but this is not a trivial change and if you need to do this only once every three months then this would have to wait. Especially, dynamic listeners is something I’d like to have but they should show up when a service registers the port and disappear with the last instance.

[2017-12-04 13:50] magiconair commented on #400
Also downtime is a couple of seconds

[2017-12-04 14:28] leprechau commented on #400
This is indeed not trivial and even load balancers that implement reload still have downtime.  HAProxy is a perfect example where you can reload an entire configuration but there is much more to consider.  What happens to existing connections if the route to them is deleted?  What about websockets and other long-running connections that prevent a graceful shutdown and reload?  That's just a few of

[2017-12-04 14:56] tino commented on #400
Agreed

[2017-12-04 15:17] sielaq commented on #400
true, but then it shouldn't just die.
Rather informing `[INFO] restart/reload has to be done in a controlling way. Application will not be reloaded.`
and let fabio still running.Otherwise we have to overwrite the daemon's behavior in systemd for something hack'y like:
[code]

[2017-12-04 15:19] magiconair commented on #400
How often do you have to apply changes to the config that require a restart? If you do a restart with a graceful period of 1 sec fabio will have restarted within 2 sec. How much of an impact is that?

[2017-12-04 15:26] sielaq commented on #400
As I said, it is not always about changing config - it about upgrading fabio in a Debian/Ubuntu way.
Since we do Debian wrapper package for Fabio, each installation triggers (by default, not by us)
service reload -  which makes Fabio crash (since it doesn't handle with HUP signal).

As I said - we can overwrite systemd behavior - but better is to align all "perfect trinity" :pray: behavior (consul

[2017-12-04 17:16] pklingem commented on #389
I don't see this issue listed in the existing milestones, is this to be included in 1.6 or in a 1.5.x release?  And is there an ETA on that release?

[2017-12-04 17:16] magiconair commented on #400
It could ignore the HUP signal. For now I suggest to change the systemd config

[2017-12-04 17:23] magiconair commented on #389
I've tagged it now for 1.6 but I'll probably roll a 1.5.4 for this since the metrics refactor takes longer than expected.

[2017-12-04 17:23] magiconair commented on #389
Will be released this week.

[2017-12-04 18:30] tomwganem commented on #394
+1

[2017-12-05 08:54] #87 closed

[2017-12-05 08:57] magiconair commented on #87
Finally, this got added. Thanks a lot @ctlajoie

[2017-12-05 12:38] urosgruber opened #401 "Add option for addPrefix"
Let me first explain our uses case here as it might be all possible with the current implementation and I just missed how.

We have a web service that has a few small websites deployed *http://service1.consul/site1*, *http://service1.consul/site2*. And we would like to have a config option to say
`http://site1.com` proxy to `http://service1.consul/site1` and `http://site2.com` proxy to `http://ser

[2017-12-05 14:06] magiconair commented on #401
Yes, you'd use `urlprefix-site1.com/ strip=/site1`

[2017-12-05 14:08] magiconair commented on #401
Path mangling is not supported at the moment. Your `service1` would need to respond to `/`.

[2017-12-05 14:27] magiconair commented on #401
I would be open to a PR. The reason I've resisted so far is to avoid fabio trying to become nginx. However, I can see why this could be useful in some cases. Maybe, we can generalize `strip` option to `prefix={+,-}/path` where `strip=/path` would be translated to `prefix=-/path`.

[2017-12-05 17:23] ethicalmohit opened #402 "Fabio for task/container/service load balancing on amazon ecs with consul and registrator."
Hey Guys,

Help needed to set up Fabio for load balancing of services on Amazon ECS.
I have set up Amazon ECS cluster with Consul - For service discovery and Registrator - To register/de-register the tasks to the consul server. I am able to discover service using DNS/HTTP and I am getting different IP/Ports(Dynamic Host Port). I need to setup Fabio to balance the load above those tasks/containers

[2017-12-05 17:53] urosgruber commented on #401
Ok, let me try to do something I had in mind and you can decide if it's ok.

[2017-12-05 19:04] magiconair commented on #402
From first reading I'd say that is exactly what fabio does. You register services in consul with their `host:port` and a `urlprefix-` tag which announces the `/path` (http) it can handle or the public `:port` (tcp) it should be contacted on and fabio does the load balancing. Somehow I think I'm missing something here.

Can you try to explain it in a different way?

[2017-12-05 19:11] ethicalmohit commented on #402
Thanks Frank for your reply.
Right now, I have not registering service to the consul. Registrator is does that automatically. As you run the registrator on Amazon ECS cluster, It picks up the task running in there and add them up in consul. Is there any other way to do that? Or Anyway to ask regiatrator to append tags while registering services?

[2017-12-05 20:23] magiconair commented on #402
registrator has a command line option which allows you to add tags.

http://gliderlabs.github.io/registrator/latest/user/run/

[2017-12-06 00:00] discobean commented on #394
It might come or it might not :P

[2017-12-06 00:02] magiconair commented on #394
I'll do it. Can't be that hard, can it? (famous last words)

[2017-12-07 12:40] ethicalmohit commented on #402
@magiconair Hey, Thanks, man. Is there any way to pass the -tag parameter with the docker run?

[2017-12-07 13:00] magiconair commented on #402
Not that I know of since Docker does not handle the service registration. That’s what the registrator does. I could write a small app myself which does the same thing.

[2017-12-07 13:01] leprechau commented on #402
Registrator will read environment variables from the container to set the service name, port and tags sent to consul.  You can put those in a docker-compose file, in the actual Dockerfile, or via docker cli with the -e switch.

[2017-12-07 13:10] leprechau commented on #402
See here for the general service options look here under metadata and examples:

https://gliderlabs.com/registrator/user/services/

Heath checks (you will need one) here under the consul backend:

https://gliderlabs.com/registrator/user/backends/

[2017-12-07 13:37] ethicalmohit commented on #402
@leprechau It just needs a -tag parameter while running the registrator, as mentioned by @magiconair . I will just run the docker command as mentioned in the registrator docs. I am not creating the docker file for registrator. Do you want me to create a Dockerfile with the "-tag" parameter?

Docker run command for registrator:

[code]

[2017-12-07 13:53] leprechau commented on #402
You need consul to register the service with the ‘urlprefix-‘ tag and setup a health check for the service before fabio will publish it.  To do that via registrator only using ‘docker’ without a modified Dockerfile or a compose file you will need to pass the various ‘SERVICE_’  environment variables to define the service entry and health check.  This is exactly what we do with our non-consul aware

[2017-12-07 13:55] leprechau commented on #402
You don’t need to pass anything to the registrator run command ... you need to pass environment settings to the containers you want registrator to handle.

[2017-12-07 14:14] leprechau commented on #402
The `-tags` option to registrator itself is global.  It doesn't make much sense to set the exact same `urlprefix-` tag on every service.  You want that tag to be reflect the actual path and/or port of each service so it should be set per container.  That is why you want to use the environment variables and the various `SERVICE_` options such as `SERVICE_NAME` and `SERVICE_TAGS`.

[2017-12-07 15:12] leprechau commented on #402
@magiconair Seems like this question has come up before.  Would you like a PR with some documentation around fabio+registrator in the wiki?  Possibly under the `Service Configuration` section?

[2017-12-07 15:14] magiconair commented on #402
@leprechau That would be great. I think you can just edit the wiki yourself.

[2017-12-07 15:15] leprechau commented on #402
Okay, I'll give it a go.

[2017-12-07 15:16] leprechau commented on #402
You already have a full example there for registrator.  I just didn't see that before.

[2017-12-07 15:17] magiconair commented on #402
I forgot about that as well. Someone else provided that to me. Maybe add a link to a more prominent place?

[2017-12-07 15:19] leprechau commented on #402
Could just link the registrator information into the side menu?

[2017-12-07 20:00] magiconair commented on #402
I've added also a link to the Docker compose example to the side menu.

[2017-12-07 21:50] magiconair commented on #402
@leprechau thx for adding the link.
@ethicalmohit do you have all the info you need?

[2017-12-10 00:24] #400 closed

[2017-12-11 05:22] ctlajoie commented on #87
You're welcome. Was a pleasure working with you on the PR. 👍

[2017-12-11 13:29] awalterschulze commented on #325
I found a solution here
https://github.com/containous/traefik/blob/7399a83c747a4fef9942cca72643a363bb62b617/middlewares/accesslog/capture_response_writer.go

[2017-12-11 20:34] magiconair opened #404 "Build and deploy with goreleaser"
https://goreleaser.com/ handles a lot of the use cases the current build scripts do and also pushes the artifacts to github and Docker. My goal is to release new features faster since the release process is then highly automated.

I've got a test setup working but there are two outstanding issues that need to get fixed first:

* GPG signing (goreleaser/goreleaser#452)
* Docker name injection (gore

[2017-12-11 20:36] magiconair opened #405 "Build new website"
Fabio has a wiki for documentation but I'd like to have something nicer looking and with more structure so that there is room for use cases, examples and deployment scenarios. It wouldn't help to be a bit prettier as well.

github has the jekyll pages but this looks like a good case to play with https://gohugo.io/

[2017-12-11 20:47] magiconair commented on #405
Users must be able to create PRs for the website content and updating the site should be automatic.

https://netlify.com/ looks like a good solution for this and they support Hugo. The only challenge is that the theme I chose is not free so it can't be stored it in a public repo.

Two options:

* public repo with the `content/` folder, private repo with the full site and the `content/` folder as s

[2017-12-12 01:28] k1ng87 opened #406 "fabio url prefix not working with anything except `/`"
I'm having in issue where I can't get my nomad job to route with Fabio with anything except `/`

for example...this works:
[code]

but this errors out..

[code]

and it throws this error when I go the link:

[code]

[2017-12-12 02:08] magiconair commented on #406
Something wants to request `/error` but there is no mapping since your service is only announcing `/cpm`. Everything else will return a 404 Not Found. You need to have a service that can handle `/error` or add a second tag on the cpmservice if it handles it.

—
Frank Schröder

[2017-12-12 02:29] k1ng87 commented on #406
I'm a bit confused on that then...so if I configure the tag like this `tags = ["urlprefix-/"]`...shouldn't I get the same error then?

this is the case on all nomad jobs too....for example...on another job if I tag it like this, `tags = ["urlprefix-/"]`...that works when I go to this link: http://nomad-clients-dev-e.aws-dqa.cb4good.com/jolokia/search/kafka.consumer

but if I tag it like this: `tag

[2017-12-12 20:26] nkissebe opened #407 "Excessive TLS handshake error logging"
I am behind an Amazon ELB which gets probed with a lot of non-TLS traffic which fabio is logging as

invalid log msg: 2017/12/12 20:21:35 http: TLS handshake error from 10.65.241.135:19568: EOF

Note the "invalid log msg", I'd like to be able squash these messages by setting the log level to INFO or something but I don't think they are being logged properly to be filtered. It would be even more us

[2017-12-12 20:30] nkissebe opened #408 "Excessive consul logging"
Maybe I have something misconfigured in consul (very possible) but fabio logs a lot of messages like

2017/12/12 20:27:27 [INFO] consul: Manual config changed to #4980182

nearly every second. If that is normalish then I don't think it is very useful at the INFO log level and should be at the DEBUG level as it provides no useful information unless you were heavily into debugging something. Just my

[2017-12-12 20:38] nkissebe opened #409 "Vault Certificate Store Documentation"
Documentation inside fabio.properties for certificate stores needs to be updated or removed and replaced with a link to https://github.com/fabiolb/fabio/wiki/Certificate-Stores

In particular the documentation in fabio.properties for the vault certificate store doesn't document how the certificate should be stored in vault. I spent many hours trying to put them in vault in a fashion similar to the

[2017-12-12 20:39] magiconair commented on #407
This new comes from https://github.com/fabiolb/fabio/blob/master/logger/level_writer.go#L35 which is probably triggered by a `log.Print` without a prefix. I’ll grep through the code later.

[2017-12-12 20:42] nkissebe opened #410 "Crash with extra "directory" in vault path"
fabio crashes with stack trace if (using the example from certificate store wiki) if there exists an extra "directory" level in the vault path.

e.g.

cs=mystore;type=vault;cert=secret/fabio/certs

But there also exists a level of secrets under secret/fabio/certs/old-certs/

Not that I wanted to have it there, but I accidentally had one and fabio blew up with it there which I figured wasn't ideal.

[2017-12-12 20:42] magiconair commented on #408
That means your consul state changes every second. Check for flapping services or - more likely - volatile data in the health check output. Like time stamps or process ids or something else that changes every time the check is executed. There are mitigation procedures on the consul side. It in general I advise to try and fix the root cause first.

[2017-12-12 20:44] magiconair commented on #409
Thanks for pointing that out. I’ll update the wiki. FWIW, vault can be used in two modes: as encrypted KV store and as an on-demand CA.

[2017-12-12 20:45] magiconair commented on #410
Thanks. Can you provide the stack trace and the version you’re using? I’ll fix that.

[2017-12-12 20:46] nkissebe opened #411 "Feature Request: Override ca-certificates.crt"
When using the docker container it would be nice to specify a different ca-certificate.crt file. I know its easy enough to volume mount a file in, but I might map it in via nomad's /local path if I had the option. Just an idea.

[2017-12-12 21:20] nkissebe opened #412 "Feature Request: More proxy header information"
Maybe its already possible to do this, but an afternoon of playing with the proxy headers didn't get the result I wanted last week.

I am running fabio behind an Amazon ELB and it is able to correctly pull out the source IP address but I would also like to see a record of what Amazon ELB ip address it went through so that I can create a page that shows full path the request went through (source ip

[2017-12-12 22:34] magiconair commented on #411
I’m not a Docker expert. If you have a suggestion on how to build or run the container better then please let me know. I’d also like to have more practical use cases as examples. Working on a new website with more room for these things as we speak.

[2017-12-13 15:10] taemon1337 commented on #213
I think this is a valid use case, for me as well.

Some clients/services that are using the fabio load balancing may want to use its HTTPS termination for free while others may want TCP+SNI for end-to-end encryption with their own certificate.

p.s. great work on fabio!

[2017-12-14 13:06] taemon1337 commented on #213
Duplicate of https://github.com/fabiolb/fabio/issues/169

The tcp+sni is an awesome feature which is one of the reasons we are looking to use fabio for client load balancing, and would definitely like the flexibilty to choose tcp+sni or https termination.

[2017-12-14 13:23] magiconair opened #413 "Enable users to pay for priotization of features or fund future development"
I've recently became a freelancer and I'm trying to figure out which model could work so that users could pay me to prioritize features they want or fund future development.

The requirement would still be that the code remains open source.

https://patreon.com maybe?

How are others doing this?

[2017-12-14 13:24] magiconair commented on #213
#413 could become relevant for this. Feel free to comment on that issue if that is a viable path for you.

[2017-12-14 15:07] deuch commented on #411
Or put the ca-certificate in a docker secret and retrrieve it on the container statup. With that, you do not need to mount volume. In the fabio config file, use the /run/secret/my-ca-certificate-crt (your secret name) as a ca-certificate.
Does it make sense ?

[2017-12-15 10:58] alvaroaleman commented on #216
So, I just found this after testing Fabio and finding out it doesn't remove routes for unhealthy services which was caused by non-unique service IDs. To quote the fabio docs regarding that:

This directly contradicts the [Consul docs](https://www.consul.io/api/agent/service.html#id) which state:

@magiconair Can you explain what is the reason fabio requires the service id to be unique per consul c

[2017-12-15 11:06] magiconair commented on #216
@alvaroaleman the reason it is like this was that I've built it like that in 2015 since that was my understanding on how this worked. So far this hasn't been a big issue. We've constructed our service ids as `servicename-host:port` which should make them unique cluster wide with little effort. #383 is probably along the same lines.

Can you elaborate why cluster wide unique service ids like I've d

[2017-12-15 11:31] alvaroaleman commented on #383
Ill just continue our conversation from #216 here since this issue here is more specific about the same problem.

Well, it is achievable but the Consul doc explicitly states that this is not required so people won't be doing it. This also means if someone doesn't explicitly test this he or her will only realize on service failure that Fabio expects Consul to be used in a different way than the act

[2017-12-15 11:33] magiconair commented on #383
No. PR would be very welcome :)

[2017-12-15 13:38] ethicalmohit commented on #402
@magiconair Thanks a lot.

[2017-12-15 13:38] #402 closed

[2017-12-16 14:03] #56 closed

[2017-12-20 15:02] stevenscg commented on #413
Hey @magiconair. Just checking in on the project and found this issue.

I can think of a few features that would be extremely helpful for my use cases. What's the best way to get in touch with you? Gitter PM?

Also, how can we can help get the word out to the community for this? I mentioned it in the nomad gitter room a few minutes ago.

[2017-12-20 16:12] magiconair commented on #413
Hi @stevenscg, that would be cool. Please DM me on Twitter @magiconair.

As for getting the word out: maybe do the first one and then tweet about it? Depending on the feature write a blog post and see whether this is interesting for a conference. I’m open for suggestions.

[2017-12-21 18:42] magiconair commented on #413
I'm also looking at https://opencollective.com. Still playing with this: https://opencollective.com/fabio

[2017-12-21 20:35] #383 closed

[2017-12-21 21:22] dropje86 commented on #216
@magiconair this can be closed as well, fixed in #414

[2017-12-21 21:29] #216 closed

[2017-12-22 20:02] jcomeaux commented on #393
Just wanted to chime in here that this would be a very important feature for our environment; we really like the ability to frequently replace our ec2 infrastructure on a rolling basis.  Right now, we have a management type VPC in which the consul servers live, but the machines were fabio runs are on our "staging" and "production" app servers.  We see regular issues when we're doing rolling replac

[2017-12-23 21:43] magiconair commented on #405
I've moved the website to the `docs/` folder from where it gets deployed with https://netlify.com/

[2017-12-23 21:43] #405 closed

[2017-12-23 21:45] magiconair commented on #343
@smalot Is that still an issue for you since I'd like to pick that one up.

[2017-12-23 21:48] magiconair commented on #396
### Incremental route updates

The issue with incremental route updates is that they are unbounded. So just
keeping a list of all changes and applying them every time won't work.

fabio uses Consul for service discovery and coordination so pushing an
external routing table into a separate Consul KV node seems like the simplest
thing to do.

Consul has a 512KB limit on KV store nodes which translat

[2017-12-24 21:41] magiconair commented on #393
So the issue is that according to consul fabio can route traffic to a service but then discovers that it can't for whatever reason.

Since the `ServeHTTP` method doesn't bubble up the error I could translated this into some unused status code, e.g. `1504`, disable the route and return `504 Gateway unavailable`. This would handle the detection of the situation.

Then I'd need some code for the back

[2017-12-29 08:55] maxadamo commented on #33
this is still a problem. The issue is old, but after two years not all the applications are stateless. If you have weblogic or jboss you share a session ID among the cluster. If you don't have a clever application server, and you can't change the code of your application, you need to ask your load-balancer to perform the task.
If it's not a mobile app, you have plenty of options. Linux LVS is perf

[2017-12-29 10:44] magiconair commented on #393
A narrow view of the problem would only look at "connection refused" or "i/o timeout" errors because of faulty network configuration. This would be a protection mechanism for fabio since Consul should reflect the true state of the cluster.

Ideally, a circuit breaker for this failure should be per `host:port` and not per route since a service can have many routes. However, the challenges described

[2017-12-29 13:37] magiconair commented on #393
I've started working on this having a single threaded circuit breaker monitor which gets OK/FAIL events from the proxies. The monitor will then issue a routing table fragment which will delete all routes that match the breaker. Once a breaker becomes ready again the `route del` command will be removed.

The config language was updated to support deleting all routes for a given destination, e.g.:

[2017-12-29 18:24] jcomeaux commented on #393
This looks great Frank! This certainly addresses our situation of a Consul that may "go away", but also handles spurious network disconnections between the monitor and proxies.

Would it make sense to have the ok/fail thresholds configurable for the monitor?  Also, I'm assuming "once a breaker becomes ready again" means that we've gotten updated information from Consul?

[2017-12-29 19:20] magiconair commented on #393
I will make the breakers configurable. As usual there is the challenge of making this configurable per route or globally but since we're talking basic networking errors I will start with a global config value.

The breakers are independent from Consul since the idea is that Consul knows the state of the cluster. Once Consul becomes available again fabio will already pick up the new routing table b

[2017-12-30 19:35] stevenscg commented on #396
@magiconair https://github.com/fabiolb/fabio/pull/417 looks good to get around the consul 512KB limitation.

Option 2 above ("Services are defined separately as part of the routing table") looks interesting.

This would allow a service to be targeted for routing even if it was not in the consul service catalog, right?

If `svc-a` is already registered in consul, could it be defined like this?
[cod

[2017-12-30 22:30] magiconair commented on #396
The goal of the config language is to provide a textual representation of the routing table so that humans and machines can read it. Otherwise, manual changes would require a different syntax. The `urlprefix-` tag is already a different representation of the same `route add` command with a slightly different syntax.

[code]
becomes
[code]

When I've developed fabio, nomad didn't really exist and w

[2017-12-31 09:34] nir0s commented on #223
Um.. you can just run

`docker run -p 9999:9999 -p 9998:9998 --net host fabiolb/fabio` and it will use the host's network, where the consul port should be available.

Of course, this will work assuming that you don't provision fabio instances dynamically.

[2017-12-31 12:25] sprutner commented on #223
Thanks nir0s. I solved that problem many months ago. We are running this in Nomad so `docker run` is not really relevant...thanks.

[2018-01-02 06:41] nir0s commented on #223
Glad to hear. Actually wrote it for future reference..

[2018-01-04 02:06] ctlajoie commented on #408
@magiconair I also have an excessive number of these in my logs. Every few seconds or so, and sometimes several in rapid succession. None of my services are flapping. I think maybe the consul state changes every time a check is performed. I have many service checks that are performed every 10 seconds. I agree with OP, I think DEBUG level would be more appropriate for these messages.

[2018-01-05 07:57] magiconair commented on #408
@ctlajoie no time stamps in the health check output? I’ll switch that to debug and work on the consul change rate indicator.

[2018-01-05 08:35] #408 closed

[2018-01-05 08:58] slackpad commented on #408
This issue (https://github.com/hashicorp/consul/pull/3642) fixed in 1.0.2 could cause a lot of extra churn for services with tags.

[2018-01-05 08:59] magiconair commented on #408
Thanks @slackpad

[2018-01-06 05:13] rurounijones commented on #413
A way that I can assign a bounty to a feature would be really good. Something like https://www.bountysource.com/ maybe?

[2018-01-09 21:01] sean- commented on #358
I'm going to be revisiting this in the next week now that lucas-clemente/quic-go#1097 has gone in.  Initial testing showed sub-optimal transfer rates over WAN links, but now that the performance is parity, I'm going to devote some cycles to this.

[2018-01-10 13:15] inmchfw opened #419 "[question] Newbie question: where to place urlpref-host/path?"
Hi all,

I hope you guys are well. I got fabio installed in a nomad client cluster and consul reports they are running. What I am stuck at is step 4: where should this urlprefix-host/path go? Where to register? Any hints?

[code]

Thanks

[2018-01-10 13:48] inmchfw commented on #419
oh.. just figured it out. it should be in nomad job spec.

[2018-01-10 16:15] magiconair commented on #419
I’ll add a comment to the QuickStart. Glad you e found it.

[2018-01-18 02:03] craigday opened #421 "Fabio routing to wrong back end"
We are experiencing multiple instances of Fabio routing requests to the wrong backend service. Once it starts happening it persists, typically until some change is made to the routing table by a service restart or similar. It's quite catastrophic because once it starts happening it's as if a whole bunch of URL/endpoints just disappear and start returning 404 not found because the requests are land

[2018-01-18 06:05] magiconair commented on #421
The quickest way for me to reproduce this would be to have the full routing table and the request that gets misrouted. Can you provide that? DM me on Twitter if you need a secure channel first.

—
Frank Schröder

[2018-01-18 16:25] johnjolet opened #422 "configure equivalent of nginx client_max_body_size"
We are moving a service from behind nginx proxies to containers behind fabio.  we currently, for some locations, override the default client_max_body_size, and i can't find any reference for what that sort of limit is in fabio, or how i'd override it.  I may need to set it as high as 12M (i'd prefer to do that on a per-route basis, but would be willing to do it on a per-listener basis, like the rt

[2018-01-18 19:10] magiconair commented on #422
I don't think there is a limit and if you need a limit I would have to add that. The simplest thing is to add a global option but I think a per-route parameter is also not more difficult. Is not having a limit a blocker for you using fabio at all?

[2018-01-20 00:49] johnjolet commented on #422
no, not having a limit is not a blocker.  having a limit i can't modify would be.  Thanks!

[2018-01-20 00:50] #422 closed

[2018-01-22 16:07] Gufran commented on #340
@magiconair I wish to work on this but I'm going to need a helping hand.
It looks like most of the work is implementing the fastcgi client. [Caddy][] has a robust fastcgi client implementation that can be borrowed under Apache2 + BSD license.

If I'm correct about rest of the rig, I'll need to add another listener in `proxy` package and its configuration options in `config` package, register the l

[2018-01-22 18:53] drawks commented on #211
Any updates here?

[2018-01-23 15:26] leprechau commented on #168
I found a small package the other day that may assist with some of these requests and would definitely take care of my needs and hopefully address others as well.

https://github.com/unrolled/secure

@magiconair Would you be interested in a PR that used that package and allow passing options to it via the existing `opts` tag?  Maybe something like `opts secure.STSSeconds=31536000 secure. STSInclud

[2018-01-27 17:47] systemfreund opened #427 "Fabio does not remove service when one of the registered health-checks fail"
Given a service that has two health-checks and one of them is failing, fabio still considers that service to be healthy. According to https://github.com/fabiolb/fabio/blob/master/registry/consul/passing.go this behaviour is intended and not a bug.

My question would be if this behaviour is really intended, or maybe is the implementation just a too simplistic one that could be improved?

[2018-01-27 18:51] magiconair commented on #211
I've started and got distracted with family and personal stuff. Sorry man. I'll give it another push.

[2018-01-27 18:53] magiconair commented on #427
I don't know. What would you expect to happen?

[2018-01-27 19:13] systemfreund commented on #427
In my particular case I'd expect fabio to remove the route. I am not saying that the current implementation is wrong, neither would my particular expectation be general enough for all use-cases.

Making it configurable would perhaps be the best option:
* All health checks must pass (my use-case)
* At least one health-check must pass (current behaviour)

I can live with the current limitation and r

[2018-01-27 21:34] magiconair commented on #427
I can’t decide on what’s right for every setup so this should be configurable then. You want to send a PR?

[2018-01-29 05:39] saravanakumar-periyasamy opened #429 "Support for opentracing"
Fabio needs to emit the opentracing standard headers, and so it can participate in the distributed tracing.

[2018-01-29 06:18] magiconair commented on #429
Can you provide an example? Would you be interested in submitting a PR?

—
Frank Schröder

[2018-01-29 15:42] saravanakumar-periyasamy commented on #429
yes, I am planning to work on this.

Here's a quickstart on how to do it in golang. http://opentracing.io/documentation/pages/quick-start#go

[2018-01-30 17:38] slackpad commented on #427
Consul internally for deciding whether to return an instance in a DNS query will AND all the service-level check statuses as well as the node-level ones, so if any are failing it is taken out of service.

[2018-01-30 19:18] magiconair commented on #427
@slackpad Thanks. That's good to know. In that case fabio should behave like Consul. Adding the setting and switching to 'strict' in a later release seems like the right approach.

[2018-01-31 10:58] far-blue opened #430 "Vault PKI documentation and Fabio version"
Hello :) Just a small one. The week and website state that Vault PKI requires Fabio v1.6 but v1.6 doesn't exist and the functionality looks like it was made available in v1.5.3

[2018-01-31 11:14] magiconair commented on #430
Thanks. Can you send a PR?

[2018-01-31 13:04] #430 closed

[2018-01-31 13:04] magiconair commented on #430
nvm. Fixed it. Thanks again.

[2018-02-02 05:30] craigday commented on #421
Thank's Frank. What's the best way or format to capture the routing table? The table doesn't actually change very often, and AFAIK, the table as it is now will be the same as when the failure starts to occur.

[2018-02-02 06:08] magiconair commented on #421
@craigday try `curl localhost:9998/api/routes?raw` or set `log.routes.format = all`

[2018-02-02 08:34] #369 closed

[2018-02-02 09:10] magiconair opened #433 "Ensure that proxy.noroutestatus has three digits"
`proxy.noroutestatus` should check for that since a test fails with go1.10.

[2018-02-02 09:29] magiconair opened #434 "VaultPKI tests fail with go1.10rc1"
[code]

[2018-02-02 09:29] magiconair commented on #434
Asked @pschultz whether he could have a look.

[2018-02-02 21:26] #433 closed

[2018-02-02 21:28] #396 closed

[2018-02-02 21:39] magiconair commented on #396
Ah, I think I've closed that one prematurely since this refers to multiple issues. #417 only addresses the 512kb limit. @stevenscg shall we pick the discussion up again if this is still relevant?

[2018-02-05 13:38] marcosnils commented on #211
@magiconair I'd love to use this feature natively instad of the statsd prometheus exporter. Do you need a hand with this?. Do you have a branch with this feature where I can collaborate?.

On a different subject Hashicorp's Nomad uses their on `go-metrics`  (https://github.com/armon/go-metrics) package that translates metrics directly to graphite, statsd and prometheus. I haven't evaluated how dif

[2018-02-05 13:52] magiconair commented on #211
@marcosnils I'd love to have some help here to push this forward. I have an idea on how to do this since the problem is a bit bigger than just supporting prometheus. Look for the issues tagged `theme-metrics`. In short, none of the existing metrics libs solve all the problems and there needs to be some fabio specific glue code. My current thinking is to write a layer which handles the naming issue

[2018-02-05 13:53] magiconair commented on #211
If someone else wants to help with this, too then pls just shout out.

[2018-02-06 02:10] magiconair commented on #434
`AppendCertsFromPEM` fails here https://github.com/fabiolb/fabio/blob/master/cert/source_test.go#L656 when trying to add the cert which leaves the `caPool` empty and then generates the error. Trying to understand why.

[2018-02-06 02:11] magiconair commented on #434
[code]

[code]

[2018-02-06 08:12] #434 closed

[2018-02-06 08:12] magiconair commented on #434
Changing the common name of the generated cert to a DNS compatible name fixes it.

[2018-02-07 11:23] DennisPersson commented on #244
Any updates on when / if the `issue-244-grpc` branch is expected to be merged to master? We have confirmed that this branch seems to work fine proxying our gRPC services (using ´proto=https` and `tlsskipverify=true`).

We cannot get it to work with the latest release however, even when building fabio with go1.10rc1, where the fix mentioned above (golang/go@1611839) is supposed to be included.

Tha

[2018-02-07 12:32] DennisPersson commented on #244
Any updates on when / if the `issue-244-grpc` branch is expected to be merged to master? We have confirmed that this branch seems to work fine proxying our gRPC service (using `proto=https` and `tlsskipverify=true`).

But we cannot get it to work with the latest release, even when building fabio with go1.10rc1, where the fix mentioned above (golang/go@1611839) is supposed to be included.

Thanks!

[2018-02-07 12:33] magiconair commented on #244
@DennisPersson Oh wow, I forgot about this one. I will have another look but if you want to help then this would be more than welcome.

[2018-02-07 12:42] DennisPersson commented on #244
@magiconair Thanks for the quick response. Sorry, I don't think I'm familiar enough with Go to help with the coding, would be happy to help with another round of testing before you release if needed though.

[2018-02-07 12:44] magiconair commented on #244
@DennisPersson I've rebased the branch, fixed go vet issues and added the missing dependencies. I need to get up to speed again on the state.

[2018-02-07 12:45] magiconair commented on #244
@DennisPersson I think it would help if you test the branch and let me know what works and what doesn't. The more specific the better.

[2018-02-07 13:39] DennisPersson commented on #244
I did some more testing on the rebased branch; regular service calls seems to work fine still. I noticed this warning message in our Java service, but calls and responses go through (this was present before the rebase as well):

`2018-02-07 14:17:25,277 [grpc-default-worker-ELG-4-2] WARN  io.grpc.netty.NettyServerHandler  - Expected header TE: trailers, but null is received. This means some interm

[2018-02-08 07:31] holtwilkins opened #437 "best way to bypass fabio consul integration?"
Hey there, we're running Fabio `1.5.6-go1.9.2` and Consul `1.0.3`.

Our logs lately are filled with

[code]

[2018-02-08 07:49] magiconair commented on #437
fabio can use a file registry but my guess is that this isn't what you're looking for.

http://fabiolb.net/ref/registry.file.path/

[2018-02-08 07:50] magiconair commented on #421
@craigday Is this still an issue?

[2018-02-08 08:00] holtwilkins commented on #437
It is still using consul for service discovery. Your question made me realise though that I have service “” readable by anonymous , so I could just do the same thing for /fabio/, is that the recommended approach for using fabio with acls?

[2018-02-08 08:17] craigday commented on #421
Yep. Have sent you the routing table just now.

[2018-02-08 08:31] magiconair commented on #437
Fabio needs access to the catalog and the `registry.consul.kvpath` prefix in the KV store. You can either provide an ACL token or give it `read` and `list` permissions. `list` should be required as of 1.5.7 since fabio will then use all sub keys as well.

[2018-02-08 08:33] magiconair commented on #437
If you have a working example I can add that to the docs: http://fabiolb.net/ref/registry.consul.kvpath/

[2018-02-08 18:41] vincenthuynh opened #438 "NoRouteHTMLPath not rendering HTML page"
Hi, is there any documentation on this feature and rendering the html page?
I have the following configured: `registry.consul.noroutehtmlpath = /fabio/noroute2.html`
I then put in a simple html page at the key but it would only show as plain-text on the non-routable url I hit.

How can I remove the `# ---` at the top of the page?

[code]
Thanks!
Re: https://github.com/fabiolb/fabio/issues/56

[2018-02-08 20:01] taemon1337 commented on #153
I am looking at doing an abbreviated integration with Kubernetes (specifically only the TCP+SNI) portion and letting Kubernetes handle the health checking.  I am just trying to implement a custom Backend that will retrieve a list of all Kubernetes services from a REST url and inject those service routes into Fabio's routing table.  I'm not very good with go.

It looks like Fabio stores it's config

[2018-02-08 20:02] vincenthuynh commented on #438
Thanks for the feedback! Yes, reverting to v1.5.6 fixes this!

[2018-02-08 20:48] leprechau commented on #153
There are a few pieces of configuration stored in consul (manual overrides and optional html pages) but the bulk source of route configuration comes from the specified routing backend.

The registry backends all conform to an interface defined in https://github.com/fabiolb/fabio/blob/master/registry/backend.go

Today there are three existing registry definitions: file, static and consul

Supportin

[2018-02-08 22:59] holtwilkins commented on #437
So, I've tried adding read to `fabio/` as well as pointing to another path which already definitely has anonymous read, and I'm still getting lots of permission denied in the consul logs.

Ideally I can just turn off this integration altogether, and make fabio only use consul for service discovery, and not try to lookup anything in the consul kv - is this possible?

[2018-02-09 00:45] taemon1337 commented on #153
Yes, I'm currently working on adding a Kubernetes backend, though because Kubernetes itself handles health checking and service discovery, the only func I think I need to implement is the WatchServices.

If I understand how Fabio works (and this is my question), can I just implement WatchServices such that each Fabio instance gets the list of services directly from the Kubernetes API and adds a ro

[2018-02-09 02:36] RXG0 commented on #86
We are mostly a windows team and would like to know if there are installation instructions and/or binaries for fabio?

[2018-02-09 08:18] magiconair commented on #153
@taemon1337 fabio does not store routes in Consul. You can store routes in consul or some external program. fabio generates its primary routing table from the service information in Consul.

The reason it supports the KV store is that you'd want a way to manually patch a routing table in case of a broken deployment. Or you want to add some routes to services which are not in Consul.

To support k8

[2018-02-09 08:31] magiconair commented on #153
@taemon1337 Didn't see your earlier comment. Yes, `WatchServices` is sufficient. I should probably break that interface up. It is too big.

[2018-02-09 08:34] magiconair commented on #86
@RXG0 Looks like the switch to goreleaser threw the Windows binary under the bus. https://github.com/fabiolb/fabio/releases/tag/v1.5.4 still has windows binaries. I'll manually add the other ones and fix the release process.

[2018-02-09 12:21] magiconair commented on #86
@RXG0 I've added the missing Windows builds for 386 and amd64 to the releases page. 1.5.7 does not build on Windows since I forgot to add a stub function. I'll push a 1.5.7.1 shortly.

https://github.com/fabiolb/fabio/releases

[2018-02-09 12:30] taemon1337 commented on #153
From the k8s api, '/api/v1/services'
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#list-all-namespaces-173

and here is the watch endpoint (i was going to start by just polling the above):
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#watch-list-all-namespaces-176

[2018-02-09 17:52] microadam opened #439 "Feature Request: IP Whitelisting"
Apologies if this is mentioned elsewhere, I couldn't see anything.

It would be great if we could whitelist specific hostnames to specific IP ranges. Not sure if something like that is planned or outside of the scope of this project?

Thanks!

[2018-02-09 18:42] magiconair commented on #439
No this is t supported right now but shouldn’t be too hard to add. How often do these ip ranges change?

Also, no need to apologize :)

[2018-02-09 19:56] microadam commented on #439
Good to know is relatively easy! I wouldn't have thought they would change TOO often. Being easily updatable is always nice though. Possibly another `urlprefix-` option?

[2018-02-09 20:21] leprechau commented on #439
I was working on a PR for this exact thing or very similar.  A few options to allow simple ACL type behavior.

Example:

only allow traffic from the specified source blocks (default deny)
`urlprefix-/foobar/ allow=172.16.0.0/12,10.0.0.0/8,192.168.0.0/16`

allow all traffic except traffic from the specified source blocks (default allow)
`urlprefix-/foobar/ deny=1.0.1.0/24,1.0.2.0/23`

[2018-02-09 20:25] leprechau commented on #439
@microadam would that address your need?  @magiconair have any suggestions around that approach?

[2018-02-09 20:32] magiconair commented on #439
That looks good. The only question I had what to do with the PROXY connections? You'd have to use the `RemoteAddr` field from the `http.Request` to make the decision but that gets overwritten by `go-proxyproto`. I'm not sure whether this is an issue. Just something to think about.

[2018-02-09 20:36] leprechau commented on #439
That's true, it wouldn't be the actual source at that point but the "declared" source from `proxyproto`.  I think that's addressable via documentation unless you feel otherwise.  The other option would be to preserve the original remote address separate from `proxyproto` but I haven't looked how much structural change that would entail.

[2018-02-09 20:36] magiconair commented on #439
@leprechau IPv6 addresses, hostnames (dns reverse lookup timeout comes to mind...)

I also thought about more complex use cases like testing for cookies and so forth but I think that should live in the app layer.

While thinking about this: Is this something that should be configured on a per-route level or on a global level? What is the underlying use-case?

[2018-02-09 20:39] leprechau commented on #439
In our use case we have some services that need to be exposed via the load balancer but shouldn't necessarily have complete unrestricted access.  We could use firewall rules on the load balancer itself but that would require dedicated IPs or bind ports for those specific services.  Having a light ACL option on the route would allow this to happen without needing dynamic listeners.

[2018-02-09 20:54] leprechau commented on #439
To the IPv6 part the `net.ParseCIDR` and the `IPNet.Contains` function support IPv6 blocks and addresses.

[2018-02-09 21:03] magiconair commented on #439
Just in case we change our minds and allow more complex rules should there be an indication that the value after `allow` is actually a list of ips?

Wild thinking:

[code]

Could the first argument be something that's considered a filter function and the remainder the input values?

Can you have more than one `allow` option on a single `urlprefix-/foo`?

I'm not saying we need all this right now o

[2018-02-09 21:11] leprechau commented on #439
Those are all valid points.  I agree that having a single `allow` with a filter function is preferred over having `allowCIDR=`, `allowMethod=`, etc..  that would could messy pretty quick.

[2018-02-10 07:59] microadam commented on #439
The proposed approach definitely fulfils my use case! @leprechau awesome that you are working on this!

[2018-02-10 08:49] microadam commented on #439
On an implementation point, it would probably need to look at any `x-forwarded-for` headers, in case of upstream proxys

[2018-02-10 17:41] leprechau commented on #439
Yes, I was going to take isolate that into a separate getRemoteIP function or something similar.  I have the CIDR processing done but I need to work on putting the option processing into it's own function to check for subgroups (`allow=ip:1.2.3.4,method:GET`) processing.  Hope to have a PR ready early next week, possibly Monday, depending on the weekend schedule.

[2018-02-11 11:13] shay-stratoscale opened #440 "Wildcard registeration issues"
Hey,

We've been using fabio for a while now, and recently we've migrated part of a service functionality to another.
In order to switch the between the backend seamlessly we'd like to register some of the old endpoint to the new service (the other endpoint should keep on routing to the old one).

The old service is registered like so:

`urlprefix-/service/foo`

I would like to migrate an endpoint

[2018-02-11 19:53] magiconair commented on #440
You can use the glob matcher to achieve this. I've noticed that the documentation for this is a bit bare-bones and updated it on the website:

http://fabiolb.net/ref/proxy.matcher/

[2018-02-11 19:53] magiconair commented on #440
Once you enable the glob matcher your `urlprefix-/service/foo/*/bar` should work. Please let me know if it doesn't.

[2018-02-11 20:10] magiconair commented on #439
@leprechau please keep it to ip matching for now unless you're confident that you thought the other option through.

[2018-02-12 12:25] shay-stratoscale commented on #440
Indeed it worked once I configured the `glob` matcher.

Thanks for your help @magiconair!

[2018-02-12 12:25] #440 closed

[2018-02-13 01:46] leprechau commented on #439
@magiconair It currently only supports the `ip:` prefix for the `allow` and `deny` tags but I think I made if flexible enough to be expanded in the future if anyone so desires.

[2018-02-13 01:47] leprechau commented on #439
@microadam would appreciate your feedback as well ... especially if you can build the code in the PR and let me know how it works for you.

[2018-02-13 08:53] magiconair commented on #437
Right now it isn't but I could allow an empty `registry.backend.consul.kvpath` to disable this. However, I still think that this should be possible with the right ACLs. @slackpad, can you help out?

FWIW, I've tried this:

[code]

[2018-02-13 13:14] taemon1337 opened #444 "route add ... opts "proto=tcp+sni" ??"
I cannot find an example of how to use the route add to add an SNI route, I checked the route_test.go and the docs but couldn't find it.

`
route add test-sni-route foo.bar.com foo.bar.cluster.local weight 1 opts "proto=tcp+sni"
`

This was my best guess but fails with invalid route.

p.s. This is for the Kubernetes backend I'm working on.

[2018-02-13 13:17] #444 closed

[2018-02-13 13:17] taemon1337 commented on #444
Nevermind, that did seem to work, I just needed double quotes for opts, not single, sorry

[2018-02-13 13:26] magiconair commented on #444
@taemon1337 if the documentation could be improved then please let me know where you looked and couldn't find the info or a good example.

[2018-02-13 13:33] taemon1337 commented on #444
I looked at the examples in 'route/parse_test.go' as well as the 'Config Language' section on the site and couldn't find any example with tcp+sni, it was pretty obvious and I got it myself, mostly just my newness with go I think, but you could always add the above to parse_test.go if you wanted.

Btw, I'm testing my Kubernetes backend shortly

[2018-02-13 13:35] magiconair commented on #444
Looking forward to it. Maybe time to add the UDP+SNI support ...

[2018-02-13 14:55] taemon1337 commented on #444
Crap!  So I can compile fabio just fine and I can build it using the provided Dockerfile, but it does not execute inside that container, it always says:
`
standard_init_linux.go:187: exec user process caused "no such file or directory"
`

you ever seen this before?  Do I need to use the 'Makefile' to build the container or something?

[2018-02-13 15:02] leprechau commented on #444
@taemon1337 Usually that's due to using an image that doesn't have `/bin/bash` such as a scratch or Alpine Linux container.  The default `entrypoint` being `/bin/bash` causes that problem.  More generally it's because whatever you have specified as your `entrypoint` doesn't exist inside the container.

[2018-02-13 15:23] taemon1337 commented on #444
http://blog.xebia.com/create-the-smallest-possible-docker-container/

[2018-02-13 15:23] magiconair commented on #444
Hmm, is this because of `os.Getuid()`? This works in the container I've built but I'm using `CGO_ENABLED=0`. Just tried `docker run -it fabiolb/fabio:1.5.7-go1.9.2` but I didn't try that before.

[2018-02-13 15:26] magiconair commented on #444
Interesting. I thought I was using `CGO_ENABLED=0` but I'm not ...

[2018-02-13 15:26] magiconair commented on #444
Ah, the `.goreleaser.yml` uses that. Blessing of multiple build systems...

[2018-02-13 15:35] taemon1337 commented on #444
Sweet!  That blog post got it.  I compiled like this:
`
docker run --rm -e CGO_ENABLED=0 -v $(pwd):/go/src -w /go/src golang:1.9.3 go build -a -ldflags '-s' github.com/fabiolb/fabio
`

The CGO_ENABLED=0 forced Go to compile all deps (not cgo) and the ldflags reduced the image size to 7.5M

[2018-02-14 05:58] holtwilkins commented on #437
Yup, still not working for me.  I think an empty `registry.backend.consul.kvpath` sounds good for the config bit, what about the noroutehtml page, how do I disable that one?

I do have `acl_enforce_version_8 = false` and `acl_default_policy = "deny"` set in my consul configs, if that's helpful.

I've tried setting the following anonymous acl policy:

[code]

[2018-02-14 08:21] magiconair commented on #437
I'm pretty sure that this should work. I've asked an ex-colleague of mine for advice and will try myself a bit more. If all fails I'll add your suggestion.

[2018-02-14 08:45] magiconair commented on #437
I've tried that and don't get the log messages.

[code]

[code]

[code]

[code]

I get this in the logs though:

[code]

[2018-02-14 10:37] holtwilkins commented on #437
Ah of course. This is because fabio is running from nomad, in docker, in host networking mode. Since consul acls don’t stack, the one I need to change is the one for nomad, not anonymous. I’ll do this tomorrow, but yeah, I’m pretty sure this is it.

[2018-02-14 22:22] holtwilkins commented on #437
Yup, confirmed that adding

[code]

To my worker's ACL token fixed all the errors in the logs.  Not sure if you want to alter documentation or just close this issue, but thanks for you help @magiconair !

[2018-02-15 04:43] taemon1337 commented on #153
So I've got a very basic version working (https://github.com/taemon1337/fabio-k8).  There is a readme in the registry/kubernetes which kinda explains it, it still allows k8 to do the service discovery and health checking as fabio just routes external traffic to k8 services.

[2018-02-15 05:57] magiconair commented on #437
I’d like to add that to the docs

[2018-02-16 00:44] craigday commented on #421
This hit us again this morning. Is there any further info we can provide? Can you enumerate any possible theories or code paths that might be suspect, so we can help with the analysis?

[2018-02-16 02:51] magiconair commented on #421
Looking.

[2018-02-16 03:03] magiconair commented on #421
@craigday I'm awake now and DM'ing you on Twitter.

[2018-02-16 10:33] far-blue opened #445 "TCP Proxying SSH connections"
Has anyone worked out how to get SSH connections to work via the TCP Proxy facility?

[2018-02-16 10:55] magiconair commented on #445
What’s the problem?

—
Frank Schröder

[2018-02-16 10:58] far-blue commented on #445
I get `ssh_exchange_identification: Connection closed by remote host`

There's no real debug info available. My suspicion is that the handshake is failing because the IP address of the client doesn't match the IP address of the proxied connection - or the same in revers for the server.

I don't think the problem is one Fabio can fix but I wondered if anyone else had worked out how to configure the

[2018-02-16 11:18] magiconair commented on #445
Interesting. Please share a solution if you find one.

—
Frank Schröder

[2018-02-16 16:57] far-blue commented on #445
I worked it out and it wasn't an ssh issue after all :) I use Nomad and Bitbucket Server and had created 1 service with 2 tags - one for http and one for the tcp proxying. Nomad had created the service in a way that resulted in both the http proxy *and* the tcp proxy routing to the container's http port 8080.

The solution was to split the config into 2 services, each with a specific port number i

[2018-02-16 16:57] #445 closed

[2018-02-18 21:32] #439 closed

[2018-02-18 21:43] #438 closed

[2018-02-19 21:08] #427 closed

[2018-02-20 03:12] marcosnils commented on #371
Ping?. Any ideas?

[2018-02-20 06:38] holtwilkins commented on #437
While you're at it @magiconair , I also noticed that the `fabio.properties` and `docs/content/ref/registry.consul.noroutehtmlpath.md` docs says the default for `registry.consul.noroutehtmlpath` is `/fabio/noroutes.html`, but it's actually `/fabio/noroutes.html` as per `config/default.go`

[2018-02-20 06:58] magiconair commented on #437
Done. Thanks!

—
Frank Schröder

[2018-02-20 08:09] magiconair commented on #371
Yes, I'll pick that up with the metrics refactor.

[2018-02-21 11:42] Abroxa opened #447 "WebSocket Upgrade not sending Response"
I have a problem getting the websocket part of a route to work. Here is my setup:

- Dockerized web app supporting HTTP and WS (on specific resource)
- Consul service tags for it: `urlprefix-sat-140-patched.applications.fme.lan/`
- This web app is scheduled by Nomad

The websocket connection works when accessing the web app directly, but it doesn't work when it is being used through fabio. It look

[2018-02-21 12:23] magiconair commented on #447
That should work out of the box. Can you verify whether fabio forwards the request to the server (e.g. `tcpdump -i eth0 -A -s 1520 port 20314` or `ngrep -q -D eth0 port 20314` on the server itself?

[2018-02-21 14:14] Abroxa commented on #447
This is strange, I do not get any output from tcpdump on `enp0s3` which is the interface for `10.0.2.15` on my VM. However, when I `tcpdump` interface `docker0` I can see the packets from the browser for the web app container. This is true for both direct and fabio access. Maybe this is somehow related to the Docker bridge network. Here is what `sudo tcpdump -i docker0 -A -s 1520 port 27181` recei

[2018-02-21 14:36] Abroxa commented on #447
After thinking a bit longer about apache's message `The proxy server received an invalid
response from an upstream server.` I come to the conclusion that it means that within the setup of two WS proxies (1. fabio 2. apache mod_proxy_wstunnel) somehow make the request bad for the actual WS server endpoint. I will try to get the logs of this internal stuff if existing...

[2018-02-22 09:31] Abroxa commented on #447
Ok, I debugged it using tcpdump within the container on the internal websocket server. To begin with, I am not sure whether it's fabio's fault, as everything works when fabio directly connects to this internal server. When there is an additional apache in between, things break. And I think it is somehow related to the additional header information.

Feel free to close this issue, but maybe you or

[2018-02-22 16:14] atillamas opened #448 "Redirect http to https on the same destination"
Hi, is it possible to use fabio to redirect http to https on the same destination? for example redirect http://example.com to https://example.com ? when I've tried it i just get a redirect-loop.

[2018-02-22 16:20] leprechau commented on #448
something like ...

[code]

[2018-02-22 16:20] leprechau commented on #448
when doing http -> https the match host needs to have the port or else you will get a redirect for sure

[2018-02-22 16:40] atillamas commented on #448
@leprechau Hi. thanks for the suggestion, unfortunately i get a redirect loop using that example

[2018-02-22 16:55] leprechau commented on #448
That's odd ... that's literally the exact copy/paste from our production config with the hostname changed.

[2018-02-22 17:10] atillamas commented on #448
@leprechau

In fabio UI:

`26 | http-redirect | some.domain.example.com:80/ | https://some.domain.example.com$path | redirect=301 | 100.00% |`

And a curl:

`curl -iL go.staging.budbee.com`
HTTP/1.1 301 Moved Permanently
Date: Thu, 22 Feb 2018 16:39:26 GMT
Content-Type: text/html; charset=utf-8
Content-Length: 65
Connection: keep-alive
Location: https://some.domain.example.com/

HTTP/2 301
date: T

[2018-02-22 17:16] leprechau commented on #448
So, I'm assuming that `go.staging.budbee.com` == `some.domain.example.com` ...

Secondly have you tried removing the trailing slash from the route match?

Meaning `some.domain.example.com:80` instead of `some.domain.example.com:80/` ... also are you sure the target backend service is not doing any additional redirect?  I find it a bit odd that you are getting mixed HTTP/1.1 and HTTP/2 redirects.

[2018-02-22 17:25] atillamas commented on #448
@leprechau yes that is correct, silly me missed the curl :)
Anyway
In the ui i type in this:
`route add http-redirect go.staging.budbee.com:80 https://go.staging.budbee.com$path opts "redirect=301"`
but it shows the trailing slash when i look at the rules.
The mixed HTTP/1.1 and HTTP/2 redirecets could be that it's two services listening, one is listening on the original go.staging.budbee.com and

[2018-02-22 17:33] leprechau commented on #448
Can you post a full log of ...
[code]

[2018-02-22 17:40] atillamas commented on #448
[code]

[2018-02-22 17:44] leprechau commented on #448
So it looks like you switch to a different host for the port 443 request than the port 80 request.  Is it possible there is a difference in configuration between those two hosts?

[2018-02-22 17:50] atillamas commented on #448
They are running in docker-containers, 2 with go.staging.budbee.com and 2 with go.staging.budbee.com/api and the configuration is identical. Only different random ports where they are allocated.

[2018-02-22 17:57] leprechau commented on #448
Something really strange is happening ... it's almost like there are two redirect rules defined.  The first request clearly matches `go.staging.budbee.com:80` that you have defined for the posted `http-redirect`.  However it looks like the second request to `go.staging.budbee.com:443` is also matching a redirect route.  That could be a specific route for `https://go.staging.budbee.com/` or a plain

[2018-02-22 17:59] magiconair commented on #448
@atillamas Can you post your full routing table with `curl localhost:9998/api/routes?raw` ?

[2018-02-22 20:38] atillamas commented on #448
@magiconair Sure thing, i created a completely new stack, exact copy of our staging, just running one single job, exactly the same behaviour

[code]

[code]

[code]

[2018-02-22 20:45] leprechau commented on #448
Hrm.... I wonder ... what if you try something like ...

[code]

[2018-02-22 20:48] leprechau commented on #448
So in the service definition ...
[code]

[2018-02-22 20:56] atillamas commented on #448
[code]
[code]
[code]

[2018-02-22 22:19] leprechau commented on #448
Okay, I'm stumped.  The above config looks pretty simple to reproduce I'll see if I can make this happen locally.

[2018-02-22 22:25] leprechau commented on #448
One last thought ... you have the AWS load balancers in-front of fabio in this case, right?  I don't have much experience with AWS ... is it possible this is a case where the two load balancers are fighting?  Is the AWS load balancer terminating SSL and then forwarding as plain HTTP back to fabio?  Do you have a way to try and testing direct to the fabio instance without going through the AWS load

[2018-02-23 08:53] atillamas commented on #448
Yes the ALB (Application Load Balancer) is in-front of Fabio and terminating the SSL. I'm starting to believe that this is the issue also, i bet a normal Network Loadbalancer would work, i choosed the ALB to quickly get a way to be able to control access to our "internal" public exposed services with WAF, I now see that Fabio has support for IP-restriction so i might try to migrate it over to a Ne

[2018-02-23 12:17] Abroxa commented on #447
It was a problem with the internal WebSocket server which had problems understanding `X-Forwarded-For` headers when there were multiple forwards (separated by comma). I turned them off using `ProxyAddHeaders Off` in the apache "middleware".

Thanks for the `tcpdump` suggestion, that worked great!

[2018-02-23 12:17] #447 closed

[2018-02-26 00:57] holtwilkins commented on #87
Hey @magiconair or @ctlajoie , can I get an example of the redirect feature that does carte-blanche http -> https redirection?

Namely, what I want is, if you go to `http://<host>/<URI>`, I want to return you a 301 (or whatever) to `https://<host>/<URI>`.

It seems like it should be possible now, but I don't want to have to define this redirect for every urlprefix, but ideally can set it in `fabio

[2018-02-26 03:44] leprechau commented on #87
It's currently a route setting.  You can set it for all paths on a host though.

 Example:
[code]

This will redirect any path coming to `www.example.com` on 80 to `www.example.com` with an https scheme.

[2018-02-26 04:26] holtwilkins commented on #87
So only all paths on a host, and not for all hosts, eh.  I guess this isn't too bad, but a catch-all to set it once and never think about it again would be pretty cool.

[2018-02-26 11:51] jrasell opened #450 "Add route based on x-forwarded-port header"
I am not sure if this is currently possible and I have missed the documentation, apologies if it is. I would like to be able to add a route based on the value of an incoming header, specifically `x-forwarded-port` at this point. The reasoning behind this is that I currently have Fabio behind an ALB which does SSL offloading. A standard redirect results in a loop as Fabio will always see the traffi

[2018-02-26 15:09] magiconair commented on #87
Something like this?

[code]

[2018-02-26 15:21] magiconair commented on #87
@holtwilkins @leprechau https://github.com/fabiolb/fabio/pull/451

This probably needs some more love. I'll have a closer look tonight.

[2018-02-26 16:05] sharbov opened #452 "glob matching improvements"
Hey,

We've been using fabio for a while now, and we recently started using the glob matcher.

The problem we've encountered was that once we switched the matching strategy it affected all the endpoints matching, in addition to that the glob matcher does not match the '/' signs. these two issues forced us to add many new tags to existing services in order to try and cover all of the possibilities

[2018-02-26 21:39] lforehan commented on #326
+1

[2018-02-27 00:15] holtwilkins commented on #87
Thanks @magiconair , looks like good discussions happening in the PR, I'd be happy with `https-redirect` or a `:80/` catch-all or whatever lets me achieve my host-and-URI-agnostic http->https redirection :)

[2018-02-27 01:47] leprechau commented on #448
Looks related to #450 ... is this the same issue?

[2018-02-27 09:10] atillamas commented on #448
@leprechau it appears so.

tcpdump of the headers
[code]

[2018-02-27 11:58] tino commented on #87
Am I correct in reading this is only possible as a manual route override, and not in the urlprefix- service tag? Would be nice If I could set this directly on the service definition

[2018-02-27 13:01] magiconair commented on #452
Hey Shay,

I think extending the current glob matcher with `**` logic would be a good idea and it should be backwards compatible.

Adding a regex matcher in addition to that would help, too.

Bonus points for adding a route option to select this per route instead of using a global flag.

PR is very welcome.
Frank
—
Frank Schröder

[2018-02-27 20:06] magiconair commented on #87
@tino That would be a consequence of this approach. I'm open for suggestions. There is some impedance mismatch between the config language and the `urlprefix-` tags. Maybe this is a good time to re-open that can again.

Basically, `route add` commands are generated from the `urlprefix-` tags. We could add something like `fabio <arbitrary command>` to the tags which fabio would copy verbatim to the

[2018-02-27 20:19] magiconair commented on #87
Actually, this is trivial and would probably a lot of problems. I've written a POC with just a few lines. I'll move this to a separate issue.

[2018-02-27 20:45] magiconair opened #455 "Add raw tags"
Fabio currently uses specially crafted Consul tags (`urlprefix-host/path opt opt ...`) to generate route commands which build the fabio routing table. There is a certain impedance mismatch between the syntax of the `urlprefix-` tags and the `route add` commands they generate, e.g.

[code]

It would be useful if the `urlprefix-` tags are just a convenient shorthand notation for common more complex

[2018-02-27 23:25] ctlajoie commented on #455
I think you would want to use a different prefix for the raw tags.

What is the real impetus for adding this capability? Are you intending for there to be new extensions to the route syntax that can't be expressed using the "short" `urlprefix-` style tags?

[2018-02-28 01:53] leprechau commented on #455
I could see this being useful as fabio gradually moves to supplant the major reasons people give for deploying another more traditional reverse proxy like nginx or haproxy before fabio.  These primarily seem to revolve around header mangling which could be tricky to express with the `short` tags unless there it becomes yet another `csv` style option.

Take the following example for header manipula

[2018-02-28 08:23] magiconair commented on #455
@ctlajoie My main motivation is that there are two ways of expressing the same thing and there is a slight difference in syntax. Also, `urlprefix-` doesn't sit well with tcp services. Tech debt from the early days :)

Maybe it is just me wanting to clean up but in the process I make things more complex. What do you think?

[2018-02-28 08:42] magiconair commented on #356
I'm going to close this for now. Feel free to comment if the `host=xxx` option doesn't address your need.

[2018-02-28 08:42] #356 closed

[2018-03-01 09:59] andihess opened #459 "https upstream server requires client authentication"
Does fabio support a scenario where an https upstream server requires client authentication?
The certificate to be used by fabio for the client authentication is provided by the client that hits fabio already.

[2018-03-01 10:14] magiconair commented on #459
No, but I don't think this should be difficult to add. According to https://golang.org/pkg/crypto/tls/#Config the TLS client needs to either set `Certificates` or `GetClientCertificate`.

The `http.Transport`s would need a `GetClientCertificate` function which would need to be configured here:

https://github.com/fabiolb/fabio/blob/master/main.go#L171-L186

This should probably be provided by a ce

[2018-03-01 23:29] ctlajoie commented on #455
You can think about the difference between the two as being declarative vs imperative.

If I add a tag `urlprefix-example.com/` to a service, I am _declaring_ that I want requests for example.com to be routed to this service.
A tag like `fabio route add $service / http://$addr/` is imperative. You are issuing a command to fabio, as opposed to just declaring "route requests here".

Allowing route c

[2018-03-02 02:14] ctlajoie commented on #455
I am probably biased because I have never needed to manually add routes using the `route add` syntax. I consider the `urlprefix-` tags to be the "normal" method of adding routes.

[2018-03-02 16:15] atillamas commented on #448
This code fixes the redirect problem for me but introduces the problem that i don't get any content at all :)
I wanted to put the if-statement together on this line: https://github.com/fabiolb/fabio/blob/master/proxy/http_proxy.go#L101
but just couldn't get it to work with:
`if t.RedirectCode != 0 && (strings.HasPrefix(t.GetRedirectURL(requestURL).String(), "https://") && r.Header.Get("X-Forwarded

[2018-03-04 14:55] tino opened #460 "Access logging fails in combination with proxy gzipping"
With fabio 1.5.8 I've set:
[code]
and can see that fabio uses that after restart.

The only logs it output (besides route changes and errors are like this):
[code]
The json you see in there is the response of one of my service `/status/` urls, which is used for health checking, also remotely through fabio.

It does work when I run it locally like: `docker run --rm -it -p 9999:9999 -p 9998:9998 -e

[2018-03-05 14:00] nmaludy opened #461 "Serving UI behind a reverse proxy with a URL prefix"
## Problem Description

I'm trying to serve the Fabio UI behind an nginx reverse proxy with a URL prefix of `/fabio`. This means i would like the URL of the UI to be `https://server.domain.tld/fabio/routes` and the API to be `https://server.domain.tld/fabio/api`. The health check should be `https://server.domain.tld/fabio/api` and the manual should be `https://server.domain.tld/fabio/manual`.

I h

[2018-03-06 01:03] nmaludy commented on #166
+1 for some sort of auth on routes, i really like the vault integration idea!

[2018-03-06 01:12] leprechau commented on #166
So out of curiosity how do you see this working?

possible options ...

vault that would take a method and raw kv arguments...
[code]

http basic auth...
[code]

http digest auth...
[code]

[2018-03-06 01:16] leprechau commented on #166
The reason I'm asking ... I could see this being an expansion to the ACL support that was recently added.

[2018-03-06 01:35] nmaludy commented on #166
@leprechau Yeah i think something along the lines of:

[code]

Thinking the Vault token should probably be stored in the Fabio config instead of the route tags.

Also probably makes sense for basic auth to store the local path of the htpasswd file in the Fabio config?

[2018-03-06 02:31] leprechau commented on #166
I was thinking that `auth=vault:` would indicate it was from vault.  The others would be handled strictly by fabio so we could have `basic` and `digest` handled by fabio for person(s) without vault running.

Maybe it could be: `auth=vault:method:path:arg1=val1:arg2=val2:arg3=val3`

Example for github to keep config short: `auth=vault:github:auth/github/foo:token=xxxx`

That would make the order of

[2018-03-06 04:35] magiconair commented on #460
No idea. Let me have a look.

[2018-03-06 04:48] magiconair commented on #460
After looking at https://github.com/golang/go/issues/19895 I think there could be an issue with the way your service responds to health checks. It seems to be sending data after it has responded to the health check.

[2018-03-06 06:04] magiconair commented on #166
I'm not sure I like the fact that the password is stored in clear in the route tags. This is stored in consul and can be accessed via the api. Storing secrets feels like abusing the tags a bit too much. Also, this has to be deployed which means it has to be in some config file.

Secrets management is hard. That's why Vault exists.

I'm not saying that we shouldn't offer basic auth but keeping the

[2018-03-06 09:11] magiconair commented on #460
The access log should go to stdout and the normal log to stderr via the leveled logger so they should not interfere with each other.

The leveled logger looks at the first two bytes of the log line to determine the level and if that isn't in the right format prints `invalid log msg:`.

[2018-03-06 12:30] nmaludy commented on #166
I agree with @magiconair

Sort of what i envisioned was the following (taking after the existing `proxy.cs` pattern)

*Config - /etc/fabio/fabio.conf*
[code]

*Service Definition - /etc/consul/myapp.json*
[code]

I haven't decided yet if the auth reference should be on the route in the tag, or in the config file. My only concern with having it on the route tag is: what if multiple instances of a s

[2018-03-06 12:54] magiconair commented on #166
@nmaludy Then your deployment is broken just as if you'd have different services announcing the same route. I don't think there is much you can do about this. I might see a legit use case in migrating between auth sources as long as the underlying databases are in sync.

[2018-03-06 12:56] nmaludy commented on #166
@magiconair That's a very good point! Like you said the application deployment should be consistent via a Config Management tool or identical settings in your docker image(s). Also, your point about migrating to a different auth source is an interesting use case.

[2018-03-06 13:04] leprechau commented on #166
I agree secrets are hard, but I can’t think of a great way to offer basic auth without vault.  You could reference an htpasswd file stored in consul?  That’s better than password in the route.

[2018-03-06 13:10] leprechau commented on #166
I also think it would be nice to add auth without needing to restart fabio.  If you only define the auth sources in the config you can’t dynamically add auth to a route without restarting fabio.

Allowing a `file=` or `path=` option on the route tag for basic and digest could work.  Allowing the user to reference an on disk or consul stored htpasswd file.

[2018-03-06 14:17] jorgemarey opened #462 "Add glob support to tcp+sni"
We'd love to have glob matching for the tcp+sni requests.

I'll make a PR for this if I can.

[2018-03-06 15:05] magiconair commented on #462
@jorgemarey By any means please do ! :)

[2018-03-06 15:53] tino commented on #460
Okay, found the culprit!
`FABIO_proxy_gzip_contenttype = "^(text/.*|application/(javascript|json|font-woff|xml)|.*\+(json|xml))(;.*)?$"`

Removing that makes it work :). Tried other regexes but that didn't make a difference.

Ps. thanks for making fabio start so fast, tried a lot of different configs 😊

[2018-03-06 16:00] magiconair commented on #460
Cool. Is this the default regex from the properties file?

I’m glad you like it 🙂

—
Frank Schröder

[2018-03-06 16:02] tino commented on #460
Yes, it is. But `^(text/.*)(;.*)?$` didn't work either. And when I break the regex fabio will crash so that shouldn't be the case.

[2018-03-06 16:07] csawyerYumaed commented on #166
I'm ok with what @leprechau is saying:

But it would be super awesome if we could also say this vaultRole(which is returned as part of the token JSON after auth) can access or not.

`auth=vault:method:path:roles=roleName1,roleName2:arg1=val1, etc.`

So in this example you must have either roleName1 or roleName2 (as defined in vault) AND properly authenticate to get passed on.

[2018-03-08 10:29] jrasell commented on #450
@leprechau thanks for the reply. The issue I am facing is that the ALB performs the SSL offload which means HTTPS traffic from the ALB appears to Fabio as only HTTP traffic and therefore does not currently allow me to use Fabio to perform the HTTP > HTTPS redirect as traffic gets stuck in a redirect loop. Allowing routes to be configured using the headers such as `x-forwarded-port` would allow me

[2018-03-08 12:53] leprechau commented on #450
Why do you need both fabio and the ALB to do redirects?

[2018-03-08 13:01] jrasell commented on #450
I don't; AWS ALBs do SSL offloading as standard and this behaviour cannot be changed from what I can see; ALBs do not do HTTP > HTTPS redirects.

I could use a network load balancer and then use Fabio to do both the SSL offloading and redirection, but this would mean any IP whitelisting (I run services which are only exposed to internal ranges) would happen at the instance level (private subnet) w

[2018-03-08 13:11] leprechau commented on #450
Ohh, I see your problem.  The ALBs are forcing you to only pass plain HTTP without allowing you to force HTTPs incoming.

So, yes there are two options.

1. Make fabio look at the forwarded proto when it is processing redirects.

2. Just use fabio for both.  It does support IP access control now.  There was also a PR merged recently that will handle multi level proxy setups as well.

[2018-03-08 14:14] jrasell commented on #450
Exactly. So in my current setup supporting 1 would be excellent although I can indeed update my setup to use an NLB and let fabio do both redirect and SSL offloading if not.

[2018-03-08 15:44] leprechau commented on #448
@atillamas Yes, I think this is the same problem being described in #450 for sure and you're already on the same track.

I was just looking at that same spot in the code but I think the logic needs to go elsewhere.  Basically we need it to not even mark the target as a redirect which would happen much earlier.

[2018-03-08 15:56] leprechau commented on #448
@atillamas  maybe something like this in the `Lookup` function in `table.go` around line 318 ...

[code]

Completely untested but I think we need to prevent the redirect route from being returned by the lookup function based on your condition.

[2018-03-08 15:56] leprechau commented on #448
Maybe try something like that and post some logs with tracing enabled?

[2018-03-09 15:28] atillamas commented on #448
@leprechau Thanks for the suggestion, Unfortunately I get the redirect loop when implementing the code there, I'll see if i can find some time during the weekend to troubleshoot some more.

[2018-03-09 15:47] leprechau commented on #448
@atillamas gotcha ... sorry about that.  I was just trying to think of how to prevent the redirect from occurring and get the "correct" target returned.  Maybe it could be as simple as still returning the target but setting the redirect code to `0` ... that would effectively return the same route but ignore the `redirect` option.

[2018-03-10 17:15] tino commented on #460
Okay, I'm getting somewhere. If I apply this patch, it still doesn't log (so this doesn't change the handler, but just wraps it):
[code]
Output:
[code]

If I just make `NewGzipHandler` return `h`, logging works.

~So appearently the new handler is making the logging change?~ Nvm, `proxy.HTTPProxy.ServeHTTP` actually exits at line 200, because `h` is not a direct `httputil.ReverseProxy` anymore but

[2018-03-11 06:38] magiconair opened #464 "Cache glob pattern for host"
Menal note for myself: See https://github.com/fabiolb/fabio/pull/457#discussion_r173644585

[2018-03-11 14:15] nmaludy opened #465 "Does Fabio support connection shutdown when a backend fails"
We're looking at using our existing Fabio deployment to load balance a [Patroni](https://github.com/zalando/patroni). Patroni's health checks return HTTP success when the node is the master and return HTTP errors when a node is a standby.

When a fail over occurs we need to terminate the existing TCP connections so they connect to the new master. In HAproxy this can be accomplished by the [on-mark

[2018-03-11 14:24] nmaludy commented on #465
Here is the reference HAproxy configuration https://github.com/zalando/patroni/blob/master/haproxy.cfg

[2018-03-12 17:33] taemon1337 commented on #280
Don't forget the TLS client authentication information like Common Name

[2018-03-13 17:17] atillamas commented on #448
@leprechau No worries at all, I'm grateful for all your help!
Unfortunately I haven't had time doing anything more with this, but I will when I get time, although it would probably be a lot faster if someone with  knowledge dug in instead :)

[2018-03-13 17:55] leprechau commented on #448
@atillamas understood.  I'll try and take a stab at a few options using your example route table above.

[2018-03-13 20:21] leprechau commented on #448
Okay, so I think I have working code but I'm not sure it's the best way as it assumes that an upstream https source is always going to be `443` but maybe that's okay.

The patch ...
[code]

The test table:
[code]

Running fabio as:
[code]

XFP 80 request:
[code]

[code]

XFP 443 request:
[code]

[code]

[2018-03-13 20:29] leprechau commented on #448
From the caps you posted above it looks like AWS is also sending `X-Forwarded-Proto` ... that might be better to check than `X-Forwarded-Port`.

[2018-03-13 20:38] leprechau commented on #448
https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.html#x-forwarded-proto

Just confirmed this diff also works ... new tests and config below ...

The patch:
[code]

The test table:
[code]

Running fabio as:
[code]

X-Forwarded-Proto http request:
[code]

[code]

X-Forwarded-Proto https:
[code]

[code]

[2018-03-13 20:39] leprechau commented on #448
Maybe the log message should be `TRACE` instead of `DEBUG` .. but it works.  Just now sure if there are side affects unknown.  The builtin test suite still passes with the above patch applied.

[2018-03-13 20:40] leprechau commented on #448
I'll open a PR for further discussion.

[2018-03-13 22:11] magiconair commented on #448
I'll comment here to keep the discussion in one place.

Why only `https`?

Maybe like this?

[code]

[2018-03-13 22:28] leprechau commented on #448
I thought about that ... but would you want to skip an upstream `http` request that matched an `http` redirect to a different location?  I guess what we really want is to only do the redirect if the upstream scheme == redirect target scheme AND upstream host == redirect target host.  I'm not sure how we get the upstream host though.

[2018-03-13 22:35] magiconair commented on #448
But will this change not have the same effect for `https` targets, e.g. `https://foo.com/bar -> https://foo.com/baz`?

[2018-03-14 01:26] leprechau commented on #448
That's a very good point.

So more generically we want to prevent redirect loops.  The initial case was a simple scheme redirect (http -> https) but that does not cover all use cases.

How about this ...

1.  target.RedirectCode != 0
1.  X-Forwarded-Proto != ""
1.  target.URL.Scheme == X-Forwarded-Proto
1.  target.URL.Hostname() == req.URL.Hostname()

If all the above are true ... skip to prevent

[2018-03-14 02:04] leprechau commented on #448
I added another commit to the PR to address these cases and make the redirect protection more generic while still satisfying the original request.

[2018-03-15 08:06] jrasell commented on #450
@leprechau thanks for all the work, please close this ticket out as a duplicate if you wish and I can track 448.

[2018-03-15 08:26] jrasell opened #467 "'-registry.consul.register.enabled' does not seem to be respected"
I wish to disable the default Fabio registration in Consul in order to use my own health checks and from its description am trying to use the `-registry.consul.register.enabled` flag to do this. Within my Nomad job specification file I am supplying the flag:

[code]

When submitting the job however, Fabio is configured with `"Register": true,` which is also reflected through the Consul UI which sh

[2018-03-15 08:28] magiconair commented on #467
Try

registry.consul.register.enabled=false

—
Frank Schröder

[2018-03-15 08:31] jrasell commented on #467
@magiconair thanks a lot, that does sort it. Thanks also for the project, I am a big fan of it!

[2018-03-15 08:31] #467 closed

[2018-03-15 22:04] atillamas commented on #448
@leprechau Thanks for this. I got it to work with  your patch if i removed this check:
[code]
this is the content of all the variables when doing a request (values inside ' '):
`target.RedirectCode '301', target.URL.Scheme 'https', req.Header.Get("X-Forwarded-Proto"): 'https', target.URL.Hostname(): 'echo.staging.budbee.com', req.URL.Hostname(): '', target.URL.Path: '', req.URL.Path: '/'`

and thi

[2018-03-15 23:02] leprechau commented on #448
Interesting ... wonder how the request hostname is empty?  The path I can see that `/` and *empty* would be the same.

[2018-03-15 23:32] atillamas commented on #448
@leprechau this is the content of the entire req object, cannot find the definition of it, but the hostname seems to be present there:
[code]

[2018-03-16 00:30] leprechau commented on #448
Yes, I reworked it an pushed another commit to PR #466 ... can you see if this now works in your AWS environment as expected?

[2018-03-16 11:02] atillamas commented on #448
@leprechau Nice work. Almost there now :)
Just one tiny problem: the matching of the `target.RedirectURL.Path == req.URL.Path` does not work. Without it everything seems to be working fine.
Looks like target.RedirectURL.Path is empty

[2018-03-16 12:01] leprechau commented on #448
I’m assuming in this case that `req.URL.Path` is just `/` and that should be the default for the redirect target?  I’ll make another update shortly.

[2018-03-16 12:39] atillamas commented on #448
@leprechau Yes if i add the trailing / in the redirect `redirect=301,https://echo.staging.budbee.com/` everything works!

[2018-03-16 12:53] leprechau commented on #448
@atillamas great, just pushed one last commit that should make it work without having to fully qualify the redirect target in your config.

[2018-03-16 12:58] atillamas commented on #448
@leprechau forgot to say that it worked  with $path previously also, But now I've tested your latest change and it does work as it should! :+1:  great job! Thanks!
Everything seems to work exactly as it should!

[2018-03-16 13:04] leprechau commented on #448
Awesome, thanks for the patience and testing.

[2018-03-16 13:05] leprechau commented on #450
@magiconair  can you close this as a dupe of #448?

[2018-03-16 13:13] #450 closed

[2018-03-18 22:11] magiconair commented on #460
Ah, damn. The ugly hack for getting the response rears its head... I'll comment on the PR. That's a good catch. Thanks a lot for finding this!

[2018-03-18 23:21] magiconair commented on #460
@tino Could you try #470 ?

[2018-03-19 08:48] #448 closed

[2018-03-19 09:09] rverpillot opened #471 "Use same urlprefix with http and https ?"
Can I use the same urlprefix with different proxies ? I try to manage http and https (tcp+sni proxy) on the same url (docker application accepting http and https requests), but Fabio groups the targets in the same route, and balances the load.

[2018-03-19 09:33] magiconair commented on #471
Without trying it I'd say that this should work since the requests end up on different listeners. There is only one lookup table for all proxies. Did you try it and it didn't work?

[2018-03-19 09:57] #460 closed

[2018-03-19 10:03] rverpillot commented on #471
In the UI, http and https targets have a weight of 50%. I enabled table detail mode in logs and I get this:
[code]

The port 33267 is for https and 33268 is for http.

[2018-03-19 10:05] magiconair commented on #471
OK, I need to look. Maybe having a single routing table isn't the right solution ...

[2018-03-19 10:41] rverpillot commented on #471
Moreover with a single routing table, you could get an another similar issue with this PR #463. The lookup function stops when route matches, whatever the protocol used (you could get a http route instead of a tcp+sni route).

[2018-03-19 13:52] atillamas commented on #421
Got hit by this as well running fabio 1.5.7

Requests to all our services started to get routed intermittent to our hash-ui service. Causing lots of weirdness. Stopping/Purging the service and starting it again made the problem dissapear for now.

[2018-03-19 17:50] dcparker88 commented on #162
I've been doing some testing here, and it seems like Fabio starts to 404 every route if we disable the local consul-client. Is there a way to cache the latest routing table in Fabio, or could I be doing something wrong with my test? I would expect Fabio to not add/remove routes at all if the local consul connection is down

[2018-03-19 18:00] leprechau commented on #448
@magiconair Thank you!  Without you Fabio wouldn't exist :)

[2018-03-19 18:10] galen0624 commented on #429
@magiconair  - A team and I have been working on this request.  We have a working demo and are in the process of load testing.  Would you still be interested in seeing a PR?  Our OpenTrace Support currently is for a ZipKin collector.  Jaeger could easily be added at a later date.

[2018-03-19 22:15] galen0624 commented on #429
Sounds good.  We should have something ready in the next few days. Load testing today showed about a 1 millisecond of added  latency sampling 100% of traffic. (10,000 RPS)

 I would like to say we are not developers by trade so the govendor and other git components are a little new to us.   I'm not sure how to add each vendor package individually yet.

 On a side note we have incorporated BGP into

[2018-03-19 22:18] magiconair commented on #429
Adding BGP support was on my list. Started working on a go bgp library and had something working but that stalled. I'm curious about your approach.

You can run `govendor add +e` to add all missing packages and check that in as a single commit as long as the vendored packages are separate from the code.

Looking forward to this :)

[2018-03-19 22:34] leprechau commented on #429
We currently run (gobgp)[https://github.com/osrg/gobgp] as a route reflector and quagga on our load balancers and use anycast BGP for our HA as well.  We've been talking internally about linking fabio with the gobgp library or weather it makes more sense to have a generic fabio like service that publishes BGP routes based on Consul data rather than HTTP routes.

On the other hand if you think of f

[2018-03-20 13:03] galen0624 commented on #429
Our setup for HA is to also use Quagga on our Fabio VMs then have the BGPD and Fabio processes dependent on each other through systemD.  We announce /32 or host routes into our Spine/Leaf Fabric which allows for ECMP (Equal Cost MultiPath).  We have the timers set in BGP to re-converge quickly.  This enables us to support A/B data center constructs.  We will also have Fabio baked into an Image so

[2018-03-20 18:54] leprechau commented on #429
To elaborate further we have a pair of upstream Cisco devices that are the authoritative peers that we call service routers.  These pair with a set of GoBGP VMs that act as route reflectors for applications participating in anycast BGP advertisements.  The load balancers, dns cache, etc. currently run quagga and advertise a /32 route up to the route reflectors.  This works very well to provide HA

[2018-03-20 19:29] galen0624 commented on #429
@leprechau  have you looked at Calico?  -- https://www.projectcalico.org/

We are currently investigating how that fits with Containers and routable POD IPs.

[2018-03-20 19:32] leprechau commented on #429
@galen0624 yes, we have looked at Calico and that is what we're currently playing with in the lab.  Calico goes far further and is far more complex however than what we actually need for our environment.  That being said we are also looking at k8s which again is far more complex than anything we actually need.

[2018-03-21 18:32] alexebird commented on #211
@magiconair @marcosnils I'd like to help out with this if it's still needed.

[2018-03-22 00:30] jvoorhis opened #473 "Missing dependency"
Fabio depends on magiconair/go-metrics-statsd, but the upstream repository has been removed. A copy of the repo currently resides in vendor, so builds are not affected.

Are there any plans to restore the repo, or switch to an alternate implementation?

[2018-03-22 06:11] magiconair commented on #473
This was just a monkey patch until this was fixed upstream. I’ll update fabio to use the pubnub repo again.

—
Frank Schröder

[2018-03-22 07:28] craigday commented on #421
@atillamas FYI we believe we know what is causing this issue. Websocket requests that fail upgrade are left open and connected to their original back end. Nnginx out front is pooling these and sending requests straight through to this backend, completely bypassing the Fabio routing. Our workaround, for now, was to isolate the websocket onto an isolated fabio cluster.

I believe Fabio should be det

[2018-03-22 08:15] Verdoso commented on #471
Maybe one routing table would work if there was another level with the protocol?

[2018-03-22 08:18] magiconair commented on #421
The way fabio currently handles websockets (via a raw tcp connection) makes detection a bit difficult. We can go back to a protocol proxy which relays WS messages instead. However, a first attempt is to inject a `Connection: close` header into the upgrade request since with HTTP/1.1 all connections are permanent unless declared otherwise.

[2018-03-22 08:19] magiconair commented on #421
@craigday Can you try that patch and see if it works? I'll add an integration test to simulate that behavior later.

[2018-03-22 09:17] rverpillot commented on #471
I'm currently trying a fix with a routing table modified with protocol. It seems to work. But some regressions are possible.

[2018-03-22 12:06] jralph commented on #115
@leprechau I've been looking at doing something similar with HAProxy. How did you go about configuring this?

[2018-03-22 19:50] tino commented on #460
👍

Works like a charm. Thanks!

[2018-03-23 10:19] jralph commented on #115
@leprechau Thanks for the info. How did you get around fabio not supporting multi-datacenters?

[2018-03-23 18:01] jralph commented on #115
@leprechau But fabio is unable to detect services in another dc, so services would only be able to find other services within their own dc when using fabio? If so, that makes sense. I've been experimenting today and decided to stick with services only talking to their local services, using public domains to access other services if needed.

[2018-03-23 19:48] rileyje commented on #211
@magiconair has there been any progress on labeled metrics? I'm also willing to help with this.

[2018-03-24 12:05] magiconair commented on #211
I've finally got something that I think is worth working on. Please see #476 in the metrics4 branch. Right now I'm trying to validate the approach. So if someone wants to write a proof-of-concept provider for prometheus using the go-kit/metrics driver then this would be awesome. This would then allow us to integrate all existing go-kit/metrics drivers which covers most of the open issues.

Lets ke

[2018-03-24 12:06] magiconair commented on #126
Please see https://github.com/fabiolb/fabio/issues/211#issuecomment-375880738

[2018-03-24 12:06] magiconair commented on #165
Please see https://github.com/fabiolb/fabio/issues/211#issuecomment-375880738

[2018-03-24 12:06] magiconair commented on #253
Please see https://github.com/fabiolb/fabio/issues/211#issuecomment-375880738

[2018-03-24 12:06] magiconair commented on #326
Please see https://github.com/fabiolb/fabio/issues/211#issuecomment-375880738

[2018-03-24 12:06] magiconair commented on #327
Please see https://github.com/fabiolb/fabio/issues/211#issuecomment-375880738

[2018-03-24 12:07] magiconair commented on #371
Please see https://github.com/fabiolb/fabio/issues/211#issuecomment-375880738

[2018-03-24 12:07] magiconair commented on #371
@marcosnils Now is the time to provide input and help with #476

[2018-03-24 12:14] magiconair commented on #326
If you want to help: now is the time :)

[2018-03-25 14:47] Verdoso commented on #394
As for use cases, I just came up with one. I'm planning on sending logs from my apps to logstash using GELF, and it uses UDP. Having Fabio in front of the Logstash cluster so I don't lose the logs while doing some maintentance or due to one node going down would be nice 👍

[2018-03-25 15:01] LordFPL commented on #394
For information, i have a similary use case... and found this : http://gobetween.io/
It's just work... stable since one month... but not very active project.

[2018-03-25 15:29] Verdoso commented on #394
Good to know, LordFPL. I'd rather not add another element to the mix, but if I have to, it's nice to see there are alternatives. But yeah, it doesn't seem to be very active, so I'll keep an eye on it just in case.

But if we had this and the GELF logger (PR 246), Fabio would be sending its logs through itself, hehehe.

[2018-03-25 16:32] marcosnils commented on #211
We can fork your code and open a PR to the metrics4 branch directly. If you merge your PR will get updated automatically.

Thanks for the hard work @magiconair . I'll give it a look this week and contribute in whatever I can.

[2018-03-25 17:01] magiconair commented on #394
@Verdoso Since UDP is a connectionless protocol fabio wouldn't buffer the data since it wouldn't know when data didn't get to the upstream server. I can have a look at the GELF logger in #246 and see if that is still ready to be merged.

[2018-03-25 17:27] Verdoso commented on #394
Yes, I guess the balancing part is just using the consul stated to decide if one server should be sent or not packets. UDP being as it is, I doubt other proxies are doing more than that.
That could be enough. I'm checking also if going the tcp route would be performant enough.

[2018-03-26 08:43] magiconair commented on #162
@dcparker88 That is the current behavior since the assumption is that your setup cannot function without Consul anyway. Having said that, we could add an option to not update the routing table when consul is gone. Anyone up for a PR?

[2018-03-27 07:46] yuailong opened #478 "-insecure by version 1.7"
It’s saying no -insecure flag while I am using fabio command in docker,
command: docker run -d -p 9999:9999 -p 9998:9998 --net=host --name=fabio -v $PWD/fabio.properties:/etc/fabio/fabio.properties fabiolb/fabio

Where can I add the -insecure flag?

[2018-03-29 18:36] teejaded opened #479 "Strip parameter modifies routing behavior"
The strip parameter unexpectedly modifies routing behavior.

__Version tested__

Docker image

`fabiolb/fabio                                           1.5.8-go1.10        417d06d1888f`

__Current behavior__

[code]

`curl test.mywebsite.com/helpcenter/`
Works, sends traffic to webapps.helpcenter.

`curl test.mywebsite.com/helpcenter/test.htm`
Gets 404, traffic was sent to webapps.front-end

__Exp

[2018-03-29 22:46] jkeating732 opened #480 "urlprefix issues in Dockerrun.aws.json"
In my code below I am passing an environment variable "tags" to the container, this obviously isn't working.

Is there a command I can add to this configuration to tell Fabio about the "Tags"?

If not, what am I doing wrong and do you have any suggestions on how to fix it?

**## Here is the code for Fabio in my Dockerrun.aws.json**
        {
            "environment": [
                {"name": "F

[2018-03-29 23:14] leprechau commented on #480
The "tags" are for specifying a route and are usually applied to a specific service in consul.  If you are just wanting to statically route something you can do that via the consul config folder `"KVPath": "/fabio/config",`

[2018-04-02 13:32] codyja opened #481 "Fabio Has Stale Routes"
Hi,
We've experienced and issue twice where a single fabio container in a group of fabios (running under nomad) happens to have old stale routes. Fabios is determinting routes to add to it's route table by connecting to the local Consul agent on the host, and looking for the default urlprefix- tag. The behavior I saw was some of our traffic was experiencing 502 errors. When traffic would get sent

[2018-04-02 14:11] magiconair commented on #481
My guess is that your consul cluster has issues since fabio just waits for updates from Consul and then rebuilds the routing table. You can test that by having the fabios talk to the Consul servers instead of the local agents and see if the problem goes away. I would have a look at the Consul logs of these servers to see whether there were any strange things happening.

[2018-04-02 15:04] magiconair commented on #481
fabio relies on Consul to sync the state in the cluster and because of that they are all independent. They just route what Consul reports to be up.

Fabio always replaces the entire routing table whenever there is a change. You should see the services which were added and removed in the fabio logs. The normal setup is for fabio to talk to the local Consul agent and let it handle the cluster state.

[2018-04-02 17:35] codyja commented on #481
We ran a script across the environment to pull the services from consul, then query every fabio and compare the routes in fabio to consul services destinations. We still have 3 (now 2 after I restarted one) fabios that have stale data. Is there anything I can gather or do before I restart them? Anything you'd like to see on these 2 remaining fabios that have old data in the route table? I'd be hap

[2018-04-02 18:50] magiconair commented on #481
Did you pull the health data?

[2018-04-02 19:29] codyja commented on #481
I hit the :9998/health endpoint and it returns OK. Is there anything else I can look at? Here's from the docker logs on one host. Around 02:49:54, the log pattern seemed to change up a little, no more consul messages. After that point, the logs look the same as the do right now.

2018/04/02 02:48:24 [INFO] consul: Manual config changed to #13223716
2018/04/02 02:48:25 [WARN] No route for 192.168.1

[2018-04-02 19:39] magiconair commented on #481
I meant the health data from Consul, https://www.consul.io/api/health.html#list-checks-in-state

Fabio runs this query to get the current health data for all services from Consul and then filters out the healthy ones.

[code]

Two observations:

1. Why is your health data changing all the time? This looks like either a flapping service or a volatile health data output, e.g. a timestamp or process

[2018-04-02 19:54] codyja commented on #481
Ok very interesting. I'll look into your observations.

I hit that consul health/state/any endpoint on this host where the fabio container with stale routes is running. I see my specific service with accurate dst IP:port info, and it shows passing. Also, If I hit localhost:8500/v1/catalog/service/<myservicename>, on this host, I get the accurate dst IP:port info. It seems like consul (cluster and

[2018-04-02 20:36] magiconair commented on #481
Fabio keeps routes in memory. You should look for changes to the routing table which fabio logs as delta. They should be the same on every fabio instance.

Do you have multiple health checks for a service? Do you have unique names for the service instances?

[2018-04-02 20:37] magiconair commented on #481
You can control the output format of the routing table with http://fabiolb.net/ref/log.routes.format/

[2018-04-02 21:00] codyja commented on #481
So I looked back through the logs on multiple fabios. I can see the '[INFO] Config updates' messages along with the route adds. What's interesting is all the fabios have the same log entries including this problem fabio container up until 02:38:48 today. Then the next Config updates message was at 02:54:42 am, this was logged on every fabio except the problem fabio container. The problem fabio con

[2018-04-02 21:16] codyja commented on #481
Also, regarding the service names, we should have unique names for all services. Occasionally, when we launch a nomad job, we'll register a few different service names for the same service (we do this for fabio too).

      service {
        name = "fabio-oln-lb-a"
        tags = ["fabio"]
        port = "lb"

        check {
          type     = "tcp"
          port     = "lb"
          path

[2018-04-03 15:44] dcparker88 commented on #162
yeah - we'll take a look (sorry for late response, was on vacation)

[2018-04-03 18:26] codyja commented on #481
Before I restart the last two fabios in prod that aren't receiving updates from consul anymore, is there anything else I can capture or look at?

[2018-04-04 15:46] magiconair commented on #481
Does the consul agent they are connected to still receive updates? Ideally, you want to check whether the raft log index moves forward. Trying to find a good API call to test that.

[2018-04-04 16:14] codyja commented on #481
Yes, the consul agent on the host where this fabio was running was definately seeing updates. If I queried consul agent on this host, I could see the service in question, and the destinations were the correct IP:port location. I didn't look at the raft index though. If I queried host:9998/api/routes, and found the service in question, it had old ip:port locations though.

[2018-04-06 06:14] holtwilkins commented on #455
So we've starting using `route add` syntax for lots of stuff right now, but we shove it into the `fabio.config` in consul.  I agreee that it doesn't make sense to support `route add` in a tag for the declarative vs imperative split.

I guess I'm back to my original request of just wanting a catch-all https-redirector, and I'd prefer putting `route add` command in `fabio.config` to putting it in a

[2018-04-06 09:37] zakk4223 commented on #115
For those looking to use HAProxy, 1.8 added the ability to dynamically change backend destinations based on DNS SRV records. Might simplify writing out config files via consul-template

[2018-04-06 17:04] spicykoala commented on #282
I was wondering what the status of this issue was? It's been causing some stability issues for large numbers of servers. If the route table stops updating, any scaling events or anything that happen during that state, the new/old nodes registered in consul aren't updated in the route table and everything starts dying.

This seems to happen if a manual route is added that points to a non-existent s

[2018-04-10 18:44] codyja commented on #481
Hi @magiconair,
We did a production nomad deployment this morning to change a nomad job's app container version. Out of about 24 fabios running, 3 of them are showing old routes for this updated service. I got on a zoom with Sabin with Consul support, and he looked over the environment. He doesn't believe the cause is consul directly, but thinks this is being caused by fabio. He wanted to see if i

[2018-04-11 13:37] codyja commented on #481
Another thing I just noticed was that yesterday, when we hit this issue on 3 fabios, we actually did 2 updated nomad job deployments at almost exactly the same time. The first job (called primary) is the one that had it's service not be updated on 3 of the 24 fabios. The second job (called secondary) was deployed later and DID have it's service updated on all fabios, including the 3 problematic on

[2018-04-11 14:24] phedoreanu opened #482 "Building master fails"
Building `master` fails with:
[code]
Why aren't they checked into `vendor/`?

Have you thought switching from `govendor` to the **official** `dep`?

Please also read [PackageManagementTools](https://github.com/golang/go/wiki/PackageManagementTools).

[2018-04-11 14:43] leprechau commented on #482
The `dep` experiment is doomed to fail.  It was supposed to be part of the 1.10 official releases but it missed the mark.  In my opinion this was largely due to internal fighting and ivory tower perspectives that you can read in the project GitHub issue list.  I don't see that project overcoming those issues nor do I ever see it gaining widespread adoption.  Case in point there is already *another

[2018-04-11 15:03] magiconair commented on #482
Building master does not fail. Tried this:

[code]

[2018-04-11 15:03] #482 closed

[2018-04-11 15:04] magiconair commented on #482
See #436 for why fabio won't switch to dep.

[2018-04-13 04:46] codyja commented on #481
Hi @magiconair ,
I figured out what was happening here. The local consul agent either hangs or loses connectiity to the  consul cluster. Nomad logs:

It seems like when consul agent becomes healthy again, the fabio on this host doesn't ever recover. Would it be possible to handle this situation a little differently? This also seems related to https://github.com/fabiolb/fabio/issues/162

Thanks Fra

[2018-04-13 04:56] magiconair commented on #481
Fabio just does a long poll on the Consul API and waits for a notification of a raft change - any change. Once the Consul raft log changes fabio will pull all the data and rebuild the routing table. This is when you see all the `Health changed to #nnnn` messages. The number is the raft index.

When there is no notification there is little I can do. Fabio could time out the Consul connection and re

[2018-04-13 04:59] magiconair commented on #481
Did you try different nomad and/or consul versions?

[2018-04-13 05:11] codyja commented on #481
We're testing the latest fabio in our staging env, and should be putting into production soon. We're running the latest nomad and consul is 1.0.1. I will mention too that the consul agent on the host doesn't seem to fully go down, I think it's just hung up. We're thinking it's something on the host level, possibly backup process. The problem I think is when consul agent becomes healthy again on th

[2018-04-13 20:50] danlsgiga opened #483 "Add support for Vault 0.10 KV v2"
Since Vault 0.10 introduced the secret backend KV v2, the data structure and API endpoints to retrieve certificates has also changed. For now we are keeping our certificates mountpoint on v1 but it would be great to have Fabio supporting KV v2 as well.

[2018-04-14 16:00] magiconair commented on #483
Can you provide a PR?

[2018-04-16 17:17] tino opened #484 "Postgres TCP proxy TLS issues"
I'm trying to proxy Postgres and have fabio terminate the TLS.

Config:
[code]
(works fine on https)

`route add geodb :5432 http://10.0.0.19:5432/ opts "proto=tcp"`

This doesn't work:
[code]

Fabio logs:
`2018/04/16 17:15:46 [WARN]: tcp:  tls: first record does not look like a TLS handshake`

What to do? 😗

[2018-04-16 20:57] magiconair commented on #484
Is this using TLS 1.2?

[2018-04-18 17:27] satishviswanathan opened #485 "Fabio config help"
I'm new to Fabio and trying to set with following configuration but getting warning "syntax error: 'route add' invalid"

This is the command I've used in windows.

fabio-1.5.8-go1.10-windows_amd64.exe -registry.consul.addr 10.208.6.98:8500 -proxy.addr :2302;proto=tcp
Fabi log [Fabio-log.txt](https://github.com/fabiolb/fabio/files/1925093/Fabio-log.txt)

[2018-04-18 18:26] leprechau commented on #485
What do you have in your KV at `/fabio/config`?

[2018-04-18 18:58] satishviswanathan commented on #485
Are you referring to the KV store in consul? attaching the consul KV
![consul-kv](https://user-images.githubusercontent.com/17437409/38952255-976ab650-4310-11e8-98ce-be70b1444bd7.PNG)

[2018-04-18 19:03] leprechau commented on #485
Yes, but what is inside the `/fabio/config` path.

[2018-04-18 19:09] satishviswanathan commented on #485
I'm sorry would you be able to guide me where to find this?

[2018-04-18 19:25] leprechau commented on #485
Navigate to `fabio/config` in your key store.  Something like: http://10.208.6.98:8500/ui/#/dc1/kv/fabio/config/edit

[2018-04-18 20:31] satishviswanathan commented on #485
When I access the url I'm getting this error.

![consul-error](https://user-images.githubusercontent.com/17437409/38956570-963e1b3e-431d-11e8-8cce-d642c934fca9.PNG)

[2018-04-18 20:37] leprechau commented on #485
Sorry, that was just an example ... you're actual path might be different depending on your datacenter name.  Really I was just wanting to know if you had anything in your consul KV store under `fabio/config`.  That's the default path for additional configuration and what I see being used in the log segment you attached.

[code]

[2018-04-18 20:44] leprechau commented on #485
Ohh, I think I may see the issue ... can you try leaving `registry.consul.tagprefix` as the default value?  Also the default consul address is localhost (127.0.0.1) ... so you shouldn't need to pass `registry.consul.addr` as it looks like you have consul and fabio running on the same host.

[2018-04-18 20:48] satishviswanathan commented on #485
Currently I was trying to get it working on my dev box which is Windows operating system and I have both Consul and Fabio running on the same box but I'm using my machine IP instead of  localhost (127.0.0.1)

[2018-04-18 20:50] leprechau commented on #485
You should be able to start `consul agent -dev` and `fabio` without any other options and get a working example.  The addition of `proto=tcp` is also telling fabio to run as a TCP load balancer vs an HTTP load balancer.

[2018-04-18 20:52] leprechau commented on #485
Literally...

Window #1:
```consul agent -dev```

Window #2
```fabio```

[2018-04-18 20:59] satishviswanathan commented on #485
You are right we can start consul agent -dev but that will use localhost right, but I want to use my machine IP

[2018-04-19 14:27] satishviswanathan commented on #485
Am I missing any configuration here, any help is highly appreciated

@magiconair

[2018-04-19 14:38] mcneiljt opened #486 "Fabio decodes URL path parameters"
Related issue/change:
https://github.com/fabiolb/fabio/issues/347
https://github.com/fabiolb/fabio/commit/cc3e3cd601abbb48a6f0d152a45c9c013b78b399

While using fabio a team mate noticed that some of our URL path parameters, such as resource Ids, which have url-encoded content in them are being decoded by fabio causing 404 errors. The decoded path parameters are sent to the service and not recogniz

[2018-04-19 14:49] leprechau commented on #485
@satishviswanathan I think you need to start with a known clean state and then add as you progress.  The errors you are seeing don't make sense with a clean configuration.

[2018-04-19 16:07] satishviswanathan commented on #485
I've now started clean

1. Running consul as localhost
2. Registered health check
3. Registered TCP services
4. Tried running Fabio with 2 different options with following results.

fabio-1.5.8-go1.10-windows_amd64.exe -proxy.addr :2302;proto=tcp
[Fabio-log1.txt](https://github.com/fabiolb/fabio/files/1928877/Fabio-log1.txt)

fabio-1.5.8-go1.10-windows_amd64.exe -proxy.addr :2302;proto=tcp -regist

[2018-04-19 16:09] leprechau commented on #485
Ahh, okay so ... what do your service registrations look like?  What is your `urlprefix` tag on the service?

[2018-04-19 16:32] magiconair commented on #485
You don’t need to set the registry.consul.urlprefix option. That is only necessary if the tags do not start with ‘urlprefix-‘

—
Frank Schröder

[2018-04-19 16:34] magiconair commented on #485
Other than that this looks fine. Probably a good idea to print out the bad line as well. I’ll make a change.

—
Frank Schröder

[2018-04-19 16:35] satishviswanathan commented on #485
When I remove the option registry.consul.urlprefix I get the following error.

syntax error: 'route add' invalid

[2018-04-19 16:57] magiconair commented on #485
Yeah. I don’t know. I’ll update the error reporting. If you are comfortable building fabio from source you can do that as well.

https://github.com/fabiolb/fabio/blob/master/route/parse_new.go#L85

Then run ‘make’ or ‘go build’ to build fabio

—
Frank Schröder

[2018-04-19 20:43] marcosnils opened #487 "UI is broken from versions => 1.7"
Fabio rocks!, just wanted to let u know that UI is broken from 1.7 on wards due to jQuery invalid certificate for this URL (https://code.jquery.com/jquery-3.3.1.min.js)

Keep rocking!.

[2018-04-19 23:14] marcosnils commented on #487
Seems like certificate is now valid. I'll close this.

As a suggestion it might be recommended to bundle UI assets so an internet connection is not required to serve them

[2018-04-19 23:14] #487 closed

[2018-04-19 23:29] marcosnils opened #488 "Document urlprefix and glob matching"
Looking for ways to handle different path combinations I came across with the `glob` feature through the GitHub issues. It'd be amazing to add some documentation around this and some examples about when it's convenient to use either.

Some benchmarks results would be nice as well

[2018-04-19 23:45] satishviswanathan commented on #485
Thank you. I added the log and identified that while registering the consul service I had a "space" in the name. eg: "Service Check 1" which was causing the issue.

Now when i start fabio i can see the routes getting added. But when i access from my client application I'm getting the following error.

-registry.consul.addr 10.203.xxx.xx:8500 -proxy.addr :2302;proto=tcp

  [WARN] No route for 10.20

[2018-04-19 23:49] magiconair commented on #485
Try `urlprefix-:2302 proto=tcp` as tag when you register the service. Otherwise this is an HTTP service.

[2018-04-20 08:09] magiconair commented on #488
Feel free to send a PR for the docs

[2018-04-20 10:29] marcosnils commented on #488
Will try if I find the time.

[2018-04-20 16:03] satishviswanathan commented on #485
2018/04/20 10:57:20 [INFO] HTTP proxy listening on :2302
2018/04/20 10:57:20 [INFO] Access logging disabled
2018/04/20 10:57:20 [INFO] Using routing strategy "rnd"
2018/04/20 10:57:20 [INFO] Using route matching "prefix"
2018/04/20 10:57:20 [INFO] consul: Registered fabio as "fabio"
2018/04/20 10:57:20 [INFO] consul: Registered fabio with id "fabio-9998"
2018/04/20 10:57:20 [INFO] consul: Register

[2018-04-20 18:31] magiconair commented on #485
This is still starting the HTTP listener instead of the TCP.

[code]

This is most likely an issue with semicolon in the `proxy.addr` parameter. Unfortunate choice of separators :(

Try this:

[code]
and you should see

[code]

[2018-04-20 18:32] magiconair commented on #485
@satishviswanathan Thanks for being patient and persistent!

[2018-04-20 19:29] satishviswanathan commented on #485
I'm using the following command where I've mentioned the proto as tcp
 -registry.consul.addr 10.203.106.62:8500 -proxy.addr :2302;proto=tcp

But still the log shows
[INFO] TCP proxy listening on :2302

Not sure what I'm missing

[2018-04-20 19:32] satishviswanathan commented on #485
Got it, my mistake I was missing the quotes 10.203.xxx.xx:8500 -proxy.addr : '2302;proto=tcp'

Now trying to get the client connected via fabio

[2018-04-23 15:40] satishviswanathan commented on #485
Now when my client application try to connect to fabio @ port 2302, I'm getting the following error.

tcp:  read tcp 10.xxx.x.xx:50690->10.xxx.x.xx:11111: wsarecv: An existing connection was forcibly closed by the remote host.

One of my service is running @ 10.xxx.x.xx:11111 and it is also listed in fabio routing table.

Please advice what can be done to resolve this issue.

[2018-04-23 16:32] satishviswanathan commented on #256
@badounan If you don't mind can you add the resolution for this issue?

[2018-04-24 09:48] tino commented on #484
I really don't know. From what I read psql (client and server) find the highest supported version by both. But it's fabio that takes care of the TLS, I haven't set up anything in the postgres server config.

Any suggestion on things to check?

[2018-04-24 14:56] murphymj25 commented on #282
We encountered this same issue when users added the URL prefix tag to consul with a "/n" at the end.

[2018-04-26 15:47] muravitskiy commented on #302
Ok so now I'm asking for this option :)

[2018-05-10 21:26] satishviswanathan opened #490 "Fabio confi help with multiple proto"
My consul services is having multiple services with different protocols, some use http and other tcp.  Now I'm trying to populate the fabio routing table with all these services with the following command.

The issue is my http services are not available since fabio is being exposed as a TCP proxy at port 2302.

fabio-1.5.8-go1.10-windows_amd64.exe -registry.consul.addr 10.XXX.XXX.XX:8500 -proxy.a

[2018-05-11 08:42] far-blue opened #491 "Question: wildcard hostname support"
Hi all :)

Just a quick question. I know path matching is longest path but what's the behaviour on hostname?

I currently have a couple of machines that host staging builds which are named by project and build number and they have dns setup with a wildcard (*.example.com style). Having separate dns for these is a shame and it would be nice to move them behind Fabio.

Can Fabio be setup with the fo

[2018-05-15 12:26] tholu commented on #166
Basic support for a consul stored htpasswd/htdigest file would be very nice and a good simplification before LDAP/Vault support.

[2018-05-16 03:42] #421 closed

[2018-05-16 03:56] magiconair commented on #491
Yes.

[2018-05-16 04:05] #452 closed

[2018-05-16 06:34] magiconair opened #494 "Tests fail with consul > 1.0.6 and vault > 0.9.6"
Consul startup times out and vault gets a 404. Need to investigate.

[2018-05-16 07:39] far-blue commented on #491
ah, great :D I guess it's `url-prefix-*.example.com/`

[2018-05-16 07:40] magiconair commented on #491
That should work. Let me know if it doesn’t.

—
Frank Schröder

[2018-05-16 07:42] far-blue commented on #491
\o/ yes, that works fine :)

Thanks :)

[2018-05-16 07:42] #491 closed

[2018-05-16 09:08] tontonpascal opened #496 "Http request life cycle and socket connection"
Hi !
I would like to understand, how fabio handle http request in the all life cycle of the request.
For exemple with this simple configuration : Client --> fabio lb --> server
a socket connection is open between the client and fabio, also between fabio and the server, but is fabio duplicate the request or just forward it to the server ?
Is there a socket connection open between the server and the

[2018-05-17 09:48] pschultz commented on #483
@danlsgiga, judging from the patch in #497, it looks like all you have to do to use the V2 backend is to update your Fabio config from

    cs=<name>;type=vault;cert=secret/fabio/certs

to

    cs=<name>;type=vault;cert=secret/data/fabio/certs

There doesn't seem to be a change required in Fabio itself.

[2018-05-17 10:03] deuch commented on #393
Hello,

I've the same issue here -->

Fabio (container), API (containers) and Consul Agent (process) are on the same host.

Health Check are done by docker-exec health check from the agent to the containers.

Fabio and API use the same overlay network. Sometimes we have some network issue on the overlay and fabio can not access to some containers. For example, we have 4 instances of our containers

[2018-05-17 15:40] nuriel77 opened #498 "Static routes in fabio.properties"
I am trying to add static routes in the fabio.properties configuration file.

I tried:
[code]
Or
[code]
Calling via:
[code]
But I get in the logs:
[code]
or:
[code]
When using the hostname.

After restarting fabio I check the logs, and I can see:
[code]
In any case I cannot see the route in output of:
[code]

I wonder if I am doing something wrong?

[2018-05-17 17:12] satishviswanathan commented on #490
@magiconair Do you think it is possible to expose my TCP services at 2303 and HTTP services at 9999.

Fabio Routing table
![fabio-multiple-proto](https://user-images.githubusercontent.com/17437409/40192981-828b842c-59cb-11e8-95ee-afcccdea9ec6.png)

[2018-05-18 14:23] ashish235 opened #499 "Tls + sni support for non http traffic?"
Hi guys,

Is it possible to have sni feature for normal tcp traffic possibly for grpc. Which is not a http type traffic.

Sorry. if that is not feasible at all. Total noob with SNI stuff.

[2018-05-18 14:27] leprechau commented on #499
There is a tcp+sni listener that should work for that case.  We are using it for services that terminate TLS directly and enforce client certificate authentication.  Look at the `proto=tcp+sni` option on the `proxy.addr` setting.

[2018-05-18 21:14] danlsgiga commented on #483
Hi @pschultz, yeah, before submitting the issue I've tried Fabio with the newer path structure used in v2 but it didn't work. Thanks for looking into it though!

[2018-05-21 07:48] ashish235 commented on #499
@leprechau , thanks will give it a try.

[2018-05-22 04:01] erenfro commented on #276
I definitely need this as well.

[2018-05-22 04:11] erenfro commented on #276
In my test environment, I had a very simple consul setup. But in my main environment where I was going to deploy fabio, consul is setup to be fully encrypting gossip and tls communications, which for fabio that means it won't work, at all.

[2018-05-23 15:40] BogetC opened #501 "Is fabio can register itself into consul in HTTPS ?"
Is there a way to configure fabio, so it can register itself in consul in https ? I would like the fabio client to send certificate when requesting the consul agent.
The code seems to contain everything needed to do that, but i can't found any configuration field.

Need your help.

Thanks for reading my issue.
Bye !

[2018-05-28 14:07] BogetC commented on #501
OK so not at all. Prooved.
Too bad ! i will have to stop using fabio

[2018-05-29 12:51] yakcamnevets opened #502 "UI broken where no internet access."
Hello, the UI is broken on computers where to there no internet access. Could the jquery, materialize, etc. resources be included in fabio instead of loaded from the internet? Thanks.

Loading failed for the <script> with source “https://code.jquery.com/jquery-3.3.1.min.js”.
routes:7
Loading failed for the <script> with source “https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/material

[2018-05-29 20:15] shibukraj commented on #490
Is this can be done in Fabio? Or do we need to configure separate fabio instances per Protocol?

[2018-05-29 20:59] leprechau commented on #490
If you need a TCP listener and also an HTTP listener to enable the HTTP features you will need to define multiple listeners on different ports and/or different IPs.

Example from our lab configuration:
[code]

This binds to `172.27.18.68` on three different ports `80`, `443`, and `8443` using three different protocols for each listener.

[2018-05-30 12:27] BogetC commented on #174
This feature would be so usefull.

[2018-05-31 10:04] nuriel77 commented on #498
Ok, I see that it is not possible to combine both consul and static routes, as this is what I initially tried to do.

[2018-05-31 10:04] #498 closed

[2018-05-31 14:37] BogetC opened #503 "Fabio -> HTTPS -> Service ?"
Hi !
I need to have 100% secure comunications.
Is it possible to forward request to backends with HTTPS ?

and also, is fabio still maintain

[2018-05-31 19:39] magiconair commented on #503
You can use the tcp+sni proxy mode to have full end-to-end encryption.

Yes, fabio is still maintained. However, I am currently relocating my family to another country which uses up a lot of my free time.

—
Frank Schröder

[2018-06-01 08:49] BogetC commented on #503
Thanks for this quick answer !

I will have a look at that. I'll keep you update.

Thanks again.

[2018-06-01 12:13] BogetC commented on #503
Hi again !

I'm trying to store certificates in consul, and would like fabio to send the right certificate when a request is forwarded.
How tell fabio to pick the right certificates in consul to forward HTTPS request ? Is there a keyword to bind fabio and consul certificates ?

[2018-06-01 14:34] shibukraj commented on #490
Thanks that worked perfectly. What I have seen is we need to define TCP first and then HTTP.
Thanks again.

[2018-06-04 13:25] doctorj opened #504 "Is it possible to get client address when using tcp+sni?"
On backend server when I inspect RemoteAddr I get address of server that fabio is running on.
Can fabio log those requests so I can get them there?

Thanks.

[2018-06-05 15:38] BogetC commented on #503
Ping.

Hello again.

I'm getting crazy. Fabio is great but for one last feature i need, i cannot move forward.

My services have to listen in https. Is there a way to configure fabio to send https request ?

tcp+sni proto seems to be to much constraint. i get : **[WARN] No route for IP**
tlsskipverify doesn't work for me. i get :  **tls: client didn't provide a certificate**
and i get this last er

[2018-06-05 15:40] BogetC commented on #503
@magiconair I could need your help.
Sorry to spam this issue but there is not enought documentation and not enought place to talk about fabio.

[2018-06-05 15:42] leprechau commented on #503
You basically have two options for end-to-end TLS communication:

1.  `tcp+sni` listener will route to the desired backend based on the SNI header of the incoming request and do a simple TCP proxy.  In this case fabio does not terminate TLS and leaves it up to the backend to terminate the TLS connection with the proper certificate chain.

1.  `https` listener will route to the desired backend base

[2018-06-05 15:44] BogetC commented on #503
with https listener i get :

for my service : **tls: client didn't provide a certificate**

for fabio **http: proxy error: remote error: tls: bad certificate**

[2018-06-05 15:45] leprechau commented on #503
To get mostly end-to-end TLS with an `https` type listener you should add the tags as described in the documentation to your backend services:

https://github.com/fabiolb/fabio/wiki/Features#https-upstream-support

Keep in mind the backend must support terminating HTTPS and provide proper certificates.  You may skip validation if needed.

[2018-06-05 15:45] BogetC commented on #503
done

[2018-06-05 15:46] BogetC commented on #503
skip validation doesn't work

my service tags are : urlprefix-/A proto=https tlsskipverify=true

[2018-06-05 15:46] BogetC commented on #503
even with that i get : **tls: client didn't provide a certificate**

[2018-06-05 15:46] leprechau commented on #503
What does your routing table look like?  Could you post the output of `curl localhost:9998/api/routes?raw`?

[2018-06-05 15:47] leprechau commented on #503
So, this seems like your backend isn't offering HTTPS or you are making an HTTPS request to an HTTP port.

[2018-06-05 15:49] BogetC commented on #503
route add s2 /C https://137.74.25.188:8002 opts "tlsskipverify=true"
route add s1 /B https://137.74.25.192:8001
route add s2 /A https://137.74.25.188:8002 opts "tlsskipverify=true"
route add s1 /A https://137.74.25.192:8001

[2018-06-05 15:50] BogetC commented on #503
My backend is right in golang, and seems to be ok but i ll have a look at that to be sure

[2018-06-05 15:50] leprechau commented on #503
I don't see the `proto=https` option there.  Secondly, are you doing TLS on port 8002?

[2018-06-05 15:52] BogetC commented on #503
My service tags are : **urlprefix-/A proto=https tlsskipverify=true", "urlprefix-/C proto=https tlsskipverify=true**

[2018-06-05 15:52] BogetC commented on #503
yeah for 8002, which port should i use ? 443 is already in use

[2018-06-05 15:54] leprechau commented on #503
That's fine, just making sure I was making the correct assumption.  The routing table looks a bit odd then.  You have `https` destinations going to both port `8001` and `8002` and I am assuming that port 8001 is plain HTTP.  So my guess is that you have `proto=https` on both services? The 8001 service and the 8002 service?

[2018-06-05 15:55] BogetC commented on #503
yeah but they are both running on different machines

[2018-06-05 15:57] leprechau commented on #503
So for clarification ... is this annotation correct?

service listening for HTTPS with a self-signed cert on port 8002
[code]
service listening for HTTPS with a valid cert on port 8001
[code]
service listening for HTTPS with a self-signed cert on port 8002
[code]
service listening for HTTPS with a valid cert on port 8001

[code]

[2018-06-05 16:01] BogetC commented on #503
Server 1 (s1):  implements service A and B. Listen for HTTPS with self signed cert

Same for Server 2 (s2): just implements C instead of B

[2018-06-05 16:02] BogetC commented on #503
Only one contain tlsskipverify, only for testing

[2018-06-05 16:02] leprechau commented on #503
Okay but I'm specifically concerned about what port the services listen on.  If port 8001 is HTTP your routing table is wrong.

[2018-06-05 16:02] BogetC commented on #503
I would them both doesn't use tlsskipverify

[2018-06-05 16:03] BogetC commented on #503
why 8001 is wrong ?

[2018-06-05 16:04] BogetC commented on #503
i'm using **server.ListenAndServeTLS(certPath, keyPath)** for both backends

[2018-06-05 16:06] leprechau commented on #503
It's only wrong if port 8001 is an HTTP listener.  If both port 8001 and port 8002 terminate TLS then it's fine.

Could you test a curl?

[code]
and ...
[code]

[2018-06-05 16:06] BogetC commented on #503
i have to go, but i ll be back in 45min. Is it possible to join you with facebook or something to continue this discussion ?

I could post the entire solution if we find it after.

[2018-06-05 16:06] leprechau commented on #503
I will be here.

[2018-06-05 16:07] BogetC commented on #503
* Rebuilt URL to: https://137.74.25.192:8001/
*   Trying 137.74.25.192...
* TCP_NODELAY set
* Connected to 137.74.25.192 (137.74.25.192) port 8001 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
* successfully set certificate verify locations:
*   CAfile: /etc/ssl/cert.pem
  CApath: none
* TLSv1.2 (OUT), TLS handshak

[2018-06-05 16:07] BogetC commented on #503
* Rebuilt URL to: https://137.74.25.192:8001/
*   Trying 137.74.25.192...
* TCP_NODELAY set
* Connected to 137.74.25.192 (137.74.25.192) port 8001 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
* successfully set certificate verify locations:
*   CAfile: /etc/ssl/cert.pem
  CApath: none
* TLSv1.2 (OUT), TLS handshak

[2018-06-05 16:08] BogetC commented on #503
Ok great, I ll be back as soon as i can. thanks for helping me. You are my last hope x)

[2018-06-05 16:10] leprechau commented on #503
Okay, that's pretty informative.  The certificate you are providing isn't parsable for `137.74.25.192:8001` and it doesn't look like `137.74.25.188` is even listening on port `8002`.

[2018-06-05 17:08] BogetC commented on #503
back online @leprechau

[2018-06-05 17:12] BogetC commented on #503
ok i understand what you said.
Let me check on that.

Thanks for your time ;)

[2018-06-05 17:13] BogetC commented on #503
@leprechau . How do i tell fabio to provide cert for 137.74.25.192 ?

[2018-06-05 17:35] BogetC commented on #503
yeah i just switch port 8002 to 8001 to show you that is two backends on different machines

[2018-06-05 17:45] leprechau commented on #503
Understood about the ports.  To the certificate issue...

With an HTTPs listener fabio is going to terminate the TLS handshake from the client and then re-originate a request to a backend server.

Using an `https` fabio listener and a standard backend (no special `proto` option) ...
[code]

Using an `https` listener with an `https` backend declared with `proto=https` ...
[code]

In each situation

[2018-06-06 09:35] BogetC commented on #503
Hi @leprechau.

I re-generate my certificates.

I succeed contact my backends with postman and the right client certificate. But when i'm trying to contact fabio with the same certificate:

fabio tells me: **http: proxy error: remote error: tls: bad certificate**
backend tells me: **http: TLS handshake error from 137.74.25.173:38006: tls: client didn't provide a certificate**

so the same error th

[2018-06-06 09:36] BogetC commented on #503
If my backends have to provide certificates, why are they tell me that client didn't provide it ?

[2018-06-06 09:44] BogetC commented on #503
When i use curl with client certificate to contact my backends it work. I don't understand how my backends could provide certificate for client.

[2018-06-06 09:45] BogetC commented on #503
curl -v --cacert myCa.crt --key certs/myComputer.key --cert certs/myComputer.crt https://137.74.25.192:8001/B

This worked.

[2018-06-06 12:43] BogetC commented on #503
The probleme comes with Fabio so let me know if there is something i miss.
It seems like add proto=https to the the backends tags is not enought.

[2018-06-06 14:32] stack72 commented on #501
There is a fix in #391

[2018-06-07 07:54] kuskmen opened #505 "Headers passed through fabio are modified"
Hi guys,
I noticed that sending headers to fabio modifies the header key, for instance header with key `claim-siteid` when passed to fabio and then to the service it arrives as `Claim-SiteId`. Tbh I am not sure if this is desired behavior or it is made so because of good practices, but I wanted to verify it with you.

[2018-06-07 07:55] magiconair commented on #505
This is a side-effect of http header normalization within the Go http library. HTTP header names are case-insensitive.

[2018-06-07 08:27] #505 closed

[2018-06-10 04:29] arrodriguez opened #506 "Domain precedence with glob"
@magiconair @marcosnils @xetorthio
Hello guys :

i am wondering which route fabio selects when we have configure this prefix:
[code]

if use api.edge.foo.com in the host header, What is the expect behaviour?
It will use *.edge.foo.com/gizmo or *.foo.com/gizmo ?

I was doing a couple of tests and always select the route * foo.com

Regards!

[2018-06-10 07:54] marcosnils commented on #506
IIUC fabio should match the routs from the most specific to the most generic one. So, in this particular case I'd expect to math the *.edge.foo.com for the hostname `api.edge.foo.com`

[2018-06-10 17:45] arrodriguez commented on #506
Yes, i would expect the same result, but navigating old issues and doing some testing , the results were this:

- if the host is a complete match, it take precedence over the glob route.
[code]

- When two or more glob routes are compiting , the most general  one is taking precedence over the more specific.

[code]

Fabio version is v1.5.6.

Regards

[2018-06-10 18:10] leprechau commented on #506
Could you see if you can reproduce the same behavior and b the current version?  I thought this was covered in a router test case.

[2018-06-10 18:27] magiconair commented on #506
I can't reproduce this. When I add this test to the 1.5.6 codebase it works:

[code]

[2018-06-10 18:28] magiconair commented on #506
Same for 1.5.9 and when I let the test run in a loop.

[code]

[2018-06-10 18:31] marcosnils commented on #506
@magiconair thanks a lot for taking the time to test this. I haven't checked but in @arrodriguez example there's a path in the URL. Maybe that's causing the issue?

[2018-06-10 18:31] magiconair commented on #506
Hmm, can reproduce this with the test server.

[2018-06-10 18:35] magiconair commented on #506
[code]

The demo server responds with 404 not found which is a bug in the demo server but the request gets routed to the wrong backend.

[2018-06-10 18:38] magiconair commented on #506
Looks like a bug.

[2018-06-10 18:51] magiconair commented on #506
I think I know what is going on. This line doesn't do what I think it does:

https://github.com/fabiolb/fabio/blob/master/route/table.go#L306

The problem is not that fabio does not respect the longer host but that `edge < foo`. If you replace `edge` with `zzz` it "works".

The issue is that domain names have the most significant part at the front whereas the request URIs have the most significant

[2018-06-10 18:52] magiconair commented on #506
That's also the reason the test case works since `def > abc`

[2018-06-10 19:40] magiconair commented on #506
Fabio should always go from most specific to least specific when picking a match. However, it also allows a glob pattern anywhere in the host name. `*.a.com` and `*.b.a.com` should be sorted as `*.b.a.com, *.a.com`. However, I am not sure what the order should be for `*.a.com` and `a.*.com`. I am OK with leaving this undefined for now. The current implementation - which reverses the strings before

[2018-06-10 19:57] arrodriguez commented on #506
Yes you are right.  Its make sense leaving this like #507

[2018-06-10 21:00] #506 closed

[2018-06-13 19:24] kneufeld opened #508 "could the source and destination be clickable in the ui?"
First of all, thanks so much for fabio, it's awesome and I love it.

Minor feature request though, could you make the source and especially the destination columns in the ui an href so that you can go directly to that service in the browser? If the service has an http check (as opposed to a tcp check) then service name could also be a link.

Thanks!

[2018-06-13 19:50] magiconair commented on #508
Thank you!

You can submit a PR since this looks like a simple change. All the code is in https://github.com/fabiolb/fabio/blob/master/admin/ui/route.go

Happy to merge it.

[2018-06-14 06:19] doctorj commented on #504
Hi deuch,

Yes, I did check "X-Forwarded-For" header. It is empty. "Forwarded", "X-Real-Ip", "X-Forwarded-Port", "X-Forwarded-Proto", "X-Forwarded-Host" also.
Fabio is not setting headers when runing TCP-SNI Proxy. I haven't tried, but headers are probably set when fabio is running TCP Proxy when TLS termination is done on fabio.

[2018-06-14 11:44] leprechau commented on #504
TCP listeners including the TCP+SNI listener are passthtough to the backend.  If you want fabio to add headers you will need to use an HTTP and/or an HTTPS listener.  The HTTPS listener will terminate TLS at fabio and can optionally reoriginate with TLS to the backend if you specify ‘proto=https’ as a route option.

[2018-06-14 13:17] doctorj commented on #504
Hi leprechau, thanks for replying

I understand that headers are not set when running TCP-SNI Proxy, but I was wondering is there some other way to find out client address.
It doesn't have to be on backend. Is it possible for fabio to log requests that are passed through?
I have set "log.access.target = stdout", but have nothing on stdout. Am I doing something wrong or fabio is not logging request

[2018-06-14 14:59] leprechau commented on #504
The HTTP access logging was originally added in #80

[2018-06-15 14:52] kuskmen opened #509 "Would it be possible to configure Fabio to watch services with warning state?"
Hi guys,
I am currently looking for a nice way of implementing our API health check status decision.

Consider this scenario - I have a service which depends on multiple other services in order to provide multiple functionalities. For the sake of argument lets say that there is logical mapping between my dependent services and functionalities my service provide.  This means that in order to provid

[2018-06-15 20:14] magiconair commented on #509
I think what you are looking for is https://fabiolb.net/ref/registry.consul.service.status/

[2018-06-15 20:27] magiconair commented on #496
Fabio is a proxy and not a router which means that for every incoming request there is a corresponding outgoing request and the bytes flowing back and forth are duplicated.

Fabio's HTTP client makes the backend request which is usually slightly different than what the client has sent. For example, fabio adds headers which indicate that the request is coming from a proxy but the Go HTTP client als

[2018-06-15 20:35] magiconair commented on #484
You can try the handshake with `openssl s_client -connect geodb.myserver.nl:5432` and see whether that works. If you are on a Mac you might need to install a newer version with homebrew and use `/usr/local/opt/openssl/bin/openssl` since only there you have the `-tls1_2` option.

[2018-06-15 22:19] kuskmen commented on #509
Hmm thanks mate it looks like it is indeed, but shouldnt we change the getting started page then?

[2018-06-16 10:12] #509 closed

[2018-06-19 13:19] mantasaudickas opened #511 "Return 503 if route is registered in consul, but no healthy ainstances available"
Hello,

together with fabio we build our url's hierarchically, for example:
/ -> root application (some kind of dashboard)
/api -> dashboard API
/sales -> sales application UI
/sales/api -> sales application API

So lets say for some reason we deploy wrong version to sales API service, which fails to start (thus consul marks it as critical and fabio removes from routing).

Now if another service c

[2018-06-19 14:16] leprechau commented on #511
The behavior you described is correct.  I'm concerned that any feature that allowed keeping a route that was no longer present in the backend could lead to a stale routing table which would also cause problems.

The easiest "fix" here would be to have your UI container present a "pretty" 404 page.  I don't see how Fabio could ever know that `/sales/api` is a valid route that should *not* match `/s

[2018-06-19 14:23] leprechau commented on #511
Sorry, I just read your issue again and I think I understand your actual request.  You basically want to define the behavior for "unhealthy" prefix matches?

What would you think of some sort of maintenance page feature?

Basic idea... if a incoming request would match a route but that service is either failed or marked as maintenance you could specify a custom response.  This would be similar to

[2018-06-19 14:29] mantasaudickas commented on #511
Well.. Consul is Fabio database.. so it just needs to use it.
In my case services with `urlprefix-/sales/api` tags are already in Consul, but lets say for some reason all these instances are failing and /status endpoint is returning 503.
In that case Fabio is simply `forgetting` this route and searching another match, while practically - service route is known, just not functional.
So in that case

[2018-06-19 14:34] leprechau commented on #511
Currently `no route` means no route match in the table.  That's not what is happening here.  There is a route matching the request in the table.  Fabio is currently doing the *right* thing.  This would be new functionality that would be similar but different to the current `noroute*` options.

[2018-06-19 14:36] mantasaudickas commented on #511
Yes, you are right.

[2018-06-19 14:37] leprechau commented on #511
Okay, I understand what you're asking for now and I can see the use case.  Would you be able to submit a PR?

[2018-06-19 14:38] mantasaudickas commented on #511
Never tried to code in GO.. might take a while :)

[2018-06-19 14:48] leprechau commented on #511
No problem, I'll try and take a look at it in the next few days.

[2018-06-22 07:06] kuskmen commented on #511
@leprechau I've always wanted to join fabio project and this seems like a suitable case to do. Do you mind if I try to prepare a PR in next few days? :)

[2018-06-22 14:20] leprechau commented on #511
Absolutely, that would be great!

[2018-06-22 14:32] BogetC opened #512 "Fabio instantly delete route, whereas health check is passing"

[2018-06-22 14:33] #512 closed

[2018-06-23 03:36] netik opened #513 "If consul is behind an ELB with a set timeout, and the connection is timed out by the ELB, subsequent requests from fabio fail"
We have a set of consul servers behind an ELB (We're not running a local consul agent on the box with fabio).
Our Idle timeout is set to 60 seconds

I believe that fabio opens a long-running, persistent connection to consul. If the ELB times the (idle) connection out, Then I get errors like:

[code]

Is there a way to control fabio's connection timeouts to consul, or, to tell it not to use long ru

[2018-06-23 03:49] netik commented on #513
Even after increasing our ELB timeout to 120 seconds, I get the same issue...

[code]

[2018-06-23 03:53] netik commented on #513
Increasing this timeout on the ELB to 120 seconds only delays the error message.
It's provable that the ELB closing the connection is the root cause of this issue.

[code]

[2018-06-23 03:57] netik commented on #513
I am also guessing that it makes more sense to have consul's address (in DNS) report the actual server IPs and not the Loadbalancer, as fabio attempts to open multiple connections to consul...

[code]

[2018-06-23 05:35] leprechau commented on #513
Consul service "watches" are implemented as long poll blocking HTTP requests.  Ideally you would have a local consul agent running in client mode on the same box as fabio.

[2018-06-23 05:37] leprechau commented on #513
You will see multiple connections from fabio to consul but in a typical deployment those are all to the same localhost node not multiple cluster members.

[2018-06-23 07:38] netik commented on #513
Aha. Thank you. I’ll set up local consul servers on our api hosts.

[2018-06-23 07:38] #513 closed

[2018-06-23 14:57] leprechau commented on #513
@netik Just for clarification you only need a consul agent in *client* mode on the fabio host.

[2018-06-25 15:08] talksinmath commented on #406
I'm running into the same problem.
I have jobs deployed via nomad and can only reach the exact path exposed via` url-prefix` .

E.g., I have a restheart running (exposes rest-interface to mongodb).

Route via fabio:

`restheart | /restheart | http://127.0.0.1:25200/ -- | -- | --`

When trying to access restheart via fabio, only `/` is reachable. The UI that is running under `/browser` is unreachab

[2018-06-28 07:46] Roseidon opened #514 "Logging fabio-output to log file"
Hi guys,

is there a possibility to write the console output from fabio to a log file?
The only way I found so far was logging the access  to stdout, but not a file.

[2018-06-28 09:43] magiconair commented on #514
No. This should be handled by your supervisor which does the log file redirection.

—
Frank Schröder

[2018-06-28 13:40] leprechau commented on #514
@Roseidon how are you running fabio today?

[2018-06-28 18:29] satishviswanathan opened #515 "Fabio - Manual overrides"
How do we enable Manual overrides in Web UI?

Can someone share the steps for enabling this feature.

[2018-06-29 07:23] sreejithdivakar opened #516 "How can I configure fabio with single public IP load balanced to 3 nodes with private IPs"
Hi,

I am trying to setup a 3 node consul webcluster with the design as shown below. Fabio is running in all the three nodes and adding routes to all . All three nodes are also installed with consul and running in server mode.

![image](https://user-images.githubusercontent.com/30250155/42078573-5e0e14ae-7bc0-11e8-939e-030256291409.png)
![image](https://user-images.githubusercontent.com/30250155/4

[2018-06-29 08:14] artyomturkin opened #517 "Add support for Consul Connect enabled services"
Allow dynamic exposure of Connect enabled services (with proxy or native) to clients that do not or can not support Connect themselves.

As it is should be the best practice to set wildcard intention to deny, exposed services can be sourced from intents that allow fabio to connect to a specific service. Additional meta data can be then discovered as usual.

[2018-06-29 09:00] ggerritsen commented on #515
You can put configuration for manual overrides in the web ui (https://fabiolb.net/feature/web-ui/).
See e.g. https://fabiolb.net/cfg/#route-add for how to add a route.

[2018-06-29 20:21] leprechau commented on #515
You should click on 'Overrides' and see a dropdown like ...

<img width="375" alt="screen shot 2018-06-29 at 3 17 04 pm" src="https://user-images.githubusercontent.com/1444686/42113032-873686b0-7baf-11e8-90d9-94235df266c3.png">

Once you click on 'default' there you should be taken to the manual routes section ...

<img width="1338" alt="screen shot 2018-06-29 at 3 16 35 pm" src="https://user-imag

[2018-06-29 20:36] leprechau commented on #515
The `ui.access` settings needs to be `rw` which is the default.

[2018-06-29 21:21] satishviswanathan commented on #515
Thank you that worked !

Using the command I was able to add a new route. This routes needs to be in the consul kv but I'm not able to see that in the kv store.

[2018-06-30 03:56] leprechau commented on #515
Good, closing this issue.  Feel free to re-open if it's not actually resolved.

[2018-06-30 03:56] #515 closed

[2018-07-02 13:09] BogetC commented on #501
Ok that's what i need. Thanks :)
I ll have to wait for this to be on the master but for now, i'm using a proxy between fabio and consul to redirect http in https.

[2018-07-02 14:07] holtwilkins commented on #455
Hey @magiconair had a chance to think any more about a global https redirector?

[2018-07-02 14:39] leprechau commented on #455
@holtwilkins you can already do the "catch all" HTTP->HTTPS redirect.  We're doing that today with the following route:

[code]

[2018-07-02 19:24] leprechau commented on #455
To get exactly what you are wanting we could probably add another pseudo-variable for `$host` that could be used similarly to the existing `$path` variable.  Then you could basically add a route for `:80` that would target `https://$host$path`.

[2018-07-02 19:49] kuskmen commented on #511
Hi guys, I looked upon the implementation in fabio and I was wondering if you can provide some more detailed description/requirement of what exactly is needed/desired.

As far as I saw these routes are indeed "forgotten" (unless I didn't see something in the implementation) so I was wondering are we saying that we should keep those routes even if the health check is critical and respond with 503 w

[2018-07-02 20:56] holtwilkins commented on #455
Yup @leprechau that would be great.

[2018-07-02 21:31] leprechau commented on #455
So, after actually looking at the code I think we could do this without introducing another variable.  I think we could just add a single code block to the end fo the `BuildRedirectURL` function in `route/target.go` that would use the request host as the redirect host if the redirect host is empty.  This would allow you to specify something like: `route add :80 / http://$path opts "redirect=301"`

[2018-07-02 21:38] leprechau commented on #455
@holtwilkins would you care to open a new issue around this specifically?

[2018-07-03 06:36] mantasaudickas commented on #511
Yes, that's correct. Routes are available in Consul, but if all registered instances are down (warning and/or critical state) - fabio should respond with 503 instead of selecting another matching route.
Which consul states are unroutable should be decided using 'registry.consul.service.status' variable.

[2018-07-03 12:50] kuskmen commented on #511
@leprechau , @magiconair  do you agree with the terms guys?

[2018-07-03 15:24] imcitius opened #518 "Websocket proxy timeouts"
Hello!

I'm trying to load-balance websocket server using fabio, and get strange behavior.
Some times test websocket client on python (infinite loop, trying to connect to websocket, subscribe for events, and get few events) throws exception:
[code]

In fabio's log I see this:
[code]

But the very same setup with traefik instead fabio, works perfectly.

May I miss something?

Thanks.

[2018-07-03 15:34] leprechau commented on #518
What happens if you run the same test through fabio and direct to the backend at the same time?  Does the call through fabio fail and the call direct work or do they both fail at the same time?

[2018-07-03 15:35] leprechau commented on #518
The error you posted from the log looks like fabio (10.0.0.1) timed out during the tcp handshake while trying to establish a connection to the backend (10.0.0.2) on over port 80 tcp.

[2018-07-03 15:37] leprechau commented on #518
There could be many reasons including resource exhaustion.  Is the test client and/or the backend properly closing the socket?  Could you be running out of available outbound ports?  Is it an open file handle limit?

[2018-07-03 15:43] imcitius commented on #518
I will test direct test without lb, and update this thread.

fabio/traefik and ws server is on same lan in all cases, so I think any network related problems should hit traefik as well.

Concerning system resources - fabio has 100 000 descriptors available, and there is no production load on it now, so fabio's resources cannot exhaust.
Same with network, problems on the ws server side should hit t

[2018-07-03 15:50] leprechau commented on #518
Wasn't trying to invalidate your results.  Just trying to think through the problem to identify the root cause.  The error above is generated from the underlying golang network library.  This could be because something isn't closing sockets.  When the test fails does it fail once or repeatedly?  Could you capture a `netstat -untap|grep fabio` output on the fabio host when the tests are failing?

[2018-07-03 16:08] imcitius commented on #518
No offence, please excuse my poor english, if I can look too rough.

I tried direct test, and had no problems with it.
On ws server side I can see some connections, going from ESTABLISHED to TIME_WAIT state after python script finish and exit.

Also `netstat -untap|grep fabio` does not show any stuck connections on fabio.

Do we have some way to debug underlying go library's deeper?

Thanks.

[2018-07-03 16:14] leprechau commented on #518
How long do the connections stay in `TIME_WAIT` and about how many are there?  I'm wondering if traefik is more aggressively closing sockets on behalf of the client.  Do you see the same number of `TIME_WAIT` connections with traefik and direct test?

[2018-07-09 07:38] holtwilkins commented on #455
Hey @leprechau I'm happy too, but not sure how to word it.  It seems like the old PR at https://github.com/fabiolb/fabio/pull/451 was meant to do something similar to this but was seemingly forgotten about?  Should I open an issue calling out host-less redirects?

[2018-07-12 04:30] pjebs commented on #394
I would like to respectfully ask if there was any progress on this issue (L4 UDP)?

[2018-07-12 15:45] luke123abc1 opened #519 "Forwarding Uri tag in original request to endpoint"
Hi,
I was wondering in fabio with consul and nomad, how do i specify uri tags that get forwarded to the destination endpoint. For example, I am running a consul node name webapp that runs at point 172.20.20.10:xxxxx with the tag urlprefix-/webapp. Now is there a way to connect to fabio at http://172.20.20.10:9999/webapp/(uri tag) where the user is forwarded to 172.20.20.10:xxxxx/uri tag.
Thanks, L

[2018-07-12 17:05] luke123abc1 commented on #519
After some research, I have learned if you do not add a url tag, it will auto forward the uri. I am now wondering how you can forward the uri with a url prefix

[2018-07-14 06:38] magiconair commented on #394
I’m still in the middle of moving my family to another country and meeting a deadline. If someone from the community wants to jump in then this is a good opportunity. This should not be too difficult.

—
Frank Schröder

[2018-07-14 23:31] zpeterg commented on #490
Thanks, @leprechau , I looked for some time for how to chain protocols. The documentation seems to omit this.

[2018-07-16 08:07] JC-paavo opened #520 "Fabio has been connecting to some unknown IP"
2018/07/16 08:01:33 [ERR] Failed to read proxy prefix: read tcp 172.19.0.5:9999->100.116.27.0:16173: read: connection reset by peer
2018/07/16 08:01:33 [INFO] consul: Health changed to #1039
2018/07/16 08:01:33 [INFO] consul: Health changed to #1040
2018/07/16 08:01:33 [ERR] Failed to read proxy prefix: read tcp 172.19.0.5:9999->100.116.19.0:20774: read: connection reset by peer
2018/07/16 08:01:3

[2018-07-16 08:38] peiwenjian commented on #520
Plus: I don't have these 100.x.x.x.x's in my cluster

[2018-07-16 21:09] #276 closed

[2018-07-16 21:41] leprechau commented on #276
@sethvargo Sorry if this got put to the backlog.  Is this still something that's needed mainline in fabio?  Sorry for asking a redundant question if this has already be covered elsewhere.

[2018-07-17 08:57] shantanugadgil commented on #230
... and I am back ...

I'll try to elaborate on my new use case. (pretty similar to the first one, but L7 this time).

I have a Nomad + Consul cluster used by dev/qa. This cluster is used to run "services" pertaining to various versions of an app.
(Lets call them appv1 and appv2)
Each team run their own version of the app outside the cluster. (minor implementation detail, not relevant to problem a

[2018-07-17 12:18] leprechau commented on #230
As pointed out by Frank above, you can have a different `urlprefix` tag configured on each Fabio instance.   You could have `alb1` and `alb2` instead of the default `urlprefix` on those instances and tag the consul services accordingly.

[2018-07-18 15:15] andreyshamray opened #521 "Redirection to default back-end if route not exists"
Hi, guys. Sorry, if this functionality already exists but for some reason, I can't find it(.
So, basically we need to - if no route is matched in the routing table, Fabio should route to a "default" backend. And "default" backend, in this case, will be another Fabio URL which is connected with separate Consul dc. Will be very grateful if you can help with this.

Thanks in advance!

[2018-07-18 15:16] leprechau commented on #521
That's currently handled by a `/` route.  You could make that a static route or an advertised service with a `urlprefix-/` tag.

[2018-07-18 15:30] #490 closed

[2018-07-18 15:32] leprechau commented on #490
Np, I'll see about adding a more complete example to the documentation.

[2018-07-18 15:44] satishviswanathan opened #522 "Fabio Manual Overrides Issue"
Fabio shows service in routing table even though the service is down and marked not healthy by consul

Scenario
********

We have a service running from 2 boxes registered with consul which does a health check and fabio shows the service in it's routing table with equal weight age. Now we have a manual override and reduced the traffic to one of the server to 35% using the following command.

route

[2018-07-19 02:33] #519 closed

[2018-07-19 06:43] andreyshamray commented on #521
Hi, thanks for fast response. I will try to implement this approach today.

[2018-07-19 14:33] andreyshamray commented on #521
Hm strange, but routing is not working for me. Could you pls give an advice on this.
1. I have added config like this:
[code]

[2018-07-21 02:40] ketzacoatl commented on #211
@marcosnils did you have any luck diving it?

[2018-07-23 11:32] andreyshamray commented on #521
Hi, guys. Did you have a chance to take a look at my previous comment?
Thanks a lot.

[2018-07-23 15:04] andreyshamray commented on #521
So finally we have configured it, the problem was with the host header.
[code]
And does Fabio support route configuration threw env variables, like FABIO_REGISTRY_CONSUL_ADDR?

[2018-07-24 01:54] marcosnils commented on #211
Not really, been extremely busy with some other stuff. Might be able to take a look some time this week. Can't promise anything though

[2018-07-24 01:57] leprechau commented on #521
Awesome, glad  you got it figured out.

No, the route/registry backends are static (in config), file (reloadable), and and consul currently.

[2018-07-24 09:19] andreyshamray commented on #521
Ok, thanks a lot!) I think I will use put method to just add the desired route to consul KV)

[2018-07-24 09:19] #521 closed

[2018-07-24 14:04] tuempeltaucher commented on #486
Any chance to see a fix here? We have the same problem with https://domain.tld as a path param.

[2018-07-24 14:30] leprechau commented on #486
There is work and discussion going on in #489 ... would you be able to test if that patch fixes your issue?

[2018-07-25 03:10] erenfro opened #523 "Fabio and Vault Token Issues"
Hello.

I recently had a case where Fabio stopped providing SSL because the token expired and was no longer renewable. This concerns me because, well, tokens all have a similar time-to-live life span which requires constant renewing in order to keep them active, as my understanding anyway.

Vault has an alternative to this which is approles. SaltStack recently implemented approle support for the v

[2018-07-25 06:44] tuempeltaucher commented on #486
No, that didn't change anything.

[TRACE] abc Tracing xxx/stella/v1/xzy/https://wwwi.screenwork.de/
[...]
[TRACE] abc Routing to service stella on http://10.0.1.4:25853/
"GET /stella/v1/xyz/https%3A%2F%2Fwww.screenwork.de%2F HTTP/1.1" 404 43 "" "curl/7.29.0" http://10.0.1.4:25853/v1/xyz/https://www.screenwork.de/

But I traced it done and added a few "RawPath"s:

https://github.com/tuempeltaucher/

[2018-07-25 16:53] leprechau commented on #486
@tuempeltaucher that's with the code from #489 applied?

[2018-07-25 18:07] tuempeltaucher commented on #486
Yes, I forked valentin-krasontovitsch:url_decoding_in_routing, that is the branch from his pull request.

[2018-07-30 07:21] sugdyzhekov opened #524 "TCP proxy broken since v1.5.8"
**Impact**
It's not possible to connect to MySQL since v1.5.8

**STR**
* Setup fabio as TCP proxy that listen 3306 port and has rule to route traffic to MySQL container (fabio version v1.5.7)
* Upgrade fabio to v1.5.8

**Expected result**
mysql client can establish connection to MySQL service

**Actual result**
mysql client hangs during connection establishment.

**Additional info**
v1.5.7
[code]

[2018-07-30 08:20] samm-git commented on #481
I see exactly same issue in our env. We have about 12 fabios and sometime (not often) one of them stalling on update. To detect this i wrote a flapping service and checking for the `[INFO] Config updates` every few minutes. This allows me to detect this easily.

In my env fabio 1.5.8 is connected to the local consul 1.0.2. At the time of checking consul agent looks healthy and contains correct rou

[2018-07-30 08:48] samm-git commented on #481
@magiconair not sure if proposed workaround will change anything. From the consul doc:
[code]

So it should be already set to 5 minutes. And i saw fabio-s hanged in "no-updates" state for at least few hrs. This makes me thinking that consul update thread is just hanged in that case.

[2018-07-30 22:51] erenfro commented on #523
@magiconair Yep. I looked further into this and vault, at least with 0.9.1 and up, has a default token max_lease_ttl of 32 days, so this poses a serious problem having to constantly renew, manually, these tokens for an application such as this, which as a result, also requires restarting the fabio service when changing the token.

[2018-08-01 01:18] nkissebe opened #525 "Problem geting fabio routing to its own ui"
Maybe what I want to do is strange, but....

I am running fabio in a docker container with FABIO_REGISTRY_CONSUL_REGISTER_TAGS = "urlprefix-mydomain.org/fabio" and FABIO_REGISTRY_CONSUL_REGISTER_ADDR set to the fabio ui address.

It routes correctly but then the fabio ui redirects to mydomain.org/routes. It loses the "fabio" path segment. I tried different strip options with no effect. I think fab

[2018-08-01 07:50] BogetC opened #526 "How to install personal CA when running Fabio in Docker container ?"
Hi ! I'm trying to run Fabio with a custom CA root, and i cannot find a way to do it with the official docker images.

Is someone already achieve this ?

Thanks in advance for your answer.

[2018-08-03 11:24] jorjika opened #527 "urlprefix- does not work properly"
Hello. I have simple setup of Consul and fabio. I've registered service in consul with tag urlprefix-/service1.
Fabio added route correctly. When i query  http://{myfabiourl}:9999/service1/api or http://{myfabiourl}:9999/service1/swagger/index.html (my service is written on .net core and it has some subdirectories) it does not work. It shows only result for http://{myfabiourl}:9999/service1.

I've

[2018-08-03 18:57] #277 closed

[2018-08-05 22:05] pvandervelde commented on #338
@magiconair Has this issue ever been fixed? I am seeing the same problem with Fabio 1.5.9 with services with multiple health checks. For me the output of  `curl 'localhost:8500/v1/health/state/any?consistent&pretty'?` is (unrelated nodes and services filtered out)

    [
        {
            "Node": "NZDINH10-01",
            "CheckID": "notifications-NZDINH10-01 - mode.operating",
            "N

[2018-08-06 20:24] samm-git opened #528 "ability to remove headers from the request"
Hi, i think it is more feature-request.

I would like to remove some of the custom headers added by my load balancer to not expose their values to the registered services. In my configuration it would be enough to set value of this headers globally. I saw few tickets about "adding headers", so decided to add my usecase. If you think that it is something you would like to add - i can try to do a PR

[2018-08-06 20:30] leprechau commented on #528
There has been quite a bit of discussion around header manipulation.

Most notably #110 and #168 which mention adding and removing headers.  I'm going to close this as a duplicate of #168 as I think that issue covers your use case.

Please feel free to on #168 with this use case.

[2018-08-06 20:30] #528 closed

[2018-08-07 07:09] samm-git commented on #168
Adding my use-case, as suggested in https://github.com/fabiolb/fabio/issues/528

I would like to remove some of the custom headers added by my load balancer to not expose their values to the registered services. In my configuration it would be enough to set value of this headers globally, but probably per-route configuration could be even better

[2018-08-07 13:42] satishviswanathan commented on #527
What is the error that you are getting?

You have mentioned service1 as the urlprefix and your actual end point url might not be having service hence you might require to do strip that prefix.

While registering the consul service you can define the urlprefix and strip it as shown below.

Ex:
 "Tags": ["urlprefix-/service1 strip=/service1"]

[2018-08-08 03:48] shantanugadgil opened #529 "Port range in the proxy.addr"
Can Fabio do a range of ports in the `proxy.addr` syntax?

I wan't able to deduce if it is possible from here:
http://fabiolb.net/ref/proxy.addr/

My use case is for the TCP listener; something like:
[code]
... to allow a range of ports

Regards,
Shantanu

[2018-08-08 04:18] shantanugadgil commented on #102
Hi @magiconair
I stumbled upon this accidentally! This feature is great. I too have a use case for this.
I guess this hasn't made it to master?

[2018-08-08 15:35] murphymj25 commented on #481
We're seeing a similar behavior with delays in Fabio reflecting route updates.  We are using fabio 1.5.9 and consul 1.2.2 (upgraded from 1.0.2 to see if that would help).  The interesting thing is that when Fabio does update a few minutes after the consul local agent updates, we do not see the route change in the logs.  We are also seeing memory continue to grow.  With the routes stored in memory,

[2018-08-09 14:50] galen0624 opened #530 "Memory Leak In Metrics"
We are running Fabio 1.5.9 in a production environment that has 1,200+ services.  We have observed what appears to be a memory leak (see graph of example).  The graph displays a lab ENV but in production the growth rate is the same.  We have to redeploy/restart the Fabio instance every couple of days due to this on going issue.    If the memory consumption grows above 60% (8G total on the box) Fab

[2018-08-09 14:51] murphymj25 commented on #481
It looks like the memory may be related to the metrics.  We have opened a separate issue #530 and provided the detail in that thread.

[2018-08-10 13:18] galen0624 commented on #530
We disabled Metrics and let Fabio run for 24 hours.  The memory consumption was level.

[2018-08-10 13:41] leprechau commented on #530
Thank you for that detailed analysis.  I'll try to dig in and review the metrics code and see if I can find the leak over the next few days.

[2018-08-10 14:02] jorjika commented on #527
@satishviswanathan  thanks. I needed "strip" option. It worked well :)

[2018-08-10 14:02] #527 closed

[2018-08-10 14:10] satishviswanathan commented on #527
Glad to hear it worked for you !

[2018-08-10 14:13] DavidJeche opened #532 "Expose Fabio metrics via Prometheus"
Fabio looks like a really impressive proxy for hashicorp related systems.

However I have seen that the metrics exposed by fabio do no include prometheus. The reason for this issue is to request whether anyone would like to work on adding Prometheus metrics to the program.

We will need to perform some instrumentation. I am looking for someone with go expertise. Please let me know if anyone would

[2018-08-10 14:19] leprechau commented on #532
Closing this as a duplicate of #211 ... please feel free to  comment on that issue.

[2018-08-10 14:19] #532 closed

[2018-08-10 14:28] leprechau commented on #530
Doing a bit more digging I think this relates to #476 and provides a bit of a push to get that going.

[2018-08-10 14:46] galen0624 commented on #530
I agree with #476 being pushed up.  I think it's slated for 1.6.  We would rather see the raw metrics instead of rolled up ones.  I was looking into rcrowley/go-metrics and my colleague and I are thinking it's related to the churn of node health.  We have over 1200 services registered in Consul so the node health is always updating.  Meaning the blocking query from Fabio to Consul is sort of point

[2018-08-10 15:39] murphymj25 commented on #429
@leprechau Are you still using gobgp for your route refledtors?  We are looking to stand up some route reflectors as well in the near future and gobgp looks like a good option.  Just wondering how your experience has been.

[2018-08-10 20:03] nkissebe commented on #525
I no longer care about this issue. Can't do this with other hashicorp tools anyway so wouldn't matter to me if fabio could do this or not.

[2018-08-10 20:03] #525 closed

[2018-08-10 20:10] leprechau commented on #525
Sorry for the late response ... but you could probably do all of this through fabio.

You could register Nomad with a `urlprefix-/nomad/ strip=/nomad` and do the same with Consul and Vault and others.   In theory that should work.  Assuming you had `mydomain.org` pointing to an instance of fabio.

[2018-08-10 20:18] leprechau commented on #530
I agree it's related to go-metrics.  I was looking through their issue feed and found a few older issues that may be related:

https://github.com/rcrowley/go-metrics/issues/201
https://github.com/rcrowley/go-metrics/issues/163
https://github.com/rcrowley/go-metrics/pull/197
https://github.com/rcrowley/go-metrics/pull/206

Other project referenced in go-metrics issues ...
https://github.com/Shopify

[2018-08-11 22:40] samm-git commented on #481
Ok, i got this problem again. Fabio been not updating configuration. At the same time there was another instance on the same vm which was working just fine, so unlikely to be a consul problem.

I terminated it with a SIGTRAP command to get the trace. After restart it starts to work fine again. Trace is available at https://gist.github.com/samm-git/23963653d57045218a00564184f0647f

[2018-08-13 07:20] holtwilkins opened #533 "allow redirect host to be empty"
And use request host if redirect host is empty.

Something like

[code]

Was suggested in https://github.com/fabiolb/fabio/issues/455, and I'm filing this ticket in response to that one.

My use-case here is being able to redirect anything received on http to fabio to serve a 301 to the https endpoint of the same address you used to get to fabio in the first place.

Thanks!

[2018-08-13 18:30] galen0624 commented on #530
I vendored in the latest from rcrowley/go-metrics and turned metrics back on.   I'll watch the memory consumption over the next day and update the issue with findings.

```{"path":"github.com/rcrowley/go-metrics","checksumSHA1":"an5RM8wjgPPloolUUYkvEncbHu4=","revision":"e2704e165165ec55d062f5919b4b29494e9fa790","revisionTime":"2018-05-03T17:46:38Z"},```

[2018-08-14 16:11] galen0624 commented on #530
After Vendoring in the latest go-metrics it appears that the memory leak is still persistent.  Digging further into the issue the NewMeter() function is consuming most of the memory.  `github.com/rcrowley/go-metrics/meter.go`

The "constructor" function has a new comment stipulating that `Stop()` should be called once the meter isn't needed any more.  -- see below.

[code]

[2018-08-14 17:14] leprechau commented on #530
Right, that was in-line with what I was reading.  The `Stop()` func for the return from `NewMeter()` was added after go-metrics was pulled into Fabio.

[2018-08-14 17:15] galen0624 commented on #530
Digging further it looks like the `rcrowley/go-metrics` Registry Interface has been updated in the lastest release with new method signatures.     So `metrics/gometrics.go`  `gmRegistry struct` methods will have to be updated.

One of the new method signatures `GetOrRegister(string, interface{}) interface{}` Can return a Meter Interface that has the Stop() func that I believe should be used.    I'

[2018-08-14 17:26] leprechau commented on #530
I definitely think you're on the right path.

[2018-08-14 18:27] galen0624 commented on #530
I was totally wrong on updating the gmRegistry struct as that implements the fabio Metrics Registry not the rcwroley/go-metrics Registry.

Looks like the appropriate spot to do this is in `route/table.go func syncRegistry(t Table) {}`
Just before the `ServiceRegistry.Unregister(name)`

[2018-08-14 18:28] leprechau commented on #530
That sounds logical.  Unregistering the service should definitely stop collecting metrics on said service.

[2018-08-14 18:31] galen0624 commented on #530
So it already does that but I don't see where the `Stop() func` is called in the Unregister function.  So my guess is that the data set is still hanging around and not being allowed to be GCed.
`// Be sure to call Stop() once the meter is of no use to allow for garbage collection.`

We may have to add it in addition to the Unregister.

[2018-08-14 20:28] galen0624 commented on #530
Again I was wrong with my previous statement.  Unregister eventually does call a `Stop()` func so I'm not sure what's wrong.  I did update the code with

metrics/registry.go

[code]

And route/table.go

[code]

I redeployed it in the lab to see if this has any impact.  I'll update tomorrow if it does.

[2018-08-15 18:18] galen0624 commented on #530
I realized earlier today that I had a mistake in my GOPATH.  I am currently re-testing the updated `github.com/rcrowley/go-metrics` package.  After a few hours things look promising.  I will update tomorrow with a definitive answer.  If all goes well I will generate a PR.

[2018-08-16 13:26] galen0624 commented on #530
After a roughly 24 hour run it looks like the Memory Leak is fixed by vendoring in the lastest from `github.com/rcrowley/go-metrics`.  Below is an example graph. I'll submit a PR later today.

![screen shot 2018-08-16 at 8 24 14 am](https://user-images.githubusercontent.com/4601212/44211094-d1303d80-a12d-11e8-8855-9a574a244dd0.png)

[2018-08-16 14:35] leprechau commented on #530
Awesome, great news.  Thank you for all the work and analytics on this issue.

[2018-08-16 15:28] magiconair commented on #530
Thanks @galen0624 for the digging and the subsequent fix. Time to pick up the slack on fabio again. I need to back out the FastCGI change which currently breaks the build and then we can push a new release.

[2018-08-16 15:31] galen0624 commented on #530
No worries.  Glad to help.

[2018-08-17 16:46] ont commented on #27
@magiconair what current state of fabio and letsencrypt integration?  [mholt/caddy](https://github.com/mholt/caddy) has letsencrypt integration but miss consul auto configuration. Fabio has autoconfiguration but miss letsencrypt auto-certificates. And traefik has very strange configs and bugs...

[2018-08-17 17:03] leprechau commented on #27
@ont it's not currently supported IN fabio but there are ways of getting it done.  Vault is supported as a certificate store for fabio and there are third party projects that will handle renew of lets encrypt and push to vault (https://github.com/ketchoop/letsencrypt-to-vault).  There is also support for reading/refreshing certificates directly from the filesystem builtin to fabio so any system th

[2018-08-17 17:26] ont commented on #27
@leprechau yes, I understand it. But main benefit from integrating letsencrypt into fabio is avoiding management hell with `webroot/.well-known` dirs for each service which need SSL support.  And some services doesn't expose no `webroot` at all, only their api routes at http endpoint.

[2018-08-17 19:42] leprechau commented on #27
@ont Understood.  I was just trying to offer options until someone has time to work on full integration of letsencrypt with fabio.

[2018-08-22 13:05] postelrich opened #536 "Dynamically generate routes from SRV"
This is a great project. Is there any vision of expanding it in the future to route based on the DNS query? By this I mean taking advantage of `[service].service.consul` capability such that fabio could forward the request to the underlying service? Much like a replacement to the consul-template + nginx setup.

[2018-08-22 17:43] leprechau commented on #536
I'm not sure I understand the request.  Fabio is a consul aware load balancer and should already be capable of replacing a consul-template/haproxy or consul-template/nginx setup for most purposes.  What exact feature do you feel is missing from fabio?