[2017-03-28 10:47] magiconair commented on #191
I'm wondering whether this is something that needs to be configurable per upstream server, e.g. some upstream servers want PROXY protocol and others don't? @lukas2511 @tkald what's your take on that?

The reason I'm asking is that there is currently no support for upstream servers announcing their capabilities. This isn't difficult to add but more work than a global switch.

[2017-03-28 10:58] ket4yii opened #254 "Is there any option to enable HSTS"
Fabio just doesn't support custom headers. I tried to work it out by ```proxy.header.tls``` and ```proxy.header.tls.value```, and it works, but, you know, it's not convinient. How can I work it out.

[2017-03-28 10:59] magiconair commented on #254
No, there isn't at the moment but I can add it. This is a duplicate of #168. Could you please subscribe to that issue? Thx

[2017-03-28 10:59] #254 closed

[2017-03-28 11:00] ket4yii commented on #254
Ok, thx

[2017-03-28 11:02] magiconair commented on #168
If the headers need to be dynamic I might be able to re-use the formatting language I'm using for the access logger. In this case I would need to wrap the values in `{}` or something similar to support the `${msec}000` use case. I'll think about that.

[2017-03-28 11:04] magiconair commented on #168
I guess they should be configurable per route as well so this needs to become part of the `urlprefix-` tag options.

[2017-03-28 11:31] jippi commented on #168
where is this ticket in the OSS pipeline @magiconair ? :)

[2017-03-28 12:43] magiconair commented on #168
@jippi there is no pipeline. Generally, I pick up things that people are asking for and for which I have an idea on how to implement it. Adding a static option to add a set of headers to all requests is a no-brainer. But is that really enough? I think I have an idea on how to approach this but for this I need to understand what you need and I'd like to ask you to think a bit outside the box of you

[2017-03-28 13:41] jippi commented on #168
the use-cases i've had multiple times is only allowing pure forwarding of headers - by whitelisting -
not injecting anything new :)

[2017-03-28 13:42] magiconair commented on #168
@jippi like what? fabio doesn't remove headers AFAIK, or does it?

[2017-03-28 14:39] lukas2511 commented on #191
@magiconair I would like to have this on a per-route basis, upstream server shouldn't be involved in making this decision, just the consul services.

[2017-03-28 16:12] magiconair commented on #191
@lukas2511 since the route is announced by the upstream server through consul it needs to advertise this somehow. How do you envision this to work?

[2017-03-28 16:14] lukas2511 commented on #191
@magiconair the project readme has a few examples for other tags:

[code]

Maybe something like

[code]

Or is this not possible?

[2017-03-28 16:45] lukas2511 commented on #191
Sorry i think I just misunderstood what you meant with "upstream server", for me that was the upstream webserver, but now I notice that you mean the whole system, so yea, this should come from the upstream server, sorry for the confusion.

[2017-03-28 23:38] ak66982 commented on #80
$upstream_host logs protocol pre-pended to the host, $upstream_port leaves slash after the port:
Is this intentional ?

[code]
[code]

[2017-03-29 07:13] magiconair commented on #80
@ak66982 No, of course not. Should have written a full integration test :( I'll fix it.

[2017-03-29 07:19] magiconair commented on #80
@ak66982 Fixed.

[2017-03-29 07:48] magiconair commented on #80
This produces now: `addr:"127.0.0.1:5000" host:"127.0.0.1" port:"5000"`

I've added a couple of additional fields:

[code]

The full list is:

[code]

[2017-03-29 23:34] ak66982 commented on #80
By the way, thanks for the wonderful piece of software!

$response_body_size sometimes logs '-1' instead of proper size (redacted):

[code]
I checked the tcpdump, there was nothing strange in these requests. Content-length is missing from reply, but $response_body_size was logged correctly in other requests with content-length missing.
I

[2017-03-30 00:02] ryudice opened #255 "Caching"
Is there currently no way to add caching?

[2017-03-30 07:57] badounan opened #256 "Find the route across the machine, but no response"
I have two physical machines. IP addresses are 192.168.0.10 and 192.168.0.11 respectively.

Start consul sever and fabio on 192.168.10.

Start the consul client and http server on 192.168.0.11. The json registered to consul's service is as follows:
{"service": {"id": "sampleservice","name":"sampleservice","tags": ["urlprefix-/foo"],"address": "192.168.0.11","port": 8088,"checks": [{"deregisterCrit

[2017-03-30 07:58] magiconair commented on #255
Not at the moment. What are you looking for?

[2017-03-30 08:04] magiconair commented on #256
Are both checks in consul green? Is the consul cluster healthy?

Can you provide `curl -i localhost:8500/v1/health/service/sampleservice?pretty` ?

As a side note: use a unique id value for your service, e.g. `<name>-<addr>-<port>` Otherwise, this won't work with multiple instances.

[2017-03-30 08:07] magiconair commented on #80
@ak66982 Thank you. I'm glad you like it.

Right now, I'm getting the content length from the http response generated by the Go reverse proxy. i didn't dig into how it retrieves it but I'll have a look.

[2017-03-30 08:14] badounan commented on #256
I only started the http service on 192.168.0.11.There is only one instance of the service.

If I put fabio, consul and http services are deployed on a machine. no problem.

[2017-03-30 08:20] badounan commented on #256
If the address is wrong, the output "No route for ...", which is very correct.

But when i visit a normal address:http://192.168.0.10:9999/foo, without any response, has been waiting.there is no log output.

[2017-03-30 08:21] magiconair commented on #256
what does `curl -i http://192.168.0.11:8080/foo` return?

[2017-03-30 08:23] badounan commented on #256
yes, when curl -i http://192.168.0.11:8080/foo,the return is normal

[2017-03-30 08:44] badounan commented on #256
but when curl -i http://192.168.0.10:9999/foo，noo response, no output, has been waiting for the state

[2017-03-30 09:20] magiconair commented on #256
Can you provide `curl -i localhost:8500/v1/health/service/sampleservice?pretty`?

[2017-03-30 09:26] badounan commented on #256
[
    {
        "Node": {
            "Node": "n2",
            "Address": "192.168.0.11",
            "TaggedAddresses": null,
            "CreateIndex": 3,
            "ModifyIndex": 20
        },
        "Service": {
            "ID": "sampleservice",
            "Service": "sampleservice",
            "Tags": [
                "urlprefix-/foo"
            ],
            "Address": "192.168.0.1

[2017-03-30 09:49] magiconair commented on #256
My suspicion is that your consul servers aren't talking to each other. That fabio is talking to consul on 192.168.0.10 and your service is registered on 192.168.0.11.

How did you configure the consul cluster? Can you provide the full and exact commands you ran?

Can you also provide the fabio log? When it starts up it should have a log line like this:

[code]

Can you provide the output of `curl

[2017-03-30 10:06] badounan commented on #256
consul agent -server -bootstrap-expect 2 -data-dir /data/test -node n1 -bind=192.168.0.10 -ui-dir ./consul_ui -dc=dc1

consul agent -server -bootstrap-expect 2 -data-dir /data/test -node n1 -bind=192.168.0.11 -dc=dc1

Then on 192.168.0.10,enter: "consul join 192.168.0.11"
Automatic election leader.

[2017-03-30 10:08] badounan commented on #256
Yes, Fabio have a log:

`route add sampleservice /foo http://192.168.0.11:8088/`

[2017-03-30 10:10] magiconair commented on #256
ok, then fabio has found the service and added a route. Therefore, the consul setup is correct. Can provide the full command and output of these commands assuming fabio listens on port `9999`:

[code]

[2017-03-30 10:12] magiconair commented on #256
Also, are you sure you've registered the second node with node name `n1`? The health check says `n2`. I suggest copying the commands you typed from the terminal or the shell history.

[2017-03-30 10:32] magiconair commented on #256
Sorry, grasping at straws here. I'm sure this is something trivial but I don't see it. If this wouldn't work nothing would work. So bear with me.

[2017-03-30 20:41] magiconair commented on #80
Added a full integration tests which generates the log output through the proxy with a real request. This uncovered two bugs in the `$upstream_request_uri` and `$upstream_request_url` fields which did not contain the upstream uri paths and args since this magic was happening somewhere in the `httputil.NewSingleHostReverseProxy()` code.

The other thing I've discovered was that the request object g

[2017-03-30 21:00] ryudice commented on #255
Something like this https://github.com/wshirey/kong-plugin-response-cache

[2017-03-30 21:02] magiconair commented on #255
How do you identify responses that can be cached and for how long?

[2017-03-30 21:09] ryudice commented on #255
You can configure caching by headers, query string, and uri. I guess the duration would have to be set for all responses.

[2017-03-31 07:49] badounan commented on #256
Hello!
I use Nancy as the http server. When I curl -i http://192.168.0.10:9999/foo, close the http server, fabio have the following error:

http:proxy error:read tcp 192.168.0.10:60188->192.168.0.11:8088: wsarecv:An existing connection was forcibly closed by the remote host.

[2017-03-31 17:58] shadowfax-chc commented on #181
@magiconair is this as simple as adding a new conditional in [registery/consul/service.go](https://github.com/eBay/fabio/blob/master/registry/consul/service.go#L116-L119)?

Not sure what kind of configuration you might want around it.

[2017-04-01 04:10] magiconair commented on #181
It could be. However, I think that you need to have some cert management options as well since upstream certs are probably self-signed. There may be more but I think that would be a good start.

Frank Schröder

[2017-04-01 19:33] armand1m commented on #43
Is this defined anywhere in the docs? I couldn't find it there

[2017-04-01 19:50] magiconair commented on #43
You're probably right. I'll have a look and add it next week if it's missing.

Frank Schröder

[2017-04-01 23:39] rokka-n commented on #27
@magiconair Are you considering letsencrypt integration?

[2017-04-02 07:51] magiconair commented on #27
Yes

Frank Schröder

[2017-04-04 09:28] magiconair commented on #80
I've renamed the log parameters as follows:

[code]

This should also make integration with PR #246 more consistent. If there are no objections then I'm going to merge this and release version 1.4.1.

[2017-04-04 14:22] #80 closed

[2017-04-04 14:24] magiconair commented on #80
Published release v1.4.1 with access logging support. Thanks for your help.

[2017-04-05 01:37] badounan commented on #256
Hello!
I have solved this problem.This is the Http server Nancy problem.

[2017-04-05 01:38] badounan commented on #256
Thank you for your answer.

[2017-04-05 01:38] #256 closed

[2017-04-05 04:37] magiconair commented on #256
I'm glad you found it. Can you say what the problem was?

Frank Schröder

[2017-04-05 08:53] #181 closed

[2017-04-05 08:57] magiconair commented on #181
Thanks @shadowfax-chc for implementing this. This is great progress. I'll release 1.4.2 soon with this.

[2017-04-06 06:31] magiconair commented on #249
@ajlake Are you going to pick this up or shall I do this?

[2017-04-10 07:18] magiconair commented on #25
#258 is a first step in that direction

[2017-04-11 09:40] itatabitovski opened #259 "HTTPS upstream added as HTTP"
Upstream shown as http:// in fabio admin.

[code]

[2017-04-11 10:00] itatabitovski opened #260 "How to configure HTTPS upstream manually with tlsskipverify"
I have tried the following but fabio still complains about invalid certificate.

[code]

[2017-04-11 10:39] magiconair commented on #260
Try `opts` instead of `tags`

[2017-04-11 10:41] magiconair commented on #259
You mean in the UI?

[2017-04-11 11:09] itatabitovski commented on #259
Yes, in the UI I see that the upstream is http://

[2017-04-11 11:11] magiconair commented on #259
Yeah, I missed that in the PR. Also the demo server needs some work and I'll update the docs on the wiki.

[2017-04-11 11:12] magiconair commented on #260
I'll update the docs on the Wiki

[2017-04-11 11:14] itatabitovski commented on #260
I am not sure if opts worked. I still get ```proxy error: x509: cannot validate certificate```

However when I ```curl --insecure https://...``` the upstream it works OK.

[2017-04-11 11:14] magiconair commented on #260
I'll have a look

[2017-04-11 11:32] itatabitovski commented on #259
Having the service registered with the tags above does not seem to add it as HTTPS, it is not just a UI issue.

Trying to access a service resulted in:
[code]

Manually registering the service as described in #260 does not give this error.

[2017-04-11 11:58] magiconair commented on #259
These are not individual tags but options for the route. A service can publish more than one route and they can all have different options.

Try `ci-fabio-/users proto=https tlsskipverify=true` as one tag. That should produce the following route:

[code]

I'll make sure that this is clear in the documentation.

[2017-04-11 12:14] itatabitovski commented on #259
Manually adding the route with one combined tag ```"tlsskipverify=true proto=https"``` works as expected!

How do I register this tag in consul?

[2017-04-11 12:22] magiconair commented on #259
You register the tag as one value, e.g.

[code]

[2017-04-11 12:50] itatabitovski commented on #259
Everything works fine now. Thank you.

[2017-04-11 18:53] #259 closed

[2017-04-11 18:53] #260 closed

[2017-04-12 18:10] leearmstrong opened #261 "Duplicate a request"
Is it possible to have HTTP requests duplicated to say an R&D server?

The original server(s) handle the response path but the R&D server response is not sent back to the client.

[2017-04-12 19:15] magiconair commented on #261
No, that isn't possible right now. You could use [Traffic Shaping](https://github.com/eBay/fabio/wiki/Features#traffic-shaping) to send a small amount of traffic to another server but this isn't duplicating the request.

Could you explain your use case a bit more? My guess is testing but then your R&D server would need to be able to handle production load. Are there other proxies that support this

[2017-04-13 10:05] magiconair commented on #165
Since 1.4 is out and the TCP proxy stuff is released I think I'll pick this one up again next together with the other metrics related issues #211, #253, #126

[2017-04-13 17:32] kostyrev opened #262 "Q: Strip go version from binaries in Download section of Releases"
Is there any requirements that force you to upload binaries to Downloads with go version in names?
it causes the complexity in writing any automation scripts for fabio (chef,puppet,ansible) for it is required to specify not only fabio version but go version as well.
Would it be terribly inconvenient for you not to upload binaries with go version in names?

[2017-04-13 18:56] magiconair commented on #262
The reason I started doing this is to provide a build of the same code version but with a different go version if a security update for Go became available. This happened for v1.3.3 and v1.3.5 and I've also provided both v1.3.8 as a go1.7.5 and go1.8 build and for v1.2.1 to provide a go1.6.3 and a go1.7 build. This allows for testing of fabio with a new Go version and fall back to the older versio

[2017-04-13 23:04] kostyrev opened #263 "difference between cs, proxy.cs"
I'm reading the [docs](https://github.com/eBay/fabio/wiki/Certificate-Stores) and default [fabio.properties](fabio.properties) and I can't grasp concepts behinds cs and proxy.cs.
Which is what?

[2017-04-13 23:07] killcity commented on #262
@kostyrev This can be easily stripped out using regex. All config mgmt tools offer some way of parsing these filenames and extracting whatever you want to remove/variable-lize.

[2017-04-13 23:09] killcity commented on #263
```cs``` is where you declare the cert store name.
```proxy.cs``` is where you point to a specific cert store with respective type and path, if using a path. Here's an example.

proxy.cs = cs=my-certs;type=path;cert=/opt/fabio/ssl;refresh=3s

[2017-04-13 23:11] kostyrev commented on #262
@killcity yes, I could stip out the name of resulting binary but to do that I have to download it first. And to download it I need to specify go version in url path.

[2017-04-13 23:13] killcity commented on #262
Go version is set to a specific ```var``` in my playbooks and I drop that in the filename. Are you blindly wanting to download the latest version without respect to changes in Go versions and the version of Fabio itself?

[2017-04-13 23:15] kostyrev commented on #263
I ended up with:
[code]
and fabio did start with those in fabio.properties.
but I do not understand the purpose of [this](https://github.com/eBay/fabio/blob/master/fabio.properties#L25) in docs.

[2017-04-13 23:21] kostyrev commented on #262
yep, for as of now I have to update role with two vars: one for fabio_version and second one for fabio_go_version.
That was the thought. But @magiconair explained above the rationale behind specifying go version in Releases pages.
So I'm closing this issue 'cause not very often I have to update versions in my role.

[2017-04-13 23:21] #262 closed

[2017-04-13 23:28] #263 closed

[2017-04-14 06:14] magiconair commented on #263
@kostyrev No worries. The idea is that you can have a different set of certificates for different listeners. Therefore, the thing that manages the certificates (cert store) is decoupled from the thing that uses them (listener).

Questions like this are good to understand where the documentation could use some love. So please keep asking.

[2017-04-14 16:47] kostyrev opened #264 "http proxy error context canceled"
while benchmarking fabio I've noticed
[code]
in logs.
it is t2.micro AWS instance that was tuned with those changes:
[code]
[code]
[code]
could you please elaborate on those errors in logs?
I used [wrk](https://github.com/wg/wrk)
[code]
behind balancer there were two `t2.medium` instances with nginx installed.

[2017-04-14 19:15] magiconair commented on #264
How often did this happen and how many failures did you see? What was the CPU load during the test?I haven't seen this error but my guess is that you should see some aborted connections/requests on the upstream servers as well. Could you run the same test on the HTTP port as well?

[2017-04-14 22:27] kostyrev commented on #264
I see those errors every time I run `wrk`.
over https
top shows 33.0%
there's one error of `2017/04/14 22:08:38 http: TLS handshake error from 188.123.241.55:12061: EOF`
and 13-14 errors of `2017/04/14 22:09:38 http: proxy error: context canceled`

over http
top show 27~31%
16-22 errors of `2017/04/14 22:14:58 http: proxy error: context canceled`

I see no errors in nginx error.log on upstream ser

[2017-04-15 19:37] gamefundas commented on #252
Mine is not really a load balancing use case. Its merely routing calls to specific nodes. We have maintenance service endpoints on each nodes that requires us to reach the specific faulty node to either restart or perform basic support operations like purge cache etc. A load balancer would randomly route the call. We would like to target the faulty nodes and be able to hit the specific host.

Inst

[2017-04-15 19:52] magiconair commented on #252
Why don't you just announce a unique route for that host, e.g. `urlprefix-/admin/$HOSTNAME`?

[2017-04-17 18:01] ket4yii commented on #247
What about to make this feature is able to support protocols? Because a lot of users, for example, make requests to http when you've got https server and their requests will fail. I know, that there are many ways, to do it, like make another tls terminator, proxy and so on, but it would be really convenient if you implement this.

[2017-04-17 20:21] magiconair commented on #247
@ket4yii I think that is a different feature you're asking for which is `redirect a -> b`

[2017-04-17 20:55] ket4yii commented on #247
@magiconair Yeah, maybe it's the better way. Is there any way to do it?

[2017-04-17 22:36] magiconair commented on #247
Not right now but you haven't been the first to ask. I'll add it at some point. Sorry, if I can't be more specific.

[2017-04-18 04:37] stephane-martin commented on #195
Well, in OSX you define a service with launchd, and launchd takes care of binding to the low port.

On Linux you can use capabilities to allow the low port binding for a non privileged user (and you can even do that in the systemd service definition nowadays).

On OpenBSD you just don't bind to a low port (instead use PF to port forward from a low port to a "high" port).

So on *NIX at least i wou

[2017-04-18 11:15] magiconair commented on #195
I agree with @mterron and @stephane-martin that this is not the responsibility of `fabio`. Lets do the following instead:

* Compile a set of best-practices per operating system as outlined by @mterron and @stephane-martin and add them to the documentation
* Add a stern warning message to the logs when fabio is run as `root` (if detectable) and point to the documentation for best-practices on how

[2017-04-18 11:17] magiconair commented on #126
Rebased on master.

[2017-04-18 14:45] kostyrev commented on #249
someone, please implement this feature

[2017-04-18 14:49] magiconair commented on #249
I'll have a look.

[2017-04-18 16:42] stephane-martin commented on #243
Let the administrator configure Fabio's proxy port(s) using the Consul KV store.

This is what i do so far:

[code]

And for the nginx in front of fabio:

[code]

`nginx.conf.tmpl` has something like:

[code]

No really painful, but indeed it would be easier to have fabio registering itself.

[2017-04-18 16:53] stephane-martin commented on #195
For instance on Linux with systemd.

`/etc/systemd/system/fabio.service`:

[code]

[2017-04-18 17:03] stephane-martin commented on #195
On *BSD with Packet Filter, if fabio is directly facing internet, the best practice is only listen on a non-privileged port (4343), and use PF to forward trafic:

`/etc/pf.conf`:

[code]

Running fabio in a jail (FreeBSD) or chroot (OpenBSD) doesn't harm too. You just need to copy the relevant C libraries to the jail (eg. libc.so, ld.so and libpthread.so).

[2017-04-18 17:19] stephane-martin opened #265 "Problem running fabio on OpenBSD"
Hello,

I compiled fabio on OpenBSD using go 1.8.0.

Fabio runs, but doesn't answer requests. A simple curl to the listening port does not return.

The VM only has one core, so that may be a problem. Setting GOMACPROCS (in env or in fabio conf) doesn't solve the problem though.

[2017-04-18 17:23] stephane-martin commented on #115
Just to say that use case happens even if you don't have multiple datacenters.

AFAIK in a "consul datacenter" every agent must able to talk with eachother using the mesh protocol.

So, if you have multiple isolated VLANs with different webapps in each VLAN, you have to run a distinct "consul datacenter" in each VLAN.

I'd like a single fabio instance to be able to route trafic to the relevant VLA

[2017-04-18 21:30] mterron commented on #195
I think that between my original messages and @stephane-martin ones the basics are covered.
You have:
* Generic linux (my setcap comment)
* Linux with systemd
* Illumos/Solaris (2 options, privileges for the user or the process)
* FreeBSD (modify "low ports" limit)
* macOS (using launchd)
* OpenBSD (using PF redirection)
Is there other OS that's missing?
We could add references to the man pages fo

[2017-04-20 08:07] rodrigoraval opened #266 "Issues with Haproxy on passthrough mode"
I have the following scenario: HTTPS (customer) > HTTPS (front) > HTTPS (backend). Nothing is needed on the haproxy but the forwarding. On port 80, works everything fine, and should work on 443 too due to its on passthrough mode.

#########ERROR##########
(as root)
curl -v https://172.22.1.152
* About to connect() to 172.22.1.152 port 443 (#0)
*   Trying 172.22.1.152...
* Connected to 172.22.1.152

[2017-04-20 08:32] rodrigoraval commented on #179
Guys,

I am facing some issue close to this one, could you please help me on that?

https://github.com/fabiolb/fabio/issues/266

Thanks

[2017-04-20 12:25] magiconair commented on #266
@rodrigoraval Are you sure you're in the right project? fabio is not haproxy

[2017-04-20 20:20] hankerepo opened #267 "Can fabio proxy by hostname?"
Attempting to move to fabio from haproxy.
Goals:
route traffic coming in to my server based on hostname (server has multiple vips, with unique hostanmes).

I think I'm missing the match up between the fabio.properties definition of proxy.addr and the SERVICE_TAG on the container(consul).

fabio.properties:
[code]

[code]

"srv690.oppd.oppd-ds.com:consul:8500": {
"Address": "",
"CreateIndex": 0,
"E

[2017-04-20 20:57] magiconair commented on #267
TCP Services are routed by port only.

If this is an HTTP service just drop the proto=tcp and register urlprefix-host/path as tag.

Check the Readme. It has examples.

Frank Schröder

[2017-04-20 21:05] hankerepo commented on #267
I think I got to "hell bent" on using tcp.  I went back to http and ensured I had the trailing slash in the service tag and all is well.

Thanks!!

[2017-04-21 03:16] magiconair commented on #267
Glad it works now :)

[2017-04-21 03:16] #267 closed

[2017-04-21 03:17] magiconair commented on #266
I'm going to close this since I believe you're posting this in the wrong project. Feel free to comment in case I'm wrong.

[2017-04-21 03:17] #266 closed

[2017-04-21 03:21] magiconair commented on #265
Did you try the OpenBSD binary from the 1.4.2 release?

https://github.com/fabiolb/fabio/releases/tag/v1.4.2

`GOMAXPROCS` only affects how many OS threads are created. Since Go has a cooperative scheduler this has no effect on the number of requests it can handle. On a single core system `GOMAXPROCS` will be set to 1. However, I don't think that this is the problem. I'm no OpenBSD expert. Is this

[2017-04-23 11:25] siepkes commented on #195
Even if Fabio could do it I personally would never rely / trust any daemon to drop it's privileges after it's done with them. I remember from the "old" days (say 10 years ago) that a good number of root exploits in Linux used processes which relied on privilege dropping (Apache HTTP server for example). Because even though they might poses root rights for only a couple of milliseconds; At some poi

[2017-04-24 04:54] magiconair opened #269 "Access log cannot be disabled"
It looks like the fabio access log feature cannot be disabled. I'll roll a patch shortly.

[2017-04-24 16:11] #269 closed

[2017-04-24 19:23] stephane-martin commented on #265
It's a 64bits VM (at vultr.com), with OpenBSD 6.1.

I tried to recompile fabio 1.4.3 with go 1.8. This time it works properly.
I also tried the official release from github. It works properly too :)

One thing strikes me though:
- on your binary ldd fabio gives "not a dynamic executable"
- on the binary from my compilation ldd gives:
[code]
How do you avoid the shared libraries dependencies ?

[2017-04-24 19:48] magiconair commented on #265
Try with -tags "netgo"

Frank Schröder

[2017-04-24 19:50] stephane-martin commented on #265
Correction: i was stupidly pointing curl to the fabio instance on a linux box. I did retry to run fabio 1.4.3 on OpenBSD, and it still doesn't answer HTTP requests at all.

[2017-04-24 19:56] stephane-martin commented on #265
(thanks for the netgo tag. for reference: https://golang.org/doc/go1.5)

[2017-04-24 20:28] stephane-martin commented on #265
I understood part of the problem. In main.go there are lines in func startServers like: `go proxy.ListenAndServe...`

In fact the ListenAndServe... functions can fail and return and error. But that error stays invisible because it is swallowed by the goroutine go statement. Would be good to catch those errors and log them.

On the OpenBSD box the network operations are indeed failing with error "p

[2017-04-24 20:42] magiconair commented on #265
Good catch. I'll fix that.

Frank Schröder

[2017-04-24 21:00] magiconair commented on #265
Pushed a change for catching the errors. As for the listener you might want to try `tcp6` or `tcp4` here to see whether that makes a difference:

https://github.com/fabiolb/fabio/blob/master/proxy/listen.go#L19

[2017-04-24 21:07] stephane-martin commented on #265
Not really, got "[FATAL] ui: set tcp4 127.0.0.1:9998->127.0.0.1:XXX: protocol not available" instead of "[FATAL] ui: set tcp 127.0.0.1:9998->127.0.0.1:YYY: protocol not available" (here trying to query the UI, but same on the proxy port)

[2017-04-24 22:15] stephane-martin commented on #265
Commenting `ln = tcpKeepAliveListener{ln.(*net.TCPListener)}` removes the problem. Not sure why...

[2017-04-24 22:34] leprechau commented on #265
So it seems as though golang isn't properly telling OpenBSD how to configure the socket.  The `protocol not available` error is a raw OpenBSD `errno` (http://man.openbsd.org/errno.2).  These are wrapped by the golang syscall package (https://golang.org/src/syscall/zerrors_openbsd_amd64.go).

Is it possibly related to this bug: https://golang.org/src/net/ipsock.go?s=233:577#L3 ??

[2017-04-24 22:41] stephane-martin commented on #265
I don't think it's related, anyway I disabled IPv6 on the interface during the bug hunt. Anyway I do have a workaround now, and the bug is most probably not in fabio source code. So don't bother too much.

[2017-04-24 23:13] leprechau commented on #265
Disabling keepalive probably isn't a good solution for a production workload.

[2017-04-24 23:20] stephane-martin commented on #265
Further workaround: http://man.openbsd.org/sysctl.3
`(net.inet.tcp.always_keepalive) Act as if the option SO_KEEPALIVE was set on all TCP sockets.`

[2017-04-24 23:22] leprechau commented on #265
Nice, gotta love OpenBSD for those network tunables.

[2017-04-25 15:49] jemc opened #270 "How to know what opts are supported in a route / consul tag?"
I can see that I can specify `opts` in a urlprefix consul tag, as in `urlprefix-/ foo=1 bar=2`, but I can't find documented anywhere what opts are actually recognized by fabio as meaningful.

For example, let's say I want to set the `maxconn` that a service instance will accept to `100` in the tag, so that fabio directs at most 100 simultaneous connections to that service instance. I can't tell wh

[2017-04-25 16:18] OursDesCavernes commented on #169
Hello, i'm trying to reopen this issue for a different use case.

I've setup a fabio and try to have SNI and HTTPS on the same port.

The idea is that some micro services are served only with FQDN (myservice.domain.com) so SNI is OK for that, and some have path based routing (api.gw.com/locate/v1 or api.gw.cm/deal/v1.2 etc ...)

I can not use both of those system with fabio because SNI take the le

[2017-04-25 16:21] deuch commented on #213
Hello, i've a use case for that too :)

I've setuped a fabio and try to have SNI and HTTPS on the same port.

The idea is that some micro services are served only with FQDN (myservice.domain.com) so SNI is OK for that, and some have path based routing (api.gw.com/locate/v1 or api.gw.cm/deal/v1.2 etc ...)

I can not use both of those system with fabio because SNI take the lead above HTTPS. So i nee

[2017-04-25 17:06] magiconair commented on #270
My bad. I need to update the docs more consistently. The opts from the config file are different than the opts on the routes. Right now the following opts are supported on a route:

[code]

I'll update the docs.

[2017-04-25 17:11] jemc commented on #270
Thanks for agreeing to update the docs; it's appreciated.

Is the per-instance `maxconn` feature something you would consider adding to fabio? [traefik currently supports this feature](https://docs.traefik.io/toml/#consul-catalog-backend).

Should I open a separate issue to discuss the `maxconn` feature?

[2017-04-25 17:12] magiconair commented on #169
The TCP+SNI proxy mode is a pass-through TCP proxy which uses the SNI header for routing **without decrypting** the connection. It decodes the first packet to look at the SNI header and then uses that to forward the raw TLS packets including the ClientHello to the upstream server. Therefore, your tomcat would need to handle the TLS negotiation as well and would have access to the same certificates

[2017-04-25 17:14] magiconair commented on #270
What do you need this for?

[2017-04-25 17:32] jemc commented on #270
We have some Ruby-based web servers that use forking processes to handle requests (a la [unicorn](https://bogomips.org/unicorn/)), with each process handling one request at a time. Thus, the maximum number of simultaneous requests that each server can serve at a time is a fixed number (equal to the number of forked processes). Any additional requests that come in to the web server will be queued o

[2017-04-25 17:47] wv-myoung commented on #244
@magiconair was there any progress towards an HTTP/2 supported upstream that you mentioned with the HTTPS upstream support?  I only am seeing activity related to the HTTPS work but not HTTP/2.

I am also investigating load balancing options for gRPC and Fabio looks like a potentially great fit to the overall design short of the need on the HTTP/2 upstream.

I've tested and validated load balancing

[2017-04-25 18:01] gamefundas commented on #252
This might work. Didn't think that I could very much control how to create my route path.
Thanks.

Closing this one.

[2017-04-25 18:01] #252 closed

[2017-04-25 18:07] magiconair commented on #270
How would this work for multiple fabio instances?

Frank Schröder

[2017-04-25 18:08] magiconair commented on #252
You would need to have a handler for that on the upstream server though

[2017-04-25 18:21] jemc commented on #270
@magiconair - Sorry, I'm not sure I understand the implication of the question. Can you elaborate?

[2017-04-25 18:54] magiconair commented on #270
If you have one service that can handle 10 connections and announces it through consul this is simple to keep track of if you have a single fabio instance. However, once you spin up the next one (for LB or HA purposes) then all fabios need to coordinate since the **service** can only handle 10 connections. So how would this work in if the number of fabio instances is dynamic, i.e. they can come an

[2017-04-25 19:37] deuch opened #271 "Websocket not working with HTTPS Upstream"
Hello,

I(m using Fabio 1.4.3 and i've an issue with Websocket and HTTPS Upstream.

I've done a setup with tags for HTTPS Upstream and the website is OK except for web socket in my page. In my browser i've a error : WebSocket Error : Connection already closed.

The wss:// endpoint is good (the one set in my url-prefix).

The same setup with SNI or SSL termination are OK. For HTTPS upstream, i'm us

[2017-04-25 19:46] deuch commented on #213
An other thought about it and maybe a start for an algorithm ...

Imagine to have a setup like this:

proxy.addr=:443;proto=tcp+nsi,:443;proto=https;cs=mysslcs

So we have multiple scenarios with our url-prefix and tags :

1) urlprefix = mysite.domain.com/
2) urlprefix = mysite.domain.com/ proto=https
3) urlprefix = mysite.domain.com/v1/prod/myapi
4) urlprefix = mysite.domain.com/v1/prod/myapi pro

[2017-04-25 21:17] magiconair commented on #271
So `wss://` works to the upstream server but not to fabio? Since WS is just HTTP this should just work and if it doesn't then this sounds like a bug. I can have a look but I'm a bit busy right now. Feel free to dig into this and send a PR, though.

[2017-04-25 21:26] magiconair commented on #213
As for your first suggestion to check from least to most specific routes I think this isn't the right approach. You'd expect the more specific routes to be matched first.

Also, this isn't a problem of wanting to provide this but the two proxy implementations are quite different and I have a hard time coming up with a solution that could work. What you are trying to do here smells a lot like a ref

[2017-04-25 22:11] deuch commented on #213
Our fabio will be mutualized (at a certain level) between application, and we have 1500 applications to serve.

For me applications do not have to understand how it works behind the scenes. Put a certificate in Vault and an urlprefix and they do not need to do more. Everything else is not the responsability of the service.

We have automation for certificate, dns record, fabio installation and con

[2017-04-25 22:15] deuch commented on #271
With fabio it is perfectly working with SNI or ssl termination done by fabio. Directly to the upstream it works too.

It doesn't work when using man in the middle approach of fabio with the new feature HTTPS Upstream.  To be more precise, i'm using the same certificate in fabio and in the upstream. Tlsskipverify=true is set too. My backend is a tomcat. I will try with sse to check if it's working.

[2017-04-26 07:23] sielaq opened #272 "Fabio do not listen on proxy.addr when additinal route has no target match"
Hi,

We have an issue.
After restarting Fabio, when having some "future weight for routes" in `registry.consul.kvpath` (consul), fabio is not willing to start listening on `proxy.addr`
and complain log says:
`[WARN] route: no target match`

version affected 1.4.x  (tested on 1.4.0 and 1.4.3)
with the same additional routes configuration in kv
fabio version 1.3.x works fine:
start listening on `pro

[2017-04-26 13:56] magiconair commented on #272
Sounds like #224

[2017-04-26 14:25] deuch opened #274 "Add parameter to vault token renewal"
Fabio need to have a parameter in the fabio.properties to let the user set the renewal interval for the Vault Token. It's 1h actually and it's too long :-) We've issue because our tokens have a 20mn lease.

[2017-04-26 15:11] jemc commented on #270
Good question. We haven't had to deal with that issue because we use a static number of HAProxy servers that is known by our Chef recipe at the time when we deploy our HAProxy configuration template.

[2017-04-26 15:45] magiconair commented on #213
If performance is your main concern and not full end-to-end encryption the I suggest to benchmark first. Users haven't complaining that fabio can't handle their workload. Also, you can always spin up more instances. I'll look at the websocket issue in the meantime

[2017-04-26 15:52] magiconair commented on #274
Sure. Was expecting that this would happen at some time.

[2017-04-26 16:21] magiconair commented on #274
@deuch I've pushed a change that should make the token renew interval configurable. You have to set the `renewtoken` option in the `proxy.cs` statement. Could you check whether that solves the problem for you?

[2017-04-26 16:44] magiconair commented on #270
I've updated the main README, the route config language docs on the wiki (https://github.com/fabiolb/fabio/wiki/Routing#config-language), the Quickstart on the Wiki (https://github.com/fabiolb/fabio/wiki/Quickstart) and the online documentation in fabio itself.

I'm going to merge this change and close this ticket since this the original question was about documentation and I don't want to morph t

[2017-04-26 16:45] #270 closed

[2017-04-26 16:48] magiconair opened #275 "Add support to limit the number of connections per upstream"
Discussion started in #270 at https://github.com/fabiolb/fabio/issues/270#issuecomment-297100279

[2017-04-27 07:39] deuch commented on #274
Hello,

I've made the test and it doesn't seem to work, fabio doesn't want to start, telling me that the port is already used ... Stop fabio, kill every instance, check with netstat (root) and nothing is listening on that port.

Revert back to 1.4.3 and it works fine (with exact same properties file) ...

Please find the logs :

2017/04/27 09:31:25 [INFO] Runtime config
{
    "Proxy": {
        "S

[2017-04-27 08:02] magiconair commented on #274
@deuch Hmm, I could check whether the `SO_REUSEADDR` is used. How did you kill fabio? `kill -9`?

Can you try with a different port or wait a bit? I think 2 min is the timeout. I just want to confirm that the vault change works.

[2017-04-27 08:53] deuch commented on #274
I try an another port, and no need to wait, the fabio process is immediatly killed with the fatal error.

Please find the commands i use to show you the issue. I've started with the issue-274 branch and just after with the 1.4.3. You will see that the 1.4.3 works fine on the same server with the same config (i've just changed the symbolink link for the fabio binary).

-bash-4.2$ netstat -an | grep

[2017-04-27 15:24] deuch commented on #274
Find something with the proxy address :

If i put 2 listeners in proxy.addr fabio fails to start ...

proxy.cs=cs=ssl-vault;type=vault;cert=secret/fabiodemo-001/certs;renewtoken=900s
proxy.addr = dckdevdck075:10080;proto=http,dckdevdck075:10443;proto=https;cs=ssl-vault

With this config it works with your patch (only 1 listener):

proxy.cs=cs=ssl-vault;type=vault;cert=secret/fabiodemo-001/certs;re

[2017-04-27 15:47] sethvargo opened #276 "Support Consul TLS"
Currently only specifying the address is allowed, but there are many other options for Consul TLS like the CA file, key, and cert.

[2017-04-27 15:48] sethvargo opened #277 "Support "standard" Consul envvars"
All of Fabio's configuration comes from CLI flags. It would be awesome if Fabio could use the existing Consul envvars like `CONSUL_HTTP_ADDR` and `CONSUL_*` for configuration as well. The standard go library attempts to read from these, but fabio is overwriting with "" in the default vaules.

[2017-04-28 03:55] magiconair commented on #271
I think this is the problem:

https://github.com/fabiolb/fabio/blob/master/proxy/http_proxy.go#L105
https://github.com/fabiolb/fabio/blob/master/proxy/http_raw_handler.go#L38-L43

The websocket traffic is tunneled via a TCP connection which isn't using the same TLS connection setup that is used for HTTPS.

[2017-04-28 06:32] magiconair commented on #271
@deuch I have provided a patch which should fix the problem. I think I've tested all the combinations. You can find the test in the `proxy/ws_integration_test.go`. Could you test whether that works for you, please?

[2017-04-28 06:36] Spicykoala opened #278 "Add service name to access log fields"
I have a use case where I'm parsing the streamed access logs to calculate request statistics on a more granular level than the metrics output gives. I have no issues with this but, given a path that is split between two services - I can't figure out a way (other than keeping track of all of the service ips) to track which *service* the request is headed towards. Is this available at the time the a

[2017-04-28 14:11] magiconair commented on #278
Thanks. I'm glad you like it :)

I've added a patch which should do what you want. This sounds like a good idea and the metrics should probably expose that as well. Could you let me know whether that works for you?

[2017-04-28 14:12] magiconair commented on #271
Pls ignore the last commit about the access log field. I had a typo in the commit msg.

[2017-04-28 14:17] magiconair commented on #278
Erm, the metrics already export this. Time for ☕️ Enjoy 😄

[2017-04-28 14:18] magiconair commented on #274
That looks strange. I'll have a look.

[2017-04-28 14:21] magiconair commented on #274
also fails like this

[code]

I'll open another ticket. Thanks for finding this.

[2017-04-28 14:22] magiconair opened #279 "fabio does not start with multiple listen sockets"
When starting fabio with multiple listen sockets it shuts down immediately with "bind address already in use"

[code]

[2017-04-28 14:32] magiconair commented on #279
`git bisect` identifies 5a23cb19dc64a30ee40c42bd3ec1dde289a91033 for #265 but I have a feeling that this just exposes the problem since errors are now fatal. v1.4.3 works.

[2017-04-28 14:44] magiconair commented on #274
I've opened #279 and found the issue.

[2017-04-28 14:47] #279 closed

[2017-04-28 14:56] magiconair commented on #274
I've fixed #279 and rebased the patch. Could you please try again?

[2017-04-28 15:08] Spicykoala commented on #278
Perfect. That's exactly what I was looking for! Enjoy I shall.

[2017-04-28 15:16] Spicykoala commented on #278
I realized I should probably leave this open until it's merged in :)

[2017-04-28 16:26] deuch commented on #271
I will test it tuesday and the 274 issue (consul token renewal) too !

Thanks !

[2017-04-28 17:01] #278 closed

[2017-04-28 17:01] magiconair commented on #278
yeah ;) it is merged now. Have fun

[2017-04-28 17:08] magiconair commented on #271
@deuch Cool and thanks. Enjoy your weekend.

[2017-05-01 13:15] shadowfax-chc commented on #271
I was running into this issue as well. The 94beb91 patch fixes it for me.

[2017-05-01 13:33] hkolk opened #280 "TLS and Connection information through headers"
In our setup, we are terminating TLS traffic on Fabio. This means that Fabio is the main/only place where we know which protocol was used.

My suggestion is to add Info headers to the backend request, to facilitate logging within the application.

Current concept:
[code]
Because these are not really universal, I prefer to prefix them with `Fabio-`. The ID used for the cipher is from the IANA list:

[2017-05-01 13:48] magiconair commented on #280
Since these are not fabio but protocol specific headers I'd prefer to drop the `Fabio-` prefix. Just use `Tls-Version`, `Tls-Cipher` and `Http-Proto` since the `X-Forwarded-Proto` also doesn't spell out `Protocol`. In general, I prefer the header names to be configurable to provide mechanisms for avoiding conflicts with existing setups. Disabling the header could then be achieved by setting them t

[2017-05-02 08:45] deuch commented on #271
Hello, for websocket (wss) it seems to work, thanks !

But i've an another issue. To do my testing i'm using the official examples from Tomcat.

It exists a Comet.IO testing that fails with https upstream (works in SNI and HTTPS --> HTTP).

Comet processing example:
See the "Advanced IO" chapter in the User Guide for details. This example only works with the HTTP NIO or HTTP APR/native connectors

[2017-05-02 10:53] magiconair commented on #271
If this is a different issue then could you please open a separate issue?

[2017-05-02 15:25] deuch commented on #274
Hi, i've made some test and i think it doesn't work as expected. In fact, the renewSelf function is called in the load function (vault_cert.go) each time you want to refresh the certificates list.
In my configuration i've a lease of 20mn for a token , i set the refresh to 1m and the renewtoken to 7mn in Fabio :

proxy.cs=cs=ssl-vault;type=vault;cert=secret/fabiodemo-001/certs;renewtoken=7m;refresh

[2017-05-02 16:12] deuch opened #281 "Add circuit breaking"
Is it possible to add a tag in services to define some fallback node for circuit breaking ? Those node may not serve the initial requests but will respond something to ensure a degraded services instead of errors.

For example :

service : myservice
routes :
node-1
node-2
node-3
node-4 tag "fallback"
node-5 tag "fallback"

In nominal case, fallback node are ignored. If node1, 2 and 3 are down, req

[2017-05-02 17:14] killcity opened #282 "entering a bad route breaks route updates"
Noticed a scenario where entering a route (weight in this case) broke future route updates. Can anything be done to have reject a bad route if not in the correct format? I know the easy answer is: "Dont enter bad routes", but when teams grow, more "safety net" features become necessary.

Here is an example of a route that broke updates:

```route weight myapp http://myapp.com/ weight 0.55 tags "gi

[2017-05-02 17:38] magiconair commented on #282
Is this a weight for a non-existing service? See #224

But in general I agree. There needs to be better feedback.

[2017-05-02 17:43] magiconair commented on #281
I need to check the code but what happens when you define node-4 with weight 0? If I didn't special case it then it should receive 100% of the traffic if the other services are not there. However, weight is not the right concept here since weight 0 would be counter intuitive. Sounds more like a priority concept.

[2017-05-02 18:13] killcity commented on #282
This was for an existing service. Would it be relatively easy to enforce better strictness for the route format? Maybe fire off something in the logs showing:

```Bad route format: route weight xxxx xxxxxxx, route table not modifed```

[2017-05-02 18:14] deuch commented on #281
Even if the node-4 has a 0 weight it can not be served if node-1 2 or 3 are up. Node 4 or 5 (regardless the weight) can not serve request if one of the node 1,2 or 3 is up. The main idea if it's the service can not answer, use a fallback node to have a response anyway and not a 503 or 404 error. It's like the concept of circuit breaker like hystrix.

Normally if node 1, 2 and 3 are down, they do n

[2017-05-02 18:53] magiconair commented on #281
Yes, I understand what you're looking for. I was thinking whether `weight 0` has the effect you're looking for as an unintended side-effect. Using a priority would allow to always register a maintenance page under `/` with `prio 999` for example so that when no service is up the maintenance page is shown. I need to think about this a bit more.

[2017-05-02 19:57] deuch commented on #281
Yep but playing with weight can be confusing sometimes :) A good named flag to define the route to go in case of no service is clearer to understand and setup :)

[2017-05-03 07:02] deuch commented on #271
Ok i will check with some ajax stuff and if it fails, i will open a new issue.

[2017-05-03 08:52] deuch commented on #271
Seems to work for me with Ajax too !

[2017-05-03 09:19] #271 closed

[2017-05-03 09:19] magiconair commented on #271
merged

[2017-05-03 22:46] kopax opened #283 "How to configure TCP correctly (proxy.addr, ...)"
Hi everyone!

Thanks for sharing Fabio, I have heard good thing about it.
I am following the project since it has been integrated in [PanteraS](https://github.com/eBayClassifiedsGroup/PanteraS/)

I wanted to try Fabio because it now has a TCP proxying mode.
I am configuring my services by registering them in consul and adding env tag to my docker containers :

    urlprefix-mysite.com/

[2017-05-04 00:12] magiconair commented on #283
For TCP proxying to work two things need to happen:

1. fabio needs to know that traffic on a given port is to be handled by the TCP proxy (i.e. copy bytes around instead of parsing HTTP requests). This is why you have to configure the TCP listener with `-proxy.addr :3306;proto=tcp`. Port `3306` in this example is the port on which the exposed service is available to the outside world.

2. service

[2017-05-04 00:19] kopax commented on #283
Hi, thanks. It get more clear for 1,2,3.

I have tried in `fabio.properties`:

proxy.addr = :25;proto=tcp,:143;proto=tcp,:587;proto=tcp,:993;proto=tcp

This work fine I can do `telnet` on each port. I want to send an email using port 587 with STARTTLS.
I wasn't configuring anything in HAproxy.

I have this error when sending an email from thunderbird:

    Sending of the message failed.
    An err

[2017-05-04 00:22] magiconair commented on #283
`proxy.header.*` only matters for HTTP(S) proxies. You can terminate TLS on fabio or not. In plain TCP mode fabio should just copy the bytes it receives to the service. you can use `openssl s_client` for testing.

[2017-05-04 06:36] kopax commented on #283
Thanks for your indication, apparently I have verified and SSL is fine using plain TCP, the handshake is done after Fabio.

I might have misunderstood the basic usage scenario...

I use to have HAproxy installed, and I was registering my TCP services using `haproxy_tcp=587`

Now I am registering with `urlprefix-:587 proto=tcp` AND I have to configure `proxy.addr` in `fabio.properties`

I noticed t

[2017-05-04 06:44] magiconair commented on #283
Service discovery is done through consul. Fabio finds the service instances that are registered in consul and starts routing to them once they appear and stops routing when they are gone. This is different from other proxies where you have to configure the upstream servers.

As for the bind address: `proxy.addr=:587` is the same as `proxy.addr=0.0.0.0:587` which will listen on all interfaces. Curr

[2017-05-04 07:14] kopax commented on #283
That would be very nice, I see a few use case where I rather allow by default the intranet, and manually allow my public interface.

For example if I want all my masters that run fabio, to be a valid point of access from a consul DNS for all the TCP port proxied in the DC. This will require all the fabios instance to be aware of all the port proxied in TCP in the whole DC.

From what I understand,

[2017-05-04 08:06] kopax commented on #283
:cry: I will revert to HAproxy, but only because it's impossible to proxy using a specific interface yet and I have services that require it. For when (approx) do you schedule your release ? I am waiting for it with impatience, from what I have seen and what I have plaid with, it is a great tool. Very easy and handy. Thanks for sharing it.

[2017-05-04 08:36] deuch commented on #211
+1 for me too !

[2017-05-04 09:08] magiconair commented on #283
Let me see what I can hack together. This isn't difficult. Didn't have the need for it yet since you would need to run fabio via something like supervisord, daemontools or systemd anyway which can do that little bit of shell magic.

[2017-05-04 09:28] kopax commented on #283
Sure, just tell me how I can help. It would be nice if you could create a listen_ip configuration variable.
For example, instead of using the default `:3600` for `0.0.0.0:3600`, use a `proxy.listen_ip='172.16.0.1'` variable that would be used as a default interface.
This is standard variable and it could be used in panteras with their `LISTEN_IP` env settings.

[2017-05-04 09:35] magiconair commented on #283
You can always use the shell to get the ip address, e.g.:

[code]

[2017-05-04 09:36] kopax commented on #283
I have just removed my request, it should be a default interface variable.

[2017-05-04 09:36] magiconair commented on #283
`listen_ip` isn't going to happen since you can have more than one listener.

[2017-05-04 09:43] kopax commented on #283
Sorry, I meant having the possibility to configure a default interface instead of `0.0.0.0`
I have set some iptables rules that configure my public interface by first allowing a few public ports then dropping the rest. It was working fine enough with HAproxy. I only had to configure one ENV tag and `consul_haproxy_template` was updating HAproxy configuration. The service was accessible through the

[2017-05-04 09:47] magiconair commented on #283
As I've said, use the shell to get the ip address(es) you want fabio to bind to and then run `fabio -proxy.addr "1.2.3.4:3306;proto=tcp,5.6.7.8:9876,..."`

[2017-05-04 09:55] kopax commented on #283
This is the other part that I don't understand, how do I know the ip address from the host with the fabio daemon ? I though load balancing was for that. If I scale up on marathon I have no way to send the new  application ip to Fabio.

[2017-05-04 15:04] jamesdmorgan opened #284 "chunked Transfer-Encoding"
Hi,

We are running 1.3.5-go1.7.4 and seeing that certain requests to fabio are getting truncated.

When hitting the app locally we get

Content-Length: 884583

[code]

via **Fabio** gives

Content-Length: 1643459

[code]

I plan on upgrading Fabio anyway as things have moved on just wondering if anybody had come across this recommend how to fix.

Cheers

[2017-05-04 15:47] magiconair commented on #284
I was going to say that 880Kb of JavaScript is more than enough until I saw that Fabio almost doubles it :) Please let me know what you find. This is the first time I hear about it.

[2017-05-04 15:51] jamesdmorgan commented on #284
Good spot yeah that doesn't make any sense. I'll re-check thanks

[2017-05-04 15:52] magiconair commented on #284
I don't see any compression headers. AFAIR, the Go http client automatically decompresses the response body. Can you check if the content is the same (md5 hash it to be sure)?

[2017-05-04 16:23] jamesdmorgan commented on #284
I upgraded to the latest version and it works so i'll close this. Thanks for your help.

[2017-05-04 16:23] #284 closed

[2017-05-05 07:27] deuch opened #285 "Health Check from LB to FAbio"
Hello,

The health check in Fabio i used by consul and always returned OK.

We have Load balancer in front of fabio (like a lot of people i suppose) with a health check to Fabio.
We can not rely on Fabio Health check beacuse it's always return ok if Fabio is up, but imagine that the Consul Agent is down or the entire Consul cluster is not in a good shape. The health check provided by fabio is OK b

[2017-05-05 09:30] ket4yii opened #286 "Reload configuration without restarting fabio by SIGHUP or by flag."
Very common and useful feature. And it allows, for example, use ```docker kill  -s SIGHUP fabio``` instead of restart the container. I know, that fabio starts very fast, but, I think, zero downtime is the main goal of fabio:)

[2017-05-05 09:45] magiconair commented on #285
What should fabio conclude when consul is down? Does that mean your services are gone as well? How often do you have issues with your consul cluster? fabio will continue to serve the last known good routing table. In the two years I've had this in prod we didn't have issues with it. Just as with fabio consul was one of the tools we simply forgot was there.

If you don't want to rely on fabio then

[2017-05-05 09:47] magiconair commented on #286
This isn't a simple change since the configuration that is served via the config file is usually the static configuration like headers and listener config. However, I'm curious why you would want to do this in the first place? fabio is zero-conf in respect of the services. All service changes are handled without restart and loss of existing connections. We ran fabio for months without restarting i

[2017-05-05 10:39] ket4yii commented on #286
If it's hard to implement this then I think it's not really important. But a couple of times I needed to change certificate stores and pathes to certs in vault and had a little downtime.

[2017-05-05 10:58] deuch commented on #285
Ok cluster consul doesn't fail easily (we've issue but ok). Agent (client) consul can failed, and we are using it at localhost fot the HTTPS port (8543). So a LB can not have access to it to check the state ...

If we change that, we need to do a health check in HTTPS to consul agent and our load balancer do not handle HTTPS health check (need to have our root ca in it and/or certificates, and it'

[2017-05-05 20:20] sprutner commented on #223
Thanks for this, the environment variable is what really helped me here. I am going to submit a change to the readme.MD with req commands to run docker container.

[2017-05-05 20:45] leprechau commented on #133
@jamessammut Did you ever find a solution to this?  We're seeing something similar with the latest 1.4.3 fabio release and rancher 1.6.0

[2017-05-07 15:36] silentred opened #288 "HTTPProxy cannot be aware of timeout of waiting response"
In case using `httputil.ReverseProxy`, the error returned by RoundTrip(), is only recorded by Logger. https://github.com/golang/go/blob/master/src/net/http/httputil/reverseproxy.go#L203 .

Therefore, it seems the HTTPProxy cannot distinguish whether it is a timeout or a normal response, when it tries to gather the metrics. https://github.com/fabiolb/fabio/blob/master/proxy/http_proxy.go#L134

Also

[2017-05-07 19:45] magiconair commented on #288
I can always fork `httputil.ReverseProxy` and hack this in. Then file an issue with the Go team and hope for a future fix.

[2017-05-07 20:06] magiconair commented on #288
What is the behavior you would like to see?

[2017-05-07 20:11] magiconair commented on #288
Also, I'm already injecting a single-use round tripper which captures the `*http.Response` so that I can use it for access logging. I can capture the error there as well and handle it.

https://github.com/fabiolb/fabio/blob/master/proxy/http_handler.go#L52-L64

[2017-05-07 20:56] magiconair commented on #286
This isn't impossible but not a trivial change and I'd like to see more concrete examples of where this is really a recurring production issue. For the case of cert stores I might be able to handle this in a different way.

I'm going to close this one but I'm open for additional suggestions and may re-open at a later point.

[2017-05-07 20:56] #286 closed

[2017-05-07 20:59] magiconair commented on #283
Maybe lets take a step back and explain what it is that you're trying to do. Since you mention marathon the setup is a bit more complex. (This should have registered when you mentioned PanteraS).

The usual deployment scenarios are listed here: https://github.com/fabiolb/fabio/wiki/Deployment

Could you explain briefly what your setup looks like?

[2017-05-08 02:52] silentred commented on #288
Thanks. Another problem is ReverseProxy returns 502 without body to the client. I am hoping to customize the body according to each err type. It seems I have to copy ReverseProxy and make my own version. I wonder if there is a simpler way to achieve that.

[2017-05-08 03:51] silentred commented on #288
I guess I found a work-around. Replace the out writer of `ErrorLog` in ReverseProxy with a custom one, which writes a JSON format body to the client. I am working on it.

[2017-05-08 03:51] silentred commented on #288
I guess I found a work-around. Replace the out writer of `ErrorLog` in ReverseProxy with a custom one, which writes a JSON format body to the client. I am working on it.

[2017-05-08 04:31] kopax commented on #283
So far, I only have 3 hosts Master+Slave where PanteraS is installed.
They all have a private interface and together create a private cloud network on `172.16.x.x`
I am using consul and HAproxy for HA and load balancing.

I have installed on one of them NGINX, which is used as the public https proxy and all the public accesses.

In PanteraS, HAproxy can also be used to proxy TCP. I sometimes open

[2017-05-08 07:24] magiconair opened #289 "Fabio does not advertise http/1.1 on TLS connections"
@hkolk found this:

[code]

This seems to cause a broken TLS handshake with Safari on OS X 10.10 and maybe others.

[2017-05-08 07:36] #289 closed

[2017-05-09 07:31] deuch commented on #274
Any update on this topic ?

[2017-05-09 11:13] magiconair opened #290 "Add profiling support"
Fabio should support profiling via github.com/pkg/profile

[2017-05-10 07:32] #288 closed

[2017-05-10 15:02] ket4yii commented on #133
I've got the same thing with rancher. And, maybe, can collect some needed data that is necessary to work it out. @magiconair What is needed? Tcpdump, access logs, response and request header?

[2017-05-10 15:28] ket4yii commented on #133
It seems to be the problem with theirs parser as far as I can get it from logs. If someone is interested I'll stack trace of rancher here.

[2017-05-10 15:52] dahendel commented on #133
@ket4yii I see that as well, but when I switch back to HAProxy I have no issues. I also have logs etc readily available.

[2017-05-10 15:54] tecnobrat opened #291 "Multiple SSL certs for same listener"
Does fabio provide a way to have multiple SSL certs attached to the same listener?

I would like to be able to have two wildcard certs, say `*.tugboat.zone` and `*.tugboat.info`, which point to the same fabio instance, and have them both work correctly.

Am I missing from the docs on how to make this work? Or is it not possible?

[2017-05-10 16:09] magiconair commented on #291
Checkout the `path`, `consul`, `http` or `vault` cert store. They all support multiple certs based on SNI.

[2017-05-10 16:14] magiconair commented on #133
This is really strange since fabio just opens up a raw TCP proxy between the two endpoints for websocket connections. First step would be to look at the connection before and behind fabio with ngrep on an unencrypted connection.

[2017-05-10 16:16] magiconair commented on #133
https://github.com/fabiolb/fabio/blob/master/proxy/http_proxy.go#L107-L114

and

https://github.com/fabiolb/fabio/blob/master/proxy/http_raw_handler.go#L18-L67

[2017-05-10 16:23] ket4yii commented on #133
@magiconair ok, I'm going to do this. And it's [the string that throws exception](https://github.com/rancher/cattle/blob/5aea566e0aecf66b6a39837cff4bf11e7d9afeea/code/framework/java-server/src/main/java/io/github/ibuildthecloud/gdapi/request/parser/DefaultApiRequestParser.java#L257). Obviously, that we get 500 response code because of it. Maybe this information can help.

[2017-05-10 16:41] tecnobrat commented on #291
I'm not sure I understand.  SNI makes the upstream handle the cert, does it not?

I'd like to handle the cert in fabio.

[2017-05-10 16:45] tecnobrat commented on #291
I'm very confused, I can't find any example of multiple certs on the same listener in teh docs, so if you can point me in the right direction I'd be appreciative.

[2017-05-10 16:47] magiconair commented on #291
https://github.com/fabiolb/fabio/blob/master/fabio.properties#L27-L51

You create a directory for the certificates and put them there. Then you configure a path cert source, e.g.

[code]

Then in `path/to/certs` you put

[code]

For a request on port 443 fabio will check whether it can find a matching cert based on the server name.

[2017-05-10 16:48] tecnobrat commented on #291
Oh crap, so `path` instead of `file`, and then fabio will do the magic! ... I was using `file`, and didn't realize that subtle difference.

Thanks muchly!

[2017-05-10 16:52] ket4yii commented on #133
The same story with plain HTTP.
Dump behind fabio: **Fabio <-> Capturing(ngrep) <-> Rancher**:

[code]

Dump before fabio **Outside <-> Capturing(ngrep) <-> Fabio <->  Rancher**:
[code]

[2017-05-10 17:09] tecnobrat commented on #291
That worked perfectly, thanks muchly.

[2017-05-10 17:09] #291 closed

[2017-05-10 19:40] killcity commented on #282
When weighting using `src` and `tags`, does every tag need to be specified or will a single tag allow the upstreams to be load balanced.

For instance, if I want to balance to two machines, does this route work to make sure anything with `ferrari` get 90% traffic or do I need to explicitly list both tags?

server1: `www, ferrari`
server2: `www, yugo`

`route weight mysite weight 0.9 tags "ferrari"

[2017-05-10 19:48] magiconair commented on #291
Cool. Glad I could help.

[2017-05-11 06:19] magiconair commented on #133
I didn't expect the problem to go away but now we can compare what is sent to fabio and what fabio sends to rancher.

BTW, `-W byline` formats the output by line.

[2017-05-11 06:22] magiconair commented on #133
Could you also capture with `-s 1520` to make sure the entire body is captured since this looks truncated. I need to see the full request. Also, I'm assuming right now that the incoming request to fabio works on rancher unmodified.

[2017-05-11 06:25] magiconair commented on #133
I think I see the problem:

[code]

[2017-05-11 06:41] magiconair commented on #133
These can't be the same requests. Look at the cookie and the websocket key.

These are the formatted requests (headers sorted alphabetically for comparison):

[code]

[2017-05-11 06:42] magiconair commented on #133
Try with `ngrep -q -d <interface> -W byline /v2-beta port <the port>`

[2017-05-11 07:36] ket4yii commented on #133
Oh, sorry, I lost it. Ok, I will do it right way.

P.S. I found something about this exception. I'm not sure that this it hasn't been resolved, but the problem with

[2017-05-11 07:56] ket4yii commented on #133
Second try:
Dump behind fabio **Fabio <-> Capturing(ngrep) <-> Rancher**:
[code]

Dump before fabio **Outside <-> Capturing(ngrep) <-> Fabio <-> Rancher**:

[code]

[2017-05-11 09:23] magiconair commented on #133
The delta is that fabio adds some headers (expected) and that the header names are normalized (go stdlib behavior) which could trip rancher up. Other than that there is no difference.

Try sending the request with telnet to rancher (just copy the lines into a text file, select all and then paste. Make sure there is a newline at the end). Then try the same with the changed header names.

[code]

If

[2017-05-11 16:23] ket4yii commented on #133
Huh, It doesn't make any difference. But I found out some interesting thing. When I send this request to the same opened connection twice by telnet or netcat, WS works fine. Rancher sends me ping/pong responses and other JSON stuff. Mystery thing. Could you check this dump? Maybe I did something wrong.

Dump:
[code]

[2017-05-11 16:53] ket4yii commented on #133
P.S. Did something wrong in previous message meant: "I forgot how TCP works and saw strange things" :smile:

[2017-05-11 17:02] ket4yii commented on #133
Yeah, it's about Java URL parsing. It reads X-Forwarded-Proto and doesn't know about ws protocol and throws exception. it works fine with http or https in Forwarded-Proto. So this bug isn't only about Rancher, but about apps that were written in Java.

[2017-05-11 17:18] magiconair commented on #133
This seems relevant: http://stackoverflow.com/questions/2406518/why-does-javas-url-class-not-recognize-certain-protocols. Use java.net.URI instead of java.net.URL.

[code]

[2017-05-11 17:40] ket4yii commented on #133
@magiconair I think, there is a lot of legacy code that can be damaged by this. But anywat, thank you! I'm going to open issue about it in rancher repo. I hope they will read another issue which I opened...

[2017-05-11 17:58] leprechau commented on #133
Just some quick researching it appears there isn't a real standard for what `X-Forwarded-Proto` should contain but Amazon and Mozilla at least seem to indicate it should only be `http` or `https`.  @magiconair have any thoughts about that?

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Proto
http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.

[2017-05-11 18:11] ket4yii commented on #133
And issue in [Traefik repo](https://github.com/containous/traefik/issues/670). It seems that they use http for ws and https for wss.

[2017-05-11 20:21] magiconair commented on #133
@ket4yii can you put a link to the rancher issue you've opened here?

Since `X-Forwarded-Proto` isn't really specified I'd say lets do what works. The `Forwarded` header though is specified and there is no such restriction: https://tools.ietf.org/html/rfc7239#section-5.4

[2017-05-11 20:33] magiconair commented on #133
I've pushed a change. Could you test whether that works for you?

[2017-05-11 23:01] ket4yii commented on #133
Wow. I've lost this section when I read this RFC.

[The link.](https://github.com/rancher/rancher/issues/8745)

Ok, I'll do it tommorow and send you response. Thank you a lot!

[2017-05-12 15:01] manos opened #293 "cert file names and path= not working as documented"
Hello,

1) if I set cs.proxy=type=path;path=/foo/bar, I get an error saying something like "map [...] cert not found." As in, it's expecting to find a cert= in the config line?

2) if my chain file (containing the cert) and key files are not named *.pem, fabio will fail to load the chain. I think it's reading just the first cert in the chain file, as it's not expecting to find multiple if the file

[2017-05-12 15:16] ket4yii commented on #133
@magiconair It seems to work perfect. Here is a few packets that were captured between rancher and fabio when WS connection was established.

WS packets:
[code]

WSS packets:
[code]

[2017-05-12 15:19] leprechau commented on #133
@ket4yii awesome.  Thank you everyone for the work on this issue.

[2017-05-12 15:21] magiconair commented on #293
1. Try `cert` instead of `path` https://github.com/fabiolb/fabio/blob/master/fabio.properties#L27-L51
2. yes, see docs in the same place about file name conventions.

[2017-05-12 15:23] magiconair commented on #133
ok, I'll merge it soon then. Thanks for testing!

[2017-05-12 15:25] manos commented on #293
ok, all user error it looks like. I didn't read closely :)

[2017-05-12 15:25] #293 closed

[2017-05-12 16:40] CGreenburg opened #294 "Using upstream hostname for request"
My team and I are working on figuring out a service discovery architecture for our multitude of Serverless stacks.

I've created two EC2 instances in AWS: one with Consul and the other with Fabio. I have a Serverless stack deployed with a single endpoint: /status. I registered a service in Consul with the address being the API Gateway URL (`xxxxxxx.execute-api....com`) and the port to 443. I set t

[2017-05-12 17:26] magiconair commented on #294
That should work. You're sure that your `urlprefix-` tag does not contain the hostname?

[2017-05-12 17:37] mitchelldavis commented on #294
To piggy back on @CGreenburg question.  We're hoping to get Fabio to work like a reverse proxy (I think).  HTTP -> HTTPS in this case so our users can simply hit Fabio and Fabio routes the traffic to the backend services.  (An obvious use case for the tool.)  However, we're stubbing our toes somewhere.

[code]

# I think I understand that a straight through proxy wouldn't work in this case because

[2017-05-12 17:47] mitchelldavis commented on #294
Here is my configuration for a Serverless REST API in Fabio:

[code]

I get a Bad Request from Amazon when I run

[code]

[2017-05-12 18:49] magiconair commented on #294
@mitchelldavis Pls open another ticket in the future. I don't mind answering several questions but I'd prefer not to morph or merge issues. You probably need to add `strip=/servicename` to the `urlprefix` tag since fabio doesn't do automatic path stripping.

[2017-05-12 18:59] CGreenburg commented on #294
@magiconair yes, the tag does not contain the hostname. I've noticed when running `curl -v <fabio-ip>:9999/status`, the Host header gets set to `<fabio-ip>:9999`. If I set the Host header to only the ip, I get the same result.

I registered a service pointing to www.google.com port 443 with a tag `urlprefix-/google proto=https strip=/google`. When I run `curl -v -L <fabio-ip>:9999/google`, the Hos

[2017-05-12 19:00] magiconair commented on #294
That looks like a bug.

[2017-05-12 19:12] mitchelldavis commented on #294
@magiconair Sorry to confuse.  @CGreenburg sits behind me, and we're working through the same problem.

[2017-05-12 19:16] #133 closed

[2017-05-12 19:23] magiconair commented on #294
Indeed - that should have been obvious. Sorry for pushing :)

[2017-05-12 19:31] magiconair commented on #294
What does your consul service record look like?

[2017-05-12 20:04] mitchelldavis commented on #294
[code]

[2017-05-12 20:05] magiconair commented on #294
Can you try setting the `ServiceAddress` ?

[2017-05-12 20:17] mitchelldavis commented on #294
I did and same result:
[code]

[2017-05-12 20:20] magiconair commented on #294
And the service is accessible under `https://opesqzhtvl.execute-api.us-west-2.amazonaws.com/` ?

[2017-05-12 20:20] mitchelldavis commented on #294
Yes.  We can curl it directly no problem.

[2017-05-12 20:21] mitchelldavis commented on #294
you should be able to curl it at:  `https://opesqzhtvl.execute-api.us-west-2.amazonaws.com/dev`

[2017-05-12 20:24] magiconair commented on #294
Can you use access logging to log the target url:

[code]

[2017-05-12 20:26] mitchelldavis commented on #294
I was doing that already actually:
[code]

[2017-05-12 20:32] magiconair commented on #294
I'm getting a `403` since I don't have the access token.

[code]

[2017-05-12 20:35] mitchelldavis commented on #294
That's expected, Sorry, we're not going to give you access.

[2017-05-12 20:42] magiconair commented on #294
ok, late here (AMS, NL). I'll look at it probably on Monday.

[2017-05-12 20:42] mitchelldavis commented on #294
No Worries.  Thank you!

[2017-05-15 14:53] deuch commented on #247
I've the same use case with cqrs micro-service. We would like to have the ability to have the same service/path and route request to the right backend regarding http method (GET for read and POST/PUT for write).

[2017-05-15 15:25] magiconair commented on #247
OK, I'll have another look. Started with this at some point but it took more time than I expected.

[2017-05-16 03:56] juliangamble commented on #133
Confirming I'm still using this. (Just got to this thread). @magiconair thanks for your work. @ket4yii thanks for testing. Am keen to know which version this fix goes into.

[2017-05-16 05:56] magiconair commented on #133
It is on master. You can build it yourself for now.

[2017-05-16 15:40] mitchelldavis commented on #294
@magiconair, anymore thoughts on this?

[2017-05-16 17:15] magiconair commented on #294
@mitchelldavis got sidetracked. I try to have a look later tonight or tomorrow morning.

[2017-05-16 17:26] manos opened #295 "logging health changes excludes useful info"
Hi,

When a service goes unhealthy, fabio seems to log:
"Health changed to #753565"

It would be really handy to know _which_ service it's referring to. When debugging crashing backends, this would be super handy.

Is that possible to add? :)
Thanks much!

[2017-05-16 17:45] magiconair commented on #295
When this happens then the routing table changes and fabio should log the delta. The state change can also occur when there is no change in health but a change in the output of the health check. If you have volatile data like a timestamp or an ip address in the output then you can get a change like that without a routing table change.

You can run `consul monitor` to check what is going on in your

[2017-05-16 18:13] manos commented on #295
Ooh, I think you're right. This is mostly happening when I see:
[INFO] agent: Synced check '2d2b8e084ac62d104f97b46a3eb1031e0de165da'

Thanks again :)
Loving fabio, by the way. It's working wonderfully.

[2017-05-16 18:16] manos commented on #295
BTW, I'm not sure fabio should be logging anything unless the cluster state change impacts a service with urlprefix- tag(s), but knowing that I can ignore this is helpful.

[2017-05-16 18:20] magiconair commented on #295
Although this isn't  a directly useful information for fabio it is for the operator as a secondary indicator for your cluster health. The usual problem - and you're not the first to ask - is to have either an unstable environment (which you should fix) or to have health check output with volatile data (your case) which puts stress on consul and the raft layer.

I'm glad you like fabio. Please keep

[2017-05-16 18:22] magiconair commented on #295
See https://github.com/fabiolb/fabio/issues/226 for example

[2017-05-16 18:22] #295 closed

[2017-05-16 21:43] blalor commented on #135
I'd really like to see Vault's PKI backend supported, as well.   I've been chewing on this for an hour or so and I think the model of multiple certs per cert store doesn't exactly mesh with Vault's PKI backend, but if each `vault-pki` certificate source has a single pki secret path instead of multiples, that would probably work fine. One of the config options to the `vault-pki` cert source would b

[2017-05-17 03:32] magiconair commented on #135
I'm curious how this would work independent of vault since you could mimic this with a script or LetsEncrypt or something else. The current CertSource model is that certificates exist and that fabio just picks them up. If a cert does not exist fabio will refuse the connection.

In the model of a generated cert that would no longer happen unless the cert provider refuses to generate the cert.

Who

[2017-05-17 10:13] systemfreund opened #296 "Sync X-Forwarded-Proto and Forwarded header when possible"
Situation:
* AWS loadbalancer is configured to terminate TLS at the loadbalancer level
* LB hands requests over to Fabio via `http`
* When a https-request is made AWS LB sets following headers before calling fabio:
  * `X-Forwarded-For: x.x.x.x`
  * `X-Forwarded-Proto: https`
* Fabio does not override the headers above, however it sets the following before passing the request to upstream:
  * `For

[2017-05-17 10:43] magiconair commented on #296
I think the `Forwarded` header is specified in an RFC. There was another issue about that recently. I'll check after lunch.

[2017-05-17 14:23] Superman132 opened #297 "Compatibility with 1.8"
Does this compile with go 1.8?

[2017-05-17 15:41] magiconair commented on #297
Yes, It requires go1.8 :)

https://github.com/fabiolb/fabio#getting-started

[2017-05-17 16:07] Superman132 commented on #297
We should update the performance section with 1.8 metrics :)

[2017-05-17 20:44] thisLambo opened #298 "Manual Overrides - TCP"
I am wondering if fabio will terminate existing TCP connections (as configured with proto=tcp) if a manual override deletes the route?

For example, I have a redis server hosted by ElastiCache and exposed through fabio using a route override since fabio does not process ["external" services registered to consul](https://www.consul.io/docs/guides/external.html).
So I have the manual route:
```route

[2017-05-18 07:28] magiconair commented on #298
The current behavior is for fabio not to interrupt existing connections. This stems from the fact that fabio started as an HTTP proxy which is presumed to have short living connections. That was already broken when supporting web sockets but TCP proxying makes this more visible since master/cluster failovers require an active component in the stream which terminates the connection.

This requires

[2017-05-18 10:22] floekke opened #299 "Example of proxy.gzip.contenttype configuration"
Hi

I'm looking for an example of a `proxy.gzip.contenttype` configuration in order to understand the regular expression syntax..

[2017-05-18 11:22] magiconair commented on #299
You can use the one in `fabio.properties`:

https://github.com/fabiolb/fabio/blob/master/fabio.properties#L365-L380

[2017-05-18 11:53] thisLambo commented on #298
I have an idea of a work around until you're able to solve it.

Thanks for the quick response

[2017-05-18 12:16] mitchelldavis commented on #294
@magiconair, We got a response back from the Cloud Front Engineers at AWS and it turns out that it's not working with the API Gateway because we're passing the wrong host header.  In this case, we're passing the IP of the fabio machine as the host header.  Cloud Front can't do anything with that host header and is expecting a header with the URL of the service we're trying to hit.

Does Fabio atte

[2017-05-18 13:03] floekke commented on #299
Thank you!

[2017-05-18 13:03] #299 closed

[2017-05-18 14:08] magiconair commented on #299
No problem :)

[2017-05-18 19:39] magiconair commented on #294
No, it uses the host header for routing and then passes the request on as is.

[2017-05-18 19:53] magiconair commented on #294
OK, so the problem is this:

[code]

`b.com` is supposed to either advertise `a.com/status` and accept requests with that hostname or advertise `/status` and accept requests with any hostname.

Your case is different. You register the service without a hostname but the upstream service only accepts a specific hostname. fabio cannot do this right now.

I can see two options:

1. tell fabio through

[2017-05-18 20:03] mitchelldavis commented on #294
You've nailed it @magiconair.  That's the issue.  Do you see this as a viable pull request that won't destroy existing functionality?  If so, I may be able to spend some cycles trying to get it implemented.

[2017-05-18 20:50] magiconair commented on #294
The following line to `proxy/proxy_http.go` adds the behavior you want but for all services. This needs to be exposed and made configurable which probably isn't difficult but I'd like to think about it a bit more. You can hack the work around in there for now to make it work.

[code]

[2017-05-18 20:51] magiconair commented on #294
I've pushed a branch which is WIP but contains an integration test to verify the behavior. The added line does what you want but now it needs to become configurable.

[2017-05-22 15:41] mitchelldavis commented on #294
This is awesome.  Thank you for looking into this!

[2017-05-23 09:49] deuch commented on #264
I've got the same error during my bench with vegeta tools ...

https://github.com/tsenart/vegeta

1500req/s , 10 workers during 3minutes. A lot of errors like this :

2017/05/23 11:49:07 http: proxy error: context canceled
2017/05/23 11:49:07 http: proxy error: context canceled
2017/05/23 11:49:07 http: TLS handshake error from 184.13.64.47:46838: EOF
2017/05/23 11:49:07 http: TLS handshake error

[2017-05-23 15:51] Spicykoala commented on #282
I was actually just about to put this issue in. We've been using some automation to handle route overrides and cleanup directly in consul /fabio/config. The ideal functionality would be to log the bad route command and skip it (but not ignore the rest). Are there downsides to this behavior?

We made adjustments to the cleanup processes so that orphaned routes shouldn't happen, but it does scare me

[2017-05-24 08:33] systemfreund commented on #296
I am quoting from the [RFC 7239](https://tools.ietf.org/html/rfc7239#section-5.4):

   a crypto offloader, this allows the origin server to rewrite URLs in
   a document to **match the type of connection as the user agent
   requested**, even though all connections to the origin server are
   unencrypted HTTP

So obviously this is not what happens in fabio. As I describe above the `Forwarded` head

[2017-05-24 12:23] mitchelldavis commented on #294
@magiconair, I was thinking that a tag would be a great way to configure this.  Just like the `tlsskipverify` boolean tag, we could add a `usedesthostheader` boolean tag that simply surrounds the code you outlined above in an if statement.  Do you think that would work?  Also, I'm not a GO guru, so could you give me a few hints on what needs to be updated in order for me to get this pull request s

[2017-05-24 14:26] systemfreund opened #300 "Support gzip compression for websockets"
A browser (at least chrome does it) usually sends an `Accept-Encoding: gzip` header with every request. For example:

[code]
Now I am running fabio with gzip compression enabled and when i execute the example request fabio responds with a 500 error. It's *not* the upstream server sending the 500, but fabio. The error response is sent from here:

https://github.com/fabiolb/fabio/blob/master/proxy/h

[2017-05-24 14:28] magiconair commented on #300
Is this on master? I think I've touched this code recently. I'll have a look later tonight.

[2017-05-24 14:29] systemfreund commented on #300
Yes I can reproduce this on master

[2017-05-24 14:32] systemfreund commented on #300
I was experimenting with master, because a similar issue regarding 500 errors and Websockets has been fixed recently and I was hoping that would solve my problem as it sounded very much like the same problem I am having. However, as you can see it was not the case.

[2017-05-24 15:28] magiconair commented on #300
I'll fix that tonight

[2017-05-24 17:33] magiconair commented on #300
I've pushed a fix that I think should fix this. Still need to write a test. Could you test this, please?

[2017-05-24 19:11] systemfreund commented on #300
I appreciate your fast reaction! Unfortunately, the fix did not seem to help. For reference, I am running fabio with these parameters:

`./fabio  -proxy.gzip.contenttype='^(text/.*|application/(javascript|json|hal+json|xml)|.*\+(json|xml))(;.*)?$'`

Then I am doing the problematic request:

`nc localhost 9999 < /failing-request`

[code]

I've added a fmt.Println() at the same location described ab

[2017-05-24 19:39] systemfreund commented on #300
Here's how you can reproduce the problem:

* run `python -m http.server 1234`
* create file `upsteam.json`:
[code]
* run `consul agent -dev -config-file=upstream.json`
* run
[code]
* run `nc localhost 9999 < failing-request`  (for contents of `failing-request` see previous comment)

[2017-05-24 23:09] magiconair commented on #300
It was worth a shot. I'll add a proper test and fix it. I've got a long weekend ahead so this will probably happen next week - just to set expectations.

[2017-05-25 16:28] kostyrev commented on #195
@siepkes so how do you manage Apache or Nginx services now?

[2017-05-25 17:17] siepkes commented on #195
@kostyrev On SmartOS deployments I use SMF to grant the NGINX, Apache, etc. process the `net_privaddr` privilege. This allows the process to bind to < 1024 ports without root privileges. The process it self is always started as a unprivileged user by SMF. On Linux with systemd you can use the `Capabilities=` option to achieve the same effect.

So the process never has root rights. It only has the

[2017-05-25 17:19] kostyrev commented on #195
You grant read perms on private certificates to apache/nginx user?

[2017-05-25 17:33] siepkes commented on #195
@kostyrev Yes only the NGINX user has read rights on the private key. The certificate is world readable since it is obviously public anyway. Since the worker processes have the private key loaded in their memory when they are spawned there is not much point in shielding them from the actual private key file.

[2017-05-26 07:29] magiconair commented on #300
Fixed it in the wrong place. The new patch should fix it.

Also, the websocket lib I'm using for testing doesn't make it easy to set headers. Therefore, writing a test requires a bit more work. I need to replace it anyway but I was able to reproduce the behavior with curl and the `--compressed` flag.

Could you have another look, please?

[2017-05-26 09:08] magiconair commented on #297
What do you mean?

[2017-05-26 09:31] #290 closed

[2017-05-26 13:03] mitchelldavis commented on #294
Thanks @magiconair, I'm currently working on a pull request.  I'm having trouble getting the vault tests to pass, but we'll get it in when we can.

[2017-05-26 13:30] magiconair commented on #294
Can you try with vault 0.6.4?

[2017-05-26 13:31] magiconair commented on #294
The way I usually run the tests is `VAULT_EXE=~/vault-0.6.4/vault make test`

[2017-05-27 20:27] mitchelldavis commented on #294
@magiconair, changing to vault 0.6.4 worked.  Thank you so much for your guidance and I was able to run the changes against AWS API Gateway and it worked like a charm.

[2017-05-27 22:27] magiconair commented on #280
@hkolk What if we add the fields to the `Forwarded` header instead of introducing new headers? It is already provided and contains information about the connection. We can just add some fields, e.g. `tlsver`, `tlscipher` and `httpproto`?

[2017-05-27 22:28] magiconair commented on #297
I'm closing this one but please feel free to comment.

[2017-05-27 22:28] #297 closed

[2017-05-28 21:22] magiconair commented on #249
I've pushed a branch which contains a fix for this issue. You can add `tlsmin`, `tlsmax` and `tlsciphers` as listener options and the values are the ones defined in https://golang.org/pkg/crypto/tls/#pkg-constants. The `tlsciphers` are specified as a comma-separated list in a quoted string. This required replacing the simple `string.Split` approach of the old config parser to be replaced with a pr

[2017-05-28 23:59] magiconair commented on #296
The main problem is that the AWS LB sets some but not other headers which leads to the discrepancy. But fabio also uses the actual connection type to determine the scheme which can only work reliably when the connection is terminated on fabio.

We could use the following heuristic to determine the `scheme`:

1. If `X-Forwarded-Proto` XOR `Forwarded` is set then use the value from the available hea

[2017-05-29 00:45] magiconair commented on #296
I think this heuristic is flawed for case 2. When both headers are present fabio should not touch them since it isn't clear which is the source of truth.

[2017-05-29 00:49] magiconair commented on #296
I've pushed a change with the described behavior. Could you test it, please?

[2017-05-29 10:34] systemfreund commented on #300
I can confirm now that the fix is working. Thank you very much!

[2017-05-29 11:43] magiconair commented on #300
Cool. I'll write a test and merge it.

[2017-05-29 13:11] systemfreund commented on #296
I have tested your change and it's working now.

Also I agree with your objection to case 2. It's probably better to not change anything, if both headers are passed to fabio

[2017-05-29 13:40] #296 closed

[2017-05-29 17:37] kostyrev opened #302 "read only web ui"
Is it possible to make web ui read only?
I'd like to be able to browse `:9998/health` and `:9998/routes` from `0.0.0.0/0` but not to allow overrides.

[2017-05-29 20:27] magiconair commented on #302
Not at the moment. What would be a good way of supporting this?

[2017-05-29 21:29] kostyrev commented on #302
from user perspective something like [this](https://github.com/containous/traefik/blob/b67a27d0c77959f67abd81c3b0567f23cb2b4cb5/traefik.sample.toml#L358) will do.

[2017-05-30 06:43] deuch commented on #302
Actually everyone can modify with a browser all the toutes of all the Fabio deployed with a simple browser ...

A read-only option, a secure way to access (LDAP, oauth2 etc...) or a disable switch will be good solutions regarding security.

[2017-05-30 08:26] magiconair commented on #302
Read-Only and authentication are two different concepts. They're related but not the same. Setting the UI to read-only would allow you to have a set of public fabios and maybe one internal where you allow the overrides. I think that might be a good compromise that is simple enough and covers enough use-cases without full-blown auth.

The problem with authentication is that you need ssl for this wh

[2017-05-30 09:21] magiconair commented on #302
I've added an `ui.access` option which is one of `off`, `ro` and `rw`. The default is `rw`. This should leave some room for future enhancements like `auth`, ... Could you please test whether this works for you?

[2017-05-30 10:17] kostyrev commented on #302
@magiconair I confirm. Setting to `ro` and `off` are working as expected.
Thanks!

[2017-05-30 10:49] magiconair commented on #302
@deuch do you have an opinion about the `off` switch since it does not fully disable the UI endpoint. You can achieve that by not setting `ui.addr` but then the consul registration of fabio becomes tricky since there isn't a health endpoint.

[2017-05-30 11:28] deuch commented on #302
I understand it becomes tricky for the off option. A ro and rw option can do it actually.

An another option : Set a token in the UI (ACL with write right) like in the Consul UI to be able to modify some routes for example ? It's just a thought :) By default it's RO and to be able to modify, you need a consul token, so it can bring some "security".

[2017-05-30 11:59] magiconair commented on #302
I think I'll just drop the `off` options for now until someone asks for it explicitly.

[2017-05-30 12:49] #302 closed

[2017-05-30 12:49] magiconair commented on #302
I've dropped `off` for now. We can always add it later if someone really wants it.

[2017-05-31 17:14] bkmit commented on #168
@magiconair: We also need this facility for modifying response headers.
And using logging formatting facility will allow send dynamic headers.
IMHO: Headers modification need to be happen after request processed by upstream before sending response to client.

[2017-05-31 19:06] magiconair commented on #168
@bkmit Can you provide a concrete example of what it is you're trying to do?

[2017-05-31 21:02] magiconair commented on #294
merged PR #301 to master

[2017-05-31 21:02] #294 closed

[2017-05-31 21:08] magiconair commented on #294
@mitchelldavis Thanks for this patch!

[2017-06-01 10:39] bkmit commented on #168
@magiconair We use nginx (and we want to get rid) for adding Access-Control-*, Public-Key-Pins headers with different values depending on route. Also I want to add X-Request-Id generated by fabio and maybe others to response for debug/investigation purpose.

[2017-06-01 17:47] mitchelldavis commented on #294
You're very welcome!  What kind of timeline are we looking at to get this released in a docker container?

[2017-06-01 20:25] magiconair commented on #294
Early next week

[2017-06-05 10:34] agonzalezandino commented on #211
+1 that'd be cool!

[2017-06-05 15:04] Rameshera opened #303 "Q: Fabio installation and configuration without Docker"
Hello,

I am planning to replace haproxy with fabio. When I run fabio binary and automatically register with consul and able to see all green consul UI.

I am unable to find any docs without docker.

Currtly i am using consul, consul-template, nomad, haproxy and vault. I want to replace haproxy with fabio.

Can you please share any documention for the same.

Appreciate for your quick response.

Th

[2017-06-05 19:42] magiconair commented on #303
Hi Ramesh, did you checkout https://github.com/fabiolb/fabio/wiki/Quickstart on the wiki?

[2017-06-05 23:02] #300 closed

[2017-06-06 09:07] tiago-msilva commented on #42
Hi guys,

Any news on this matter?
I'm really interested in getting weights on TCP proxy mode.

Thanks!

[2017-06-06 13:20] csawyerYumaed commented on #303
You have to download the binary, or build it yourself.  releases (tarball's and binaries) are available from the releases page:https://github.com/fabiolb/fabio/releases

[2017-06-06 13:35] avarabyeu opened #304 "X-Forwarded-Prefix header support"
While using fabio with urlprefix option, X-Forwarded-Prefix header is not passed to downstream requests.
In this case downstream services are not able to generate correct back-links since they don't know their real path.

[2017-06-06 13:43] magiconair commented on #304
How many of these headers are there? :)

What would it need to contain? The original request path?

[2017-06-06 14:49] avarabyeu commented on #304
In my personal case i'd like to have the same behaviour that i had with Zuul :)
For example,
urlprefix-/myprefix opts strip=/myprefix
Since 'myprefix' is being stripped, X-Forwarded-Prefix=/myprefix should be added to be able to build valid request URL from upstream proxy.
So yeah, it's original request path. But seems like only when you strip some part of it.

btw, as far as i know, the following

[2017-06-06 15:12] magiconair commented on #304
@avarabyeu pushed a change with test. If you could verify that it works for you then I'll merge it and include it in the next release which I'll roll this week.

[2017-06-06 16:02] magiconair commented on #280
@hkolk I've pushed a change which adds the fields to the `Forwarded` header as described. Could you check whether this works for you? If possible, I'd like to merge this to next release this week.

[2017-06-06 17:55] magiconair commented on #280
Example:

[code]

[2017-06-07 08:36] avarabyeu commented on #304
@magiconair Just checked it. Seems like i didn't understand your question about original request path :) Header is added, but value should contain only the part that was truncated by proxy.
For example:
We have registered service with the following params: urlprefix-/myprefix opts strip=/myprefix
I'm executing some GET: /myprefix/foo/bar
In current fix x-forwarded-prefix= /myprefix/foo/bar, but th

[2017-06-07 09:17] magiconair commented on #304
`/value` or `/foo/bar` ?

[2017-06-07 09:22] magiconair commented on #304
Ah, you want the stripped prefix to be in the header, e.g. `X-Forwarded-Prefix: /myprefix`

[2017-06-07 09:38] magiconair commented on #304
@avarabyeu I've pushed an update to the branch. Can you check, please?

[2017-06-07 12:19] avarabyeu commented on #304
@magiconair Checked. Works as expected! Thank you very much, looking forward for the release.

[2017-06-07 19:23] #304 closed

[2017-06-07 21:03] #249 closed

[2017-06-07 21:03] #280 closed

[2017-06-13 13:32] pipozzz opened #305 "1.5.0 config compatibility problem"
Hello,

I have a problem with fabio upgrade to the latest 1.5.0

this is my config:
[code]

I see in output just this:
2017/06/13 13:27:03 [FATAL] 1.5.0. =

Where could be a problem?

Thank you.

[2017-06-13 14:20] jippi commented on #244
A gentle bump to this issue, any 2017 / 2018 timeframe @magiconair ? :)

[2017-06-13 14:49] magiconair commented on #305
I've refactored the code for parsing the `proxy.addr` values. Let me have a look.

[2017-06-13 15:14] magiconair commented on #305
The problem is the second `=` in the `proxy.cs` line. This is a bug in the parseKVSlice code. I'll fix it.

[2017-06-13 15:33] magiconair commented on #305
I've pushed a fix in the `issue-305` branch. Could you check whether this fixes the problem for you?

[2017-06-13 15:52] magiconair commented on #244
From reading the docs this should just work out of the box. @jippi did you test that this doesn't work? I'll have a look this week.

[2017-06-13 18:22] pipozzz commented on #305
Great, I checked that, everything works properly, thanks

[2017-06-13 18:57] wv-myoung commented on #244
I have been looking into this and yes it may work out of the box when the http/1.1 to http/2 upgrade negotitation is handled for normal browser and web servers.  This is not the case with gRPC as it is only an http/2 protocol on client and server it is acting strictly on http/2.

I added an additional proto value of h2 to indicate the upstream should be explicitly http/2 and used an appropriate tr

[2017-06-13 21:06] magiconair commented on #244
@wv-myoung I can easily fork the `net/http/httputil` package for the moment until 1.9 is out and add the change if that's all it takes. I think I need to add something to the TLSClientConfig as well. I've tried to simulate this with the demo/server but didn't succeed yet. It might be worthwhile to add a gRPC mode there as well.

The main question for me is whether this can work on a regular https

[2017-06-13 21:43] wv-myoung commented on #244
@magiconair I did not have to manipulate the listener at all and do not think there would be a need for a dedicated type.  The routing works well as the service name, class and action go into the uri such as /TestServer.HelloWorld/SayHello.  Therefore port and prefix matching are both capable for the routing, I do believe host was working as well.

TLSClientConfig worked fine with the existing set

[2017-06-13 21:51] wv-myoung commented on #244
I was attempting to treat it generically as http/2 instead of specifically gRPC.  The trailers was the only thing I had to do gRPC specific and the net/http/util fix will address that.

[2017-06-13 21:59] magiconair commented on #244
ok, that's good to know. Then I'll add a gRPC test to the integration test and see where that fails.

[2017-06-13 23:09] jippi commented on #244
amazing @magiconair & @wv-myoung !

[2017-06-14 11:12] magiconair commented on #244
@wv-myoung and @jippi I've pushed a change with a test. I think the main catch for enabling http2 is to call `http2.ConfigureTransport` in `main.go` since I didn't have to change anything in the proxy code itself to make this work.

I've created a gRPC service and server which I'm testing in an integration test which fails with go1.8 but works with gotip. I'd like to extend the `demo/server` to se

[2017-06-14 21:29] wv-myoung commented on #244
@magiconair I was able to confirm usage of http2.ConfigureTransport along with latest go from master to address the trailers functional with my gRPC harness as well.

Running your above test from the issue-244-grpc branch I am not seeing the closed network log line mentioned

[code]

The issue does remain that it only works over https both grpcClient to fabio and fabio to grpcServer and so grpc se

[2017-06-15 07:20] magiconair commented on #244
@wv-myoung I'm not sure I understand the last statement. The upstream server needs `proto=https` since go does not support HTTP/2.0 without https? Why would the client need a tag? What am I missing?

[2017-06-15 20:19] wv-myoung commented on #244
@magiconair I was stating that both the fabio proxy listener and upstream need to be configured for https for it to work currently.  Even though if you go direct from grpc client to server it is able to work without https.

For the grpc service registering itself with consul to be served via fabio it needs to include the proto=https option.

As well, the listener that the grpc client connects to f

[2017-06-15 22:48] magiconair commented on #244
Does gRPC work with HTTP 1.1? Go does not support HTTP/2 without TLS. The `tlsskipverify` option disables cert verification in fabio.

[2017-06-16 10:43] InformatiQ opened #306 "Add metrics for TCP and TCP+SNI proxy"

[2017-06-16 13:51] InformatiQ opened #307 "what is the tcp writeTimeout?"
could you clarify the wt and rt options?
and is there a way I could force fabio to close backend connections ?
Thank you

[2017-06-16 14:14] magiconair commented on #307
`rt` and `wt` sets the read and write timeout on the inbound connection, the one accepted on the listening socket and handed off to the `TCPProxy`. The upstream connection does not have timeouts right now. This is a bit hidden here: https://github.com/fabiolb/fabio/blob/master/proxy/tcp/server.go

When you close the inbound connection the outbound connection should get closed as well if I read the

[2017-06-16 14:16] magiconair commented on #306
It is correct that the TCP proxy does not collect metrics at the moment since most of the metrics I'm collecting only make sense in for HTTP. Which metrics would you like to see?

[2017-06-16 15:00] InformatiQ commented on #307
we will be proxying carbon (graphite project) which opens up a connection and keeps it up, and we need to be able to balance the conn over the list of nodes.
The thing is it does not close the connection untill it is restarted. some sort of a health check on the upstream (such as CPU or queue size) would greatly help.

[2017-06-16 15:02] InformatiQ commented on #306
out of the top of my head i would expect to see
* number of connections
* tx and rx stats per service

[2017-06-16 16:23] wv-myoung commented on #244
gRPC is HTTP/2 only and supports use of h2c.  I've tested it with go based grpc client and server with http2debug=2 and can see that it is over HTTP/2 as shown below (note the scheme is http).

I believe the gRPC libraries may not be using the net/http2 libraries or using them in a lower level fashion as I have seen framer handling within their code.

This is mainly just a note that at this time t

[2017-06-16 18:03] magiconair commented on #244
Well, if we can make it work with all transports then we should. I'll have a look whether I can make this work with http. Help is appreciated.

[2017-06-18 21:13] nanoz commented on #211
Any news on the Prometheus /metrics endpoint ?

This feature would be very helpful to us to measure things like requests throughput, call latencies and status codes, globally and maybe per entrypoint/endpoint as well ? :)

[2017-06-18 21:48] nanoz commented on #42
Maybe we can help developing this feature ? If so, what would be the syntax ? `/path?weight=X` as a query paramater ?

[2017-06-19 09:54] magiconair commented on #42
@nanoz and @tiago-msilva I thought that this would be more work but the `route add` command already supports a `weight` option which does the right thing. The only thing missing was to expose this via the `urlprefix-` tag. You can now add a `weight=.x` option to specify a weight on a target, e.g. `urlprefix-:3306 weight=0.2 proto=tcp`

Sorry, @nanoz I did not want to take the opportunity for contr

[2017-06-21 13:28] hauleth opened #308 "`x-forwarded-proto` is always HTTP when Fabio is behind ELB"
I have applications hidden behind ELB and Fabio and `x-forwarded-proto` is always `http` even when connecting via HTTPS.

ELB configuration is here: https://github.com/appunite/terraform-modules/blob/68c0cd1df550d379141aa4be7e25f30938d2a443/aws/elb/main.tf

And sample headers list is:

[code]

[2017-06-21 14:31] hauleth opened #309 "Allow setting custom 404 page"
I am using Fabio with catchall domain and it would be useful if I could show custom page when there is no matching route.

[2017-06-21 15:08] hauleth commented on #296
I have somewheat similar problem, though I get `http` on both headers which prevents me from redirecting from HTTP to HTTPS as I have no way to distinguish origin protocol. However I am using `tcp` and `ssl` LB instead of `http` and `https` as I need to provide support for WebSockets also.

[2017-06-21 15:14] magiconair commented on #309
You want a custom page or a custom url?

[2017-06-21 15:15] hauleth commented on #309
TBH doesn't matter

[2017-06-21 15:18] magiconair commented on #308
fabio does not touch the `X-Forwarded-Proto` header if it is set:

https://github.com/fabiolb/fabio/blob/master/proxy/http_headers.go#L48-L64

and the way I read the AWS docs on the ELB and SSL termination the ELB should set it to `https`

http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.html#x-forwarded-proto

Based on your comment from #296 I assume that isn't t

[2017-06-21 15:19] magiconair commented on #309
dup of #56 I'll have another look at this.

[2017-06-21 15:19] #309 closed

[2017-06-21 15:25] hauleth commented on #308
Ok, after further investigation it seems that there are no support in ELB for WebSockets so when one connect to ELB and termination happens then there are no `x-forwarded-` headers. However this still presents a bug in Fabio as PROXY protocol reveals connection port (which I could use as a replacement), however it always set it to 80 from what I see.

[2017-06-21 15:31] magiconair commented on #308
Hmm, could you try using the port from the RemoteAddr instead?

https://github.com/fabiolb/fabio/blob/master/proxy/http_headers.go#L22

and set it here with `strconv.Itoa()` ?

https://github.com/fabiolb/fabio/blob/master/proxy/http_headers.go#L67

[2017-06-23 14:14] aalba6675 opened #310 "Q: does routing use first match or longest match of urlprefix-?"
Does routing use first match or longest match?
I have two legacy services where one endpoint is a prefix of the other:

- svc1:  /animal/cat
- svc2: /animal

By fluke clients of svc2 will never request for   /animal/cat/... will this work with urlprefix-/animal
urlprefix-/animal/cat using longest match or first match?

[2017-06-23 14:20] magiconair commented on #310
The search order is most to least specific. Registration order does not matter since this wouldn't be deterministic. Therefore, for `/animal/cat/white` you'll hit `svc2` but for `/animal/dog` you'll hit `svc1`

https://github.com/fabiolb/fabio/blob/master/route/table.go#L89-L92
https://github.com/fabiolb/fabio/blob/master/route/routes.go#L16-L19

[2017-06-23 14:26] aalba6675 commented on #310
Thanks !

[2017-06-23 14:26] #310 closed

[2017-06-27 02:31] ultratxd opened #312 "Q: fabio memory usage is large, Why?"
maxconn=5000
runtime.gogc=500

Soon it went up to 700m+, about one day

Is there any way to reduce it?

[2017-06-27 14:29] tiago-msilva commented on #42
@magiconair
First of all thank you for looking into this matter.

I don't know a thing about go.
I tried to build this with:
`git clone ...`
`git checkout issue-42-weigh-targets`
`cd  fabio`
`go build .`
and I got this:
`./main.go:399: t.Dump undefined (type route.Table has no field or method Dump)`
Does this help out?

[2017-06-27 14:31] magiconair commented on #42
try this:

[code]

[2017-06-27 16:15] pschultz commented on #135
The Vault operator defines what certificates can be issued on a given path.

From fabios perspective there is almost no difference to fetching certs from the generic secret backend. In Go, it looks something like this:

[code]

So very similar to what the current vault store does. client.Logical().Read is replaced with client.Logical().Write, and the data structure is a bit different from what the

[2017-06-27 19:59] pschultz commented on #274
Renewing the token before further API calls are made is fine. Setting renewtoken=7m just ensures that the token is valid for at least another 7 minutes before the certificates are looked up. If the token's TTL is longer than that, nothing happens. What did you expect to happen instead?

[2017-06-27 20:18] deuch commented on #274
I want to decorelate the certificate renew and the token renewal. I can set the renewal token to 20mn for example and certificate every 1mn. But in the current implementation, the token is refreshed everytime the certificates are updated. So the Vault logs are flooded by token renewal. And i do not need to to refresh every minute ...

So i would like to have those parameters working as expected.

[2017-06-28 00:03] kopax commented on #283
Any update on this ?

[2017-06-28 09:24] tiago-msilva commented on #42
Thanks!

I also set the GOPATH to "~/go" and cd to it before running go get.
Yep, it' worked.
Will test this now.

[2017-06-28 09:44] tiago-msilva commented on #42
@magiconair
Fantastic.
I tried it with a simples 20/80 weight distribution and it worked.

Moreover I tested it with my use case.
We're going to have a fallback TCP port like in haproxy, when one service is down move to the fallback to I got one with weight=100 and another with 0.
It worked perfectly.
Only the 100 weighted service got traffic when it was up but if I killed it, once it went down on

[2017-06-28 10:00] magiconair commented on #42
@tiago-msilva Thanks for testing this. I try to do a release a month. It has been three weeks since the last release. I'll have a look what else is on the list and could shoot for a 1.5.1 next week.

[2017-06-28 10:12] #42 closed

[2017-06-28 10:12] magiconair commented on #42
merged to master

[2017-06-28 14:03] pschultz commented on #274
Sorry about the commit noise.

@deuch Mind taking a look at #314?

[2017-06-29 01:48] csawyerYumaed commented on #306
# of connections and tx & rx would be good.

[2017-06-29 01:51] csawyerYumaed commented on #211
I'd love to see prom support, but in the meantime you should be able to work-around it with statsd in fabio and https://github.com/prometheus/statsd_exporter

[2017-06-29 07:18] magiconair commented on #283
I'm sorry but I still don't fully understand the problem you're trying to solve. Could you please try to explain it briefly again? Who is connecting to whom, with which protocol and what isn't working?

[2017-06-29 07:22] magiconair commented on #135
Yes, a PR would be welcome. Generated certs need to be cached for as long as they're valid (or TTL/2) since this method is called per connection. I assume the base path defines the root domain for which you can generate certs. I think that's fine but you should take into account use-cases for multiple domains.

[2017-06-29 08:18] kopax commented on #283
All my services are using consul service discovery, see [panteras](https://github.com/eBayClassifiedsGroup/PanteraS/#put-service-into-haproxy-tcp-load-balancer), they use TAGS to register services into LB.

HTTP and TCP

I tried to replace HA proxy with Fabio and it doesn't have all the requirements yet.

1. There is no dynamic listeners at the moment like in HA proxy.
1. The load balancer Fabio c

[2017-06-29 08:26] pschultz commented on #135
In the "pki-fabio/issue/example.com" path, "pki-fabio" represents a single CA, and "example.com" represents the constraints for issuing certs from that CA, such as allowed domains (what Vault calls a role).

[2017-06-29 09:15] magiconair commented on #306
I've added the metrics but the naming needs some more work since I'd like to add the protocol to the metrics name. Right now you get:

[code]

I've defined `rx` and `tx` as follows:

[code]

Also, in order to support #211 I finally need to address the metrics naming problem ...

Could you please have a look whether that works for you?

[2017-06-29 09:27] magiconair commented on #211
I need to wrap my head around on how to configure the naming and to expose the tags. The issue is that some metrics system want a single string as name which flattens all parts of the name into a single value. Others have a base name and other parts as a tag. What makes this a bit more complex is that some of the names are auto-generated and the pattern is configurable. So either this mechanism ne

[2017-06-29 09:42] magiconair commented on #135
The question is whether you want to allow one or all domains in the pki or whether you want to be able to restrict it to some (e.g. `foo.com` and `bar.com` but not `google.com` for example)

[2017-06-29 09:44] magiconair commented on #135
I don't know how to achieve that and whether that's something you can do within the vault config that fabio just has to send or whether there needs to be something to be done in fabio and/or whether we need to extend the config DSL. Just keep that in mind when creating the PR, please.

[2017-06-29 11:03] magiconair commented on #283
1. yes, no solution right now other than generating the config file using `consul-template` for example.
2. use a shell script or `consul-template` to determine that
3. using iptables and private ip addresses is like using belts and suspenders. When you use iptables to block all ports you can have fabio bind to `:port`. Otherwise, use `consul-template` for now.

So what I understand is that fabio

[2017-06-29 19:39] #274 closed

[2017-06-29 20:39] kopax commented on #283
We need to be able to `bind to interface` with at least a default interface. The possibility to do that using the ip address instead will block us in different use case. I will use it, please let me know if you decide do to it.

I will take your advice and implement the `consul-template` next, I though panteras was already taking care of that when using `START_FABIO=true` but after looking at the

[2017-06-30 08:33] magiconair commented on #283
Why can't you use a shell script to determine the ip address in the meantime as outlined here?

https://github.com/fabiolb/fabio/issues/283#issuecomment-299138617

This shouldn't be blocking.

[2017-06-30 10:25] kopax commented on #283
For keeping flexibility of configuration. I don't always have the same interface name used. Also, on some host I have up to 3 network interfaces.

[2017-06-30 11:26] hauleth commented on #308
@magiconair I am not familiar with Go and Fabio internals, so I am not quite sure what you are saying.

[2017-06-30 11:29] magiconair commented on #308
Ah, ok. I thought you could make a simple patch and rebuild it since I was in a hurry but wanted to give something to you to test. I'll provide a proper patch and instructions.

[2017-06-30 15:52] magiconair commented on #283
But if you run `./fabio -proxy.addr 'eth0:9999'` you have the same problem. I think what you need is https://github.com/hashicorp/go-sockaddr and the template language to find a private ip address. This is what we're using in consul.

[2017-06-30 15:58] kopax commented on #283
That work for me. I think I got all the advice I needed to try one more migration. I haven't play with `consul-template` yet, the one I am using has been made by sielaq.

Closing for now. Thanks you again.

[2017-06-30 15:58] #283 closed

[2017-07-01 09:43] tino commented on #166
Or how about fetching the basic auth credentials from Vault? Seems like a sensible place to put 'em.

[2017-07-02 18:14] csawyerYumaed commented on #166
or authenticate against vault auth directly. Then you can get LDAP or user/pass/etc auth "for free" as it were, without having to bring in all the LDAP libs directly into fabio.  Bonus would be getting assigned vault policies to decide if they have access or not.

[2017-07-03 09:32] pipozzz commented on #305
When do you plan to merge that fix to new release?
Thanks

[2017-07-03 10:39] magiconair commented on #305
Today or tomorrow. Is that soon enough?

[2017-07-03 10:40] pipozzz commented on #305
Great !!, I'm just asking

Thanks

[2017-07-04 18:57] spicykoala opened #316 "/api/routes intermittently returns null."
I have a case where upon multiple hits of "/api/routes", null is intermittently returned. I noticed this because we have a task setup to poll this endpoint to check for route changes, and it was coming back true at odd intervals - turns out the request was returning null intermittently which was presented as a change.

(This is testable in the browser/postman)

[2017-07-04 20:41] magiconair commented on #316
Since the routing table is atomically swapped I'd check the fabio logs if the routing table was temporarily empty. `null` shouldn't be able to happen (but I need to check the code to be certain)

[2017-07-05 08:10] jstoja opened #317 "Multiple urlprefix"
Hello,

Is there a reason why it's not possible to specify multiple urlprefix for a service?
We're trying to have services serving multiple REST ressources and I don't find how to implement this with fabio+registrator as shown in the documentation.
Looking at the code, it doesn't seem implemented.

[2017-07-05 08:10] magiconair commented on #317
Just provide multiple tags.

[2017-07-05 08:27] jstoja commented on #317
Indeed, already tried but the syntax wasn't good. Wasn't even linked to fabio!
For next people, you can specify multiple tags by splitting them with a comma:
`SERVICE_TAGS=urlprefix-/hello/ strip=hello, urlprefix-/world/`

[2017-07-05 08:27] #317 closed

[2017-07-05 08:36] magiconair commented on #317
I'm glad you've figured it out. Let me know if there are other things. :)

[2017-07-06 07:55] magiconair commented on #166
@csawyerYumaed That sounds like an interesting idea.

[2017-07-06 15:04] tomstaijen opened #318 "http: proxy error: context canceled"
With the latest couple of version, we get a lot of these errors:

fabio    | 2017/07/06 14:58:15 http: proxy error: context canceled
fabio    | 2017/07/06 14:58:16 http: proxy error: context canceled
fabio    | 2017/07/06 14:58:16 http: proxy error: context canceled
fabio    | 2017/07/06 14:58:16 http: proxy error: context canceled
fabio    | 2017/07/06 14:58:16 http: proxy error: context canceled

[2017-07-07 09:48] pipozzz commented on #305
Did you forget on this issue in new release?
I would like to use latest version of fabio, if possible.

[2017-07-07 10:24] magiconair commented on #305
Damn. Yes. I'll push a 1.5.2 soon. Might be early next week though.

[2017-07-07 10:25] pipozzz commented on #305
Thanks, it would help me a lot 👍

[2017-07-07 10:39] #305 closed

[2017-07-07 11:40] plkumar opened #319 "not able to acces the service via fabio."
Hi,

I'm new to Fabio and Consul, I'm able to successfully register service, and I could see the service listed on Fabio GUI, but I'm not able to access the service. I always receive 404.

Log:
+++++++++++++++++++++
[code]

[2017-07-07 11:43] plkumar commented on #319
![screenshot](https://user-images.githubusercontent.com/462615/27956457-8bb710ce-6337-11e7-8739-64283e2149ff.png)

[2017-07-07 11:48] magiconair commented on #319
This is your problem:

[code]

You register a route for `plk.me/dataservice/values` but access it as `plk.me:9999/dataservice/values` which does not match.

[2017-07-07 12:23] plkumar commented on #319
I changed the tags and updated the source, but I'm still seeing 404.

![screenshot](https://user-images.githubusercontent.com/462615/27957665-112fb12a-633d-11e7-86b1-0defb2b53fec.png)

What am i doing wrong here.

[2017-07-07 12:34] magiconair commented on #319
What does the log say now? You can also try this:

https://github.com/fabiolb/fabio/wiki/Features#request-tracing

[2017-07-07 12:38] plkumar commented on #319
here is how the trace looks.

$ curl -v -H 'Trace: abc' -H 'Host: plk.me' 'http://plk.me:9999/dataservice/values'
* timeout on name lookup is not supported
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to plk.me (127.0.0.1) port 9999 (#0)

< HTTP/1.1 404 Not Found
< Date: Fri, 07 Jul 2017 12:37:25 GMT
< Content-Length: 0
< Content-Type: text/plain; charset=utf-8
<
* Curl_http_done: called

[2017-07-07 12:39] plkumar commented on #319
BTW, with the url "http://plk.me:9999/dataservice/values" nothing is being logged in the Fabio log, does it mean the routing is working, but i still see 404.

but if i access the service directly, it is working.

[2017-07-07 14:19] plkumar commented on #319
i found the, issue, it is something to do with my ASP.NET WebApi routing, fixed it.

Thanks
Lakshman

[2017-07-07 14:19] #319 closed

[2017-07-09 03:38] magiconair commented on #319
Glad you've found it :) Let me know if there are other issues.

[2017-07-12 12:56] mafonso commented on #168
I'm looking at fabio to replace a consul aware openresty setup.
I would love to have the ability to inject headers (static at least) in order to be able to replace my custom gateway.  Similar use cases as described above. CORS handling included.

[2017-07-13 01:41] magiconair commented on #168
I need to think a bit on how to express that since I think I've moved myself somewhat into a corner with the config language. For example, should the header definition be part of the `opts` (which leads to quoting issues) or separate?

[code]

How should I translate this from the `urlprefix-` tag which assumes every `key=val` pair after the path is part of `opts`?

[code]

[2017-07-13 06:45] tino commented on #168
What about a second tag?

`headers-/foo hdr="x-foo: bar" hdr="del x-foo" hdr="add x-foo: baz"`

[2017-07-14 09:18] hamann commented on #129
Any concerns about detecting SSE by response instead of request headers, like when the server is sending "Content-Type: text/event-stream"? Afaik you can't set accept headers in browsers without js.

[2017-07-14 13:02] magiconair commented on #129
@hamann Since the only difference in behavior is the `FlushInterval` to be non-zero I fail to see how this would work?

https://github.com/fabiolb/fabio/blob/master/proxy/http_proxy.go#L133-L139

When the response comes back I can inspect the headers but then the request is handled and the response is returned. Furthermore, if the `FlushInterval` is not set then you may have to wait for the full r

[2017-07-17 09:30] hamann commented on #129
Ok, thanks for clarification. I asked, because we have a resource which we open in the browser (without any js or html at all) and get server-sent events (like content from log files). That stopped working as we switched from haproxy to fabio, but I guess it should be solveable with a few lines of js.

[2017-07-18 09:46] simonsparks opened #320 "FATAL error when metrics cannot be delivered"
In our deployment scenario, Fabio is configured to deliver metrics to a remote StatsD collector.
When the infrastructure is provisioned, Fabio and other core services are started before the StatsD service so there is a period of time when metrics would not be collected.

The problem we found is that, if Fabio can't find the StatsD endpoint on startup, it logs a fatal error and exits. Presumably th

[2017-07-18 10:20] simonsparks commented on #320
Looks like this is due to the domain name resolution failing when the `Registry` is created, and the same pattern applies to other metrics implementations:

[code]

Because we use consul as the dns for our StatsD service, the address is unresolvable until the service has started and registered. Perhaps a configuration option to postpone / retry address resolution would be helpful.

[2017-07-20 21:50] codekoala commented on #88
I could definitely use the option to select ``Address`` over ``ServiceAddress``. I'm trying to use nomad to run some services, and it currently doesn't seem to expose a way to specify ``ServiceAddress`` (because nomad decides where to run each service). I'd be happy to learn that I'm mistaken if that's the case.

Anyway, for my use case, ``Address`` is the server's private IP address and ``Service

[2017-07-25 08:34] GeorgeYuen opened #322 "access logging is not right"
LOG_ACCESS_FORMAT=fabio|$remote_host|$request_method|$response_time_ns|$response_status|$response_body_size|$request_uri

then i get
fabio|192.168.193.7|GET|0.002534327|200|-1|/trading-service/api/v1/orders

response_body_size always -1

[2017-07-25 08:57] magiconair commented on #322
Which version are you running?

[2017-07-25 09:01] magiconair commented on #322
Also, can you please post a response from this endpoint. I'd need to see the headers. My guess is that there is no `Content-Length` header.

[2017-07-25 09:03] GeorgeYuen commented on #322
I use docker magiconair/fabio:1.5.2-go1.8.3

register a spring boot project in fabio

2017-07-25 16:59:17:fabio|192.168.15.49|GET|0.002851322|200|-1|/doctor-kb/health

[2017-07-25 09:04] GeorgeYuen commented on #322
result

[code]

[code]

[2017-07-25 09:08] GeorgeYuen commented on #322
yes the api don't have Content-Length header.

[2017-07-25 09:13] magiconair commented on #320
@simonsparks Indeed. Fabio waits for consul but not the metrics. I've hijacked the registry retry config parameters and made this more robust. Could you check whether that solves your issue?

[2017-07-25 09:21] magiconair commented on #312
The only thing we ever did to tune memory usage was to reduce `runtime.gogc` to have more collections. Smaller number (e.g. 100) usually equal more collections, higher numbers less collections. The default value is tuned for throughput of short-living connections.

If you terminate TLS or have lots of long-running connections w/o timeout you may see increased memory usage. Also, there was a memory

[2017-07-25 09:23] magiconair commented on #306
@InformatiQ and @csawyerYumaed are you still interested in this?

[2017-07-25 09:24] #322 closed

[2017-07-25 12:57] csawyerYumaed commented on #306
Hi sorry, I somehow missed this back when.  This looks fine for me.  We can group by server.__1234__.* to count total traffic in/out.  Thanks!

[2017-07-25 15:31] giskou opened #323 "Support different base path for UI/API"
It would be nice to be able change the base path of the UI/API so that it can be served behind a proxy,
or even like this (fabio proxying itself):
`+ route add proxy /proxy http://192.168.1.1:9998/ tags "registrator" opts "strip=/proxy"`
without redirecting to /routes

[2017-07-25 15:37] manos commented on #135
🍿 watching with excitement. Happy to help test.

[2017-07-25 15:39] manos commented on #135
Regarding the authorization of the domain, I don't think fabio needs to be involved. If someone asks for foo.company.com and vault allows that cert to be fetched, fabio can serve the cert it fetches (and cache it). If vault doesn't allow it, fabio can serve a default cert or throw an error?

[2017-07-25 17:39] bharendt opened #324 "Unbuffered chunked streaming"
Unbuffered chunked streaming

_Fabio_ uses the _go_ [`ReverseProxy`](https://github.com/golang/go/blob/master/src/net/http/httputil/reverseproxy.go#L28) which buffers the outgoing response to the client.

It uses a [`ResponseWriter`](https://github.com/golang/go/blob/a48998beb571ce03650da75326a052991134e5ca/src/net/http/server.go#L90) with a [buffered writer](https://github.com/golang/go/blob/a489

[2017-07-25 18:56] pschultz commented on #135
That's exactly what the PR currently implements. If a cert cannot be issued fabio drops the request. There is no default cert because strictmatch is implied with the vault-pki source.

[2017-07-25 20:41] magiconair commented on #323
That shouldn't be too difficult.

[2017-07-25 20:53] magiconair commented on #324
That sounds interesting and there was https://github.com/fabiolb/fabio/issues/129#issuecomment-315313167 which seems related. It was always kind of clear that forking the reverse proxy would eventually happen but I'm glad that for the most part I didn't have to.

So my suggestion would be this:

* Please send a PR but make using the streamed proxy configurable. If the streaming proxy is a drop-in

[2017-07-26 03:24] GeorgeYuen opened #325 "Transfer-Encoding support"
if httpResponse do not have Content-Length header and Transfer-Encoding header is chunked
then response_body_size will be -1.
is this a bug or deliberate？

[2017-08-01 01:02] discobean opened #326 "Send metrics to cloudwatch"
It would be great to be able to have a plugin that sends metrics to AWS cloudwatch per endpoint

[2017-08-01 15:43] drawks commented on #207
I'm still seeing this problem in a recent build.

[2017-08-01 15:50] drawks opened #327 "Statsd output is not good"
Aside from the actual broken protocol packets in #207 the implementation of instrumentation with statsd in this project is just really bad. Exporting gauges of pre-aggregated metrics is a serious anti-pattern to typical/normal statsd instrumentation best practices. I'm curious if there is some specific reason why this model was adopted. Is there any appetite for re-instrumenting in a more standard

[2017-08-01 16:21] magiconair commented on #327
You could ask the original committer of the approach or provide a better way of doing this. However, before you do this I'd like to understand what "really bad" means in this context. So far nobody has complained about it and aside from the one bug it seems to have been working for people. I usually prefer a fact based approach on discussions and I'm curious which problems the current implementati

[2017-08-01 16:22] magiconair commented on #207
@drawks Which one?

[2017-08-01 16:24] drawks commented on #207
statsd metrics being emitted with a type of "gf"

[2017-08-01 16:38] drawks commented on #327
statsd is a stats aggregator a typical pattern for using statsd is to emit events on instrumented code paths and allow the statsd implementation handle the aggregation. For example emit a counter event when a code path is hit and then allow for statsd to flush that counter at a configurable interval so you get roll up aggregates in hits per time unit where time unit is a property of the statsd ser

[2017-08-02 05:02] discobean commented on #327
Using raw metrics when sending to statsd would certainly make life simpler

[2017-08-02 14:56] magiconair commented on #327
Can you provide a specific example? Which metric, what is the current format, what is the desired format? Please keep in mind that I'm not a statsd expert and that you may have to explain more to me than to people already familiar with the matter.

[2017-08-02 17:45] drawks commented on #327
I'm not sure I can give a better explanation without just writing an example PR. but....

Within the fabio code you've got the notion of a `Registry` interface that has a few functions to service counters and timers. In order to implement a more normally functioning statsd client each call to `Registry.Counter.Inc(n)` would emit a single statsd udp packet destined for a statsd server and likewise

[2017-08-03 04:19] discobean commented on #327
I have found a few key points that are frustrating us:

1. The metrics for count are absolute count received since the process started
2. I actually have no idea what min/max/mean/std-dev/50-percentile etc actually show
3. The metrics for one-minute, five-minute are not correct

I'll elaborate on 2 and 3:

### min/max/mean/std-dev/50-percentile:
As a test I have pushed through some data to fabio a

[2017-08-03 16:19] drawks commented on #327
I've issued a quick PR which demonstrates how a simple raw statsd sink can be implemented which doesn't do any internal aggregation and fits more directly into the ~~intended~~ typical statsd instrumentation model. This PR probably isn't appropriate to merge as written, but builds and works as intended in some limited local testing.

[2017-08-03 16:29] drawks commented on #211
Any progress on updating the internal Registry api to support labels? It would be a boon to both prometheus support as well as datadog style statsd+labels and others.

IMHO, part of the solution could be as simple as passing into the Registry's update functions a context object which contains the same information that is currently being used to flatten out into a name. And leave it up to the Regis

[2017-08-03 21:25] bogdanov1609 commented on #115
The feature will be very useful for us too!

[2017-08-04 16:04] leprechau commented on #115
We're currently doing something very similar with consul-template and HAProxy.  We let consul-template loop over all services in all DCs and enumerate them all as `server` lines under `backend` sections.  The services that are pulled from DCs *NOT* matching the local DC are added as `backup` under the backend block.  This is in effect a combination of a few of the above suggestions listing all ser

[2017-08-06 06:24] magiconair commented on #327
Sorry for the delay but I'm on vacation with the family.

The key point here is that you want to send an event to statsd when it happens and want to do the aggregation yourself. So far I've relied on go-metrics to do The Right Thing (™) but I recall some discussions around integrating the circonus support that the histograms in go-metrics aren't that useful. Mostly because they're a port of the co

[2017-08-06 10:20] magiconair commented on #327
@drawks I think your PR would be good enough for an experimental inclusion. Don't you need to add newlines between multiple metrics?

The downside of metrics that are not pre-aggregated is that the API will no longer provide these values. If you are using this provider you probably don't care about that.

However, integrating one of the libraries you suggested was simple enough that I've tried tha

[2017-08-06 13:16] maier commented on #327
Similar situation to the one we faced with the Circonus integration. The receiving system (Circonus, StatsD, etc.) need the individual samples for metrics not a single value from the registry.

[2017-08-06 21:07] magiconair commented on #327
I think a better solution is to remove the `Counter` and `Timer` structs from my metrics package and add `Count` and `Time` methods to the registry directly. Then every driver can choose whether or not to aggregate. That might also be a good path to supporting tags.

[2017-08-07 10:17] danielmotaleite commented on #312
` 6191 root       20   0 15.4G  9.9G  5352 S  3.2 15.8     0     0 26h34:23 /usr/local/bin/fabio -cfg /etc/fabio.conf`

10GB of ram! but i'm using 1.5.0, i will upgrade to 1.5.2 to see how much it will help

[2017-08-07 18:54] manos commented on #75
+1
I'm trying to add a route for /favicon.ico -> www.domain.com/ and www.domain.com is fronted by cloudfront. If it doesn't get Host: www.domain.com, it can't serve favicon.ico for me.

Perhaps a workable solution here would be adding opts "host=www.example.com" to the route -- if it supported that :)

[2017-08-08 08:21] magiconair commented on #312
@danielmotaleite the typical solution to this problem is to tune the `runtime.gogc` parameter to your use case. See the previous comment on how to address this. There was a memory leak in the TCP proxy which was addressed in #321 and is in 1.5.2. If you're using the TCP proxy then this might affect you.

[2017-08-08 13:23] danielmotaleite commented on #312
After the upgrade and more that 24h later:
fabio    26033  4.8  0.1  96852 68932 ?        Ssl  Aug07  67:45 /usr/local/bin/fabio -cfg /etc/fabio.conf

much better... so yes, the memory leak in 1.5.x <1.5.2 was big, but it's now fixed!  :)

[2017-08-08 23:28] manos opened #330 "Strip option has no effect for websockets"
Hello!

I've just had a fun debugging session, and discovered:
When I have a service configured with `strip=/foo`, and it upgrades the connection, fabio is hitting the backend at `/foo` instead of `/`.

I was going to paste some tcpdump showing this, but it's just a verbose way of saying what I've said above :)

Running fabio 1.5.2.

Here are the headers fabio sent with the outbound request to the

[2017-08-09 07:24] magiconair commented on #330
That's no fun. I'm looking.

[2017-08-09 09:37] magiconair commented on #330
@manos Good catch and sorry for the trouble. The ws proxy was only using the `Host` part of the URL which made not obvious that I had to modify the request URL as well. It was literally a one line fix :)

I'll address the logging separately.

[2017-08-09 13:13] manos commented on #330
Amazing turnaround time, thanks @magiconair  :)

[2017-08-11 00:06] drawks commented on #306
Hrm, I wonder if this is also the cause for no routing metrics for https routes? I've been doing a bunch of poking at the metrics code for fabio and today noticed that I get *no* metrics for https...

I've not really looked at the route/proxy code before, but I had presumed the https code path was similar/same as the http one.

[2017-08-11 18:47] mqasim1983 opened #333 "Routing Based On GET, PUT, POST, and DELETE"
Hi,

This is a feature request for routing traffic based on GET, PUT, POST, and DELETE.

Thanks

I am running Fabio in production and staging env and it works awesome, keep up the good work.

[2017-08-11 19:28] magiconair commented on #333
I think this is a duplicate of #247.

I'm glad you like it and that it works for you. I'll do my best.

[2017-08-11 19:40] #306 closed

[2017-08-11 19:43] mqasim1983 commented on #333
Thanks a lot.

[2017-08-16 13:04] avarabyeu commented on #87
Not sure if it's right place to ask the question, but how can i configure redirect from http to https? Is that possible at all?

[2017-08-16 15:15] magiconair commented on #87
@avarabyeu It is the right place and right now this isn't possible, unfortunately.

[2017-08-16 19:49] manos commented on #75
@magiconair does the above comment make sense?

[2017-08-17 13:04] sielaq commented on #272
any news ?

[2017-08-21 06:07] discobean commented on #87
Considering the web is moving to https by default, adding a default redirect to https would make migrating 10s or 100s of microservices behind fabio much easier.

We'd love this feature very much :)

[2017-08-21 14:46] Crypto89 opened #336 "TCP Proxy closes connection prematurely"
There seems to be an issue with the tcp proxy, in the particular case that a client sends a “burst” of packages and immediately following a `FIN` after the request. at that point fabio closes the connection and the response is lost.

I think I tracked it down to https://github.com/fabiolb/fabio/blob/master/proxy/tcp/tcp_proxy.go#L73 it looks like the `FIN` triggers and EOF in fabio and then the co

[2017-08-23 14:32] freeman opened #337 "IP Filtering"
We'd love to be able to use the IP of the initiator of a request (either the direct TCP one or one derived from upstream proxies via `X-Forwarded-For` or `X-Real-Ip`) to filter/block/route requests to a service.

Is this something that would fit in fabio ?

Thanks,

[2017-08-24 11:17] akissa opened #338 "Fabio adds routes for TCP proxy even when consul health checks are failing"
I have 3 postgresql servers in a cluster, only one is in write mode at a time. The service and checks for each node are registered in consul. The active node passes all checks and is green and logs as passing. The two other nodes fail checks with orange in the consul ui and log failure of the checks.

Even with the above, fabio adds routes to all the 3 servers when it should only have a route to t

[2017-08-24 13:03] magiconair commented on #338
That shouldn't be the case. I'll have a look. Do you have unique service ids?

[2017-08-24 14:34] akissa commented on #338
Yes the service ids and names are unique, the are based on <service>-<hostname>

[2017-08-24 18:26] magiconair commented on #338
This code filters out services which are not passing before doing anything else and this is AFAICT protocol agnostic:

https://github.com/fabiolb/fabio/blob/master/registry/consul/passing.go#L13-L49

Can you provide the output of `curl 'localhost:8500/v1/health/state/any?consistent&pretty'`?

[2017-08-25 07:15] akissa commented on #338
The output is below. I think it happens when a service has more than one check. I tried it with just the one check and it was working okay. With the two checks per service as below it adds the route even when 1 of the checks is critical.

Consul

[code]

Fabio

[code]

[2017-08-25 08:33] akissa opened #339 "[Feature request]: Unix socket support for TCP proxy"
It would be great to have UNIX socket support for TCP proxying.

[2017-08-25 09:42] magiconair commented on #338
@akissa Thx. This area of the code could indeed use some more tests. I'll have a look next week if that's OK. This is my last day of vacation.

[2017-08-25 11:19] akissa commented on #338
No problem, i have actually refactored my workflow to remove the services of the slaves and only add the master so its okay. That way i do not have to deal with the logs filling up with service check errors for the slave systems.

On failover the demoted master gets removed and the promoted one inserted.

The fix would come in handy though for other scenarios where you are actually load balancing

[2017-08-27 19:51] lord2800 opened #340 "FastCGI support?"
I'd love to be able to proxy directly to a fastcgi server (notably: php). Is that possible? If not, would it be something you'd accept in a pull request?

[2017-08-28 15:49] SachinMule opened #341 "Glob Matcher is not working for me"
I am using Glob matcher, but it does not seem to be working for me.
Below is the Fabio logs. You can see that it is adding route for `/s0*`and it is configured to use glob matcher.
When i access `/s0/v1/call` it says `No route for 10.5.6.103:9999/s0/v1/call`

Following is the docker command i used to start fabio:
` docker run -d --name fabio --net mydockernetwork --ip 172.20.0.6 -p 9999:9999 -p 99

[2017-08-29 08:50] snh commented on #341
I believe that `*` will only match non `/` characters, as fabio is using the [`Path.Match` function](https://golang.org/pkg/path/#Match) for the matcher, which like most glob implementations doesn't match the `/` path separator character:

https://github.com/fabiolb/fabio/blob/bc264cdc09364b888324046f2cbd659e3d4172e7/route/matcher.go#L26

Therefore `/s0/v1/call` won't match the glob pattern `/s0*`

[2017-08-29 09:57] SachinMule commented on #341
Thanks a lot for the info @snh.

[2017-08-29 09:57] #341 closed

[2017-08-29 17:17] tomstaijen commented on #336
Does that result in a "http: proxy error: context canceled" in the fabio output?

[2017-08-30 09:12] i4s-pserrano opened #342 "Cant disable consul register with -registry.consul.register.enabled=false"
Running fabio to use in nomad with consul, I wish to use nomad to register service, but if put **false** to -registry.consul.register.enabled, continue trying to register

[code]

see logs

[code]

[2017-08-30 09:34] snh commented on #342
[code]

This error appears to indicate that fabio was unable to connect to the local consul agent. Is there a consul agent running locally?

As you can see from the following output, even with registration disabled, fabio will still connect to consul to obtain routes and whatnot:

[code]

If you don't wish to use consul as the backend, then you will need to select a different backend using `-regis

[2017-08-30 10:12] i4s-pserrano commented on #342
is not a issue! We found the problem. We have consul with tls at other port, exist any way to present a valid cert to auth to consul with tls

[2017-08-30 10:34] magiconair commented on #342
@i4s-pserrano @snh is correct. That flag only prevents fabio from registering itself in consul as a service but it still uses consul to get the routing table.

[2017-08-30 10:34] #342 closed

[2017-08-30 10:36] magiconair commented on #336
@tomstaijen I doubt that since the tcp proxy is not using the http package.

@Crypto89 I have an idea on how to address this. There is a way to handle half-closed connections in Go.

[2017-08-30 10:42] magiconair commented on #339
Something like this?

[code]

I'm wondering whether this would be useful for HTTP, too?

[2017-08-30 10:50] tomtakan commented on #339
Yes that is correct. I do not see a use case for HTTP though.

[2017-08-30 10:51] magiconair commented on #337
@freeman This has been discussed before in the context of rate limiting and I'd like to add something like that. The main issue was on where to store the list of addresses while handling the high volatility of the data w/o overwhelming the consul server and raft updates.

However, for static black lists consul could be sufficient since this would assume that some other process would maintain and u

[2017-08-30 10:53] akissa commented on #339
Exactly, my use case is for postgresql failover. The unix socket cuts down on the tcp connection setup cost.

[2017-08-30 11:00] magiconair commented on #87
I'm wondering how we could express this in the syntax. The route command could look like this:

[code]

but the `urlprefix-` tag becomes increasingly useless here.

[2017-08-30 11:01] magiconair commented on #272
@sielaq I'm falling a bit behind :( I'll try to catch up on open issues ...

[2017-08-30 11:02] magiconair commented on #75
Hi @manos , sorry for the delay. I was on vacation for a couple of weeks and I'm catching up now. I think what you're suggesting makes sense.

[2017-08-30 16:51] smalot opened #343 "Performance when loading huge route file"
Hi,

Loading a 100'000 routes file consume very many ressources.
In fact, loading the file itself seems to be very fast (5 to 10 secondes regarding logs), but post-process seems to index data and parse it and is really long (more than 1 minute).

But once done, any request is quickly (as usual) handled.

Is there workaround or optimization task planned ?

Many thanks

[2017-08-30 16:59] smalot commented on #343
In fact, in terms of routes, we need to handle in a near future up to 2 million rules (may be more).
This is due to a huge amount of domain names.

Fabio seems to be the more efficient tool to handle our needs.
But there are 3 main limitations:

- The route file is really long to be parsed
- Consul can't store more than 512 K of data
- There isn't any API to dynamically update routes without using

[2017-09-02 19:44] magiconair commented on #343
I didn't consider 2M routes a viable use case but I'm more than happy to make this a reality. What a showcase!

You are correct in that fabio cannot handle this dynamically right now because of the consul limitation which is not going to be lifted or made configurable any time soon. We get this request regularly.

However, in addition of being a data source consul is the single source of truth and

[2017-09-02 19:46] magiconair commented on #343
Also, how many targets do you have per domain? Is it 2M domains or 2M route entries?

[2017-09-05 21:30] danlsgiga opened #345 "Ways to have log verbosity"
Hi, I couldn't find a way to control the log verbosity. Looks like it's using INFO by default and I'd like to have WARN as the base level but also the option to have ERROR or DEBUG would be awesome.

Is this in the roadmap or if it does exist where can I find its documentation?

[2017-09-06 07:12] magiconair commented on #345
@danlsgiga Why do you want to dial it down? There is no DEBUG log and fabio shouldn't log that much. If it does then this usually points to something in your setup: a flapping health check or a check with volatile output like a timestamp for example. You'd want the INFO level since it logs how fabio is started including the runtime configuration.

[2017-09-06 14:59] danlsgiga commented on #345
Hey @magiconair, thanks for the quick follow up.

So, I'm getting lots of log entries with:

`2017/09/06 14:45:07 [INFO] consul: Health changed to #10372843`

I understand fabio should not be logging that much but it is and as you mentioned, how can I understand the above log message without more details? These details would usually be provided by a lower log level like DEBUG or in the worst cases

[2017-09-07 06:12] magiconair commented on #345
Hi @danlsgiga,

The message should probably read `consul: Raft index changed to #10372843` which explains its true nature. The reason I'm logging those as INFO is that a high rate of these messages points a problem in your consul setup because you are generating lots of writes on the consul master. This can either be caused by flapping health checks or health checks which have volatile output like

[2017-09-07 08:48] favoretti commented on #312
We set gogc to 100 and memory remains relatively under control. That said, maybe the default of 800 is a bit too royal?

[2017-09-07 13:33] magiconair commented on #312
The `800` value worked well for go1.4 and go1.5 for non-TLS connections and lots of short-lived requests. Might be time to run another test suite.

[2017-09-07 13:34] #312 closed

[2017-09-07 14:10] multipathmaster opened #346 "Possibility for Docker Image to pass Consul IP and Port as Variable?"
Would be awesome if the container that is built doesn't default to 127.0.0.1:8500, as within a larger environment, chances are, localhost 8500 is already bound on the consul agents as well as various things bound to nomad.  It would be rad if it could run like `docker run -it -e CONSUL_IP="IP" -e CONSUL_PORT="PORT" fabiolb/fabio` .  which then would allow user to specify the address themselves (i.

[2017-09-07 17:02] danlsgiga commented on #345
Hi @magiconair, thanks for the great insight! I'll surely look into my consul environment and check what is causing so much flaping on the health checks.

Really appreciated for the effort on making fabio even more awesome!

So, if the runtime config is being dumped into the logs and this is being centralized in our environment... having the consul IP address and the token there is pretty much giv

[2017-09-07 19:42] magiconair commented on #346
`docker run -it -e registry_consul_addr=host:port fabiolb/fabio` should do the trick. Also, pls don't run consul behind an LB :)

[2017-09-07 19:43] magiconair commented on #345
If I obfuscate the token the consul ip becomes somewhat useless, doesn't it?

[2017-09-07 20:03] multipathmaster commented on #346
Magiconair, GRATSI AMIGO!!!!  -- MM

[2017-09-07 20:39] danlsgiga commented on #345
IMHO, not in the scenario where someone uses consul in a acl_default_policy = "allow" setup.
My position towards this is that dumping any configuration (even the ones with no secrets) should be seen as bad practice and discouraged. Configuration should never be dumped into logs for the same reasons StackTraces should never be exposed to users. Simply because it may or may not contain sensitive dat

[2017-09-08 12:36] multipathmaster commented on #346
I'm going to go ahead and close this issue, Magiconair, know you are a busy dude, thank you again for the information!

[2017-09-08 12:36] #346 closed

[2017-09-08 12:41] magiconair commented on #346
no worries. Let me know if you have more questions

[2017-09-08 13:43] SoMuchToGrok commented on #286
@magiconair I'd definitely be in favor of this functionality. I'm currently working towards securing my entire infrastructure with end to end TLS. I use Vault's PKI backend to generate an x509 server certificate for Fabio itself.

The server certificate is used for:
- Fabio routing to itself (UI)
- Consul health checks against Fabio

This certificate has a short TTL of 30 days, so it gets rotated

[2017-09-08 14:11] magiconair commented on #286
@SoMuchToGrok so in essence you want to refresh a cert after 50% of its TTL, right? Cert stores already provide a mechanism to reload certs on the fly. I could make that logic more flexible. What I'd like to avoid is to provide the sense of reloadable config in general since so far I'd like to see some more examples of where this is necessary.

[2017-09-08 14:22] SoMuchToGrok commented on #286
Yeah, precisely. I definitely understand your rationale around general config reloading.

I can open another issue to get discussion going around this specific use-case. Any objections?

[2017-09-08 15:23] #303 closed

[2017-09-08 20:23] devendram opened #347 "%20 in route is causing route mismatch, regression in 1.5.2 , works with 1.3.7"
our route with % in it used to work fine with 1.3.7 . After upgrading to 1.5.2 we are hitting issue with such routes . Please see following from fabio log

log
2017/09/08 12:44:17 [WARN] No route for localhost/run/before/test%201

route exists
host	    localhost/run/before/test%201	http://127.0.0.1:22275/		100.00%

Tcpdump with fabio 1.3.7
=================

GET /run/before/test%201 HTTP/1.1
Host:

[2017-09-08 20:56] magiconair commented on #347
Is the `%20` part of the route or the request?

[code]

[2017-09-08 20:57] magiconair commented on #347
Another difference is fabio 1.3.7 was built with go1.7.5 and fabio 1.5.2 is built with go1.8.3. Could be something in the go http package but I'm looking.

[2017-09-08 21:30] magiconair commented on #347
nvm, I've found it. This is a consequence of #219 which uses `req.URL.Path` instead of `req.RequestURI` for the lookup. The first one is parsed whereas the other one isn't. Since you can encode a space in two ways in a URL (`%20` and `+`) I think the new way is the correct one but then the entries in the routing table need to be URL decoded. I need to think about this a bit. Is there something you

[2017-09-08 21:49] magiconair commented on #286
@SoMuchToGrok please :)

[2017-09-09 22:24] pims opened #348 "Can't start Fabio on loopback IP"
Hi,

This might be an edge case and not relevant for many people but I ran into the following issue:

[code]

Context: I was working *offline* with wifi turned off starting fabio as a nomad job. The job kept failing with no logging explaining why it failed to start. Running fabio manually outside of nomad printed the logs pasted above and led me to understand why it failed to start.

In `register.

[2017-09-11 09:24] jefflequeux opened #349 "Kerberos Fails"
I can't make Kerberos working, since there is no sticky or persistance, there is no way to make kerberos working: when using Round-robin distribution, Kerberos authentication goes to the wrong server.

Is there a way to make it work?

[2017-09-11 11:06] magiconair commented on #349
Sticky load balancing isn't supported right now. I assume you're using TCP?

[2017-09-11 11:09] jefflequeux commented on #349
No, I'am using HTTP.

[2017-09-11 18:40] jshaw86 commented on #347
@magiconair we upgraded to 1.5.2 for better TLS+SNI support which we need for one of our backend microservices(SOC Compliance).

[2017-09-12 11:00] jaxim opened #350 "statsd - unable to parse line - gf metric"
Hi,

I am using v1.5.2 of the binary (fabio-1.5.2-go1.9-linux_amd64) I have configured fabio for statsd. I am getting the following message:

`statsd plugin: Unable to parse line: "my-test-host-0.fabio--requests.mean:0.00|gf"`

I noticed though that a commit has been done to change the metric from gf to g:
https://github.com/magiconair/go-metrics-statsd/commit/6f7a999fba713426930c960ab26f4bd888c41

[2017-09-12 11:57] sielaq opened #351 "hgfiii"

[2017-09-12 11:58] #351 closed

[2017-09-12 12:29] magiconair commented on #351
👍

[2017-09-12 21:16] jshaw86 commented on #347
@magiconair any idea on effort on this? We are trying to decide whether or not to invest our resources into this issue or not.

[2017-09-12 21:30] magiconair commented on #347
How urgent is this since a) I'm sick right now and b) need to get something ready for HashiConf next week. Can this wait a couple of days?

[2017-09-12 23:22] jshaw86 commented on #347
@magiconair not urgent enough to warrant doing sick. I'll personally take a look at it in my free time and send a patch if I can solve it until you can get around to it. A few days is fine. Tell alex at hashi Jordan at PubNub says Hi. :)

[2017-09-13 00:58] Smithx10 opened #352 "Traffic Shaping at instance registration"
I believe that Fabio should be able to apply weight's of a service during registration without declaring a override.

For example
[code]
Would result in this instance having %5 traffic routed to it because *weight-*$(myWeight) was specified.  I believe this will make it easier for users to perform Blue / Green Deployments.

[2017-09-13 07:04] magiconair commented on #347
@jshaw86 will do :)

[2017-09-13 07:10] magiconair commented on #352
`urlprefix-example.com weight=0.05` should do the trick. I probably need to update the docs.

[2017-09-13 09:54] Smithx10 commented on #352
@magiconair Is that 1 tag space separated?

[code]

Like this?

[2017-09-13 10:04] Smithx10 commented on #352
@magiconair,

I just confirmed that this works.  Are there more things I can set via tags at registration?

You can close this :)

[2017-09-13 10:12] Smithx10 commented on #352
@magiconair
Is there a way to view the version tag in the UI for each service?

The following image displays 0.05 for version 1.0.1 and 0.15 for version 1.0.2 .  I'd like to be able to identify that... I'm assuming there is something I'm missing?

<img width="1184" alt="screen shot 2017-09-13 at 11 09 22" src="https://user-images.githubusercontent.com/12032554/30372015-564b7b24-9874-11e7-9549-178f

[2017-09-14 11:01] jorgemarey commented on #205
Hi, I've seen this exact same behaviour on my cluster. Just to throw some ideas, I've been debugging and found that is nomad the one causing this.

The check that is performed on nomad is on /v1/agent/servers which outputs the servers of the cluster.

The problem is that this array is not ordered and changes randomly on each request, so when there's more than one the check becomes the one causing

[2017-09-14 13:35] magiconair commented on #205
@jorgemarey I'll ping them as well. Thx.

[2017-09-14 19:20] dadgar commented on #205
This PR should fix the issue: https://github.com/hashicorp/nomad/pull/3214

[2017-09-16 12:14] akissa opened #353 "[Feature request]: TCP Proxy support different incoming and outbound ports"
It would be nice to support binding to port 5432 and forwarding to a different port say 6432 upstream instead of the one to one mapping currently in use.

[2017-09-16 12:41] akissa commented on #353
Actually this can be done via tags, sorry about the noise

[2017-09-16 12:41] #353 closed

[2017-09-17 00:39] james-andrewsmith opened #354 "Q: Support for sending Access Logs to Syslog"
Use case: currently using a syslog socket with a local server to process and send all our nginx error and access logs to Kibana/ElasticSearch (obviously with scheduled batching and retries etc)

It would be great if fabio could be configured to do the same?

[2017-09-18 07:16] ujenmr commented on #253
as workaround you can use telegraf's statsd input plugin
telegraf.conf
[code]

fabio.properties:
[code]

[2017-09-19 12:19] SoMuchToGrok opened #355 "[feature] Support graceful reloads of file certificate stores"
I'm currently working towards securing my entire infrastructure with end to end TLS. I use Vault's PKI backend to generate an x509 server certificate for Fabio itself.

The server certificate is used for:
- Fabio routing to itself (UI)
- Consul health checks against Fabio

This certificate has a short TTL of 30 days, so it gets rotated at the mid-way point (15 days) by consul-template. When this c

[2017-09-19 13:36] BSick7 opened #356 "[feature]: proxy route option"
I am willing to build this PR, but I want to make sure it will be accepted before I start the effort.

We currently have a private and public fabio with the intention of protecting private endpoints from the public.  However, we want to be able to easily proxy a path on a public endpoint to the private fabio.  For instance, this would allow us to proxy `/api` on a public facing UI container to an

[2017-09-19 15:10] lbrucher commented on #356
Similar need here.
Building a "maintenance mode" feature where I'd like to re-route traffic going to serviceA to another service (serviceB for instance).
Would have liked to simply add a manual route like this:
`route add serviceA serviceA.domain.com/ http://serviceB.domain.com weight 1 opts "proxy=true"`

The "proxy=true" would in fact rewrite the Host HTTP header to "serviceB" otherwise we'd end

[2017-09-20 06:41] discobean opened #357 "[feature] replay flag"
It would be great to be able to set a `replay=true` flag to the route.  This would let us be able to test a deployment as if it were receiving production traffic, but dropping any response to the user.

For example:

1. Send traffic to any regular routes as usual, send the response of this to the user
2. Send another copy of the traffic to an endpoint with replay=true, and drop any response

[2017-09-20 06:56] magiconair commented on #357
Would you be willing to submit a PR?

[2017-09-21 08:43] krjensen commented on #75
+1
This is needed if you are using microsoft IIS and route based on Host header.

[2017-09-21 12:17] Smithx10 opened #358 "QUIC Support"
Does Fabio Plan on having supporting QUIC?

I saw that Caddy has experimental QUIC support using https://github.com/lucas-clemente/quic-go.

[2017-09-21 13:14] magiconair commented on #358
@seanc- ?

Frank Schröder

[2017-09-22 05:42] pvandervelde commented on #320
We just ran into this issue this week when fabio came up before the local consul instance did. We're running with fabio 1.5.2 at the moment

[2017-09-22 19:50] manos commented on #350
I started seeing this again too. Suspecting a regression.

[2017-09-23 19:48] reinoud opened #359 "select color scheme from config to distinguish environments"
We run 3 different environments (prod, QA, test). All environments are configured almost identical. So the difference in the web ui between them is just a few characters in a long url.

Would it be possible to select a different color scheme CSS in the config, so the different instances would be visually different from a distance?

[2017-09-23 20:03] magiconair commented on #359
@reinoud `ui.color` and `ui.title` should do the trick. We used this in our team for exactly that purpose:

https://github.com/fabiolb/fabio/blob/master/fabio.properties#L856-L868

[2017-09-23 20:03] magiconair commented on #359
We used `red` (prod), `yellow` (test), `green` (dev)

[2017-09-23 20:04] reinoud commented on #359
Thanks!

Reinoud

[2017-09-23 20:20] magiconair commented on #350
No, this is a different problem. I've fixed it but forgot to merge it :( The pubnub code has both changes now so I should go back to their impl. However, they also have tag support in it and some other changes. I'll do this separately. Lets fix this one first.

[2017-09-23 20:22] #350 closed

[2017-09-23 20:23] magiconair commented on #359
:) closing

[2017-09-23 20:23] #359 closed

[2017-09-23 20:39] #320 closed

[2017-09-23 20:41] magiconair commented on #320
@pvandervelde I've taken the patch and added two proper metrics config parameters `metrics.timeout` and `metrics.retry` for it and merged it to master. The default behavior is now to retry every 500ms for 10s just like for the registry.

[2017-09-23 21:27] pvandervelde commented on #320
Sweet. I'll grab the next release :) Thanks for fixing it!

[2017-09-24 22:24] pvandervelde opened #360 "Documentation of the available metrics?"
Is there any documentation available that describes what the available metrics mean? I'm using statsd to gather metrics from fabio and I'm getting a whole bunch of metrics but I have no idea what they mean. Is there anywhere I can look to figure out what the values mean?

[2017-09-25 14:42] mokonn opened #361 "More than one fabio instance decreases system performance."
Adding second fabio to our infrastucture results decreasing performace.
Time to handle requests increase up to 20 seconds.

Fabio version 1.3.4

[2017-09-25 16:01] magiconair commented on #361
This sounds really weird. We - and all customers I know - are running multiple fabio instances with no noticeable problems. Are these the same types of machines? Same network? Same load? Congestion? Noisy neighbors?

[2017-09-26 02:09] pims commented on #348
@magiconair thoughts on this issue?

[2017-09-26 07:39] deuch opened #362 "with TLS verification"
Hello,

We'are using Fabio 1.5.2 and we have an issue

[2017-09-26 07:41] magiconair commented on #348
There was a reason for this. Let me find the commit.

[2017-09-26 16:46] magiconair commented on #362
Hi @deuch, this is what I understand so far:

[code]

The cert is for `foo.com` but not for `1.2.3.4` and setting the `Host` header isn't sufficient. I would need to dig but can't you add 1.0.0.0/8 to the cert?

[2017-09-26 19:13] deuch commented on #362
Hello,

Our fabio are not exposed to internet so it's more like that:

Load Balancer (Appliance) https://foo.com/bar --> Fabio (4 instances at least) --> https://1.2.3.4/bar

We can not use wildcard for our certificates (forbidden by the security) in a banking context.

Fabio and services are containers running on the same platform. For each application, we deploy a Load Balancer (Appliance), 4 Fa

[2017-09-26 19:47] magiconair commented on #362
Would the `host=dst` from #294 help? (I really need to work on the docs)

[2017-09-26 20:34] deuch commented on #362
I'm not sure to understand the behaviour of this : With host=dst, what will be the header when connecting the upstream ? The upstream hostname/ip ? Or the hostname header coming to Fabio ?

[2017-09-26 20:36] magiconair commented on #362
`host=dst` is for the reverse proxy case. Let me think about this a bit more.

[2017-09-26 21:02] magiconair commented on #362
`host=dst` will effectively swap the hostname in the upstream request:

     https://a.com/foo -> fabio -> https://b.com/foo 'Host: b.com' (with host=dst)

`host=dst` will use the consul service address for the `Host` header and the target URL. If your container has a cert for its ip and that cert is trusted by fabio then this should work. But creating a cert per container is something you can't d

[2017-09-26 21:18] deuch commented on #362
Yes it makes sense. In my use case, the TLS server name has to be the original request indeed.

I do not know what is the best thing to do. DNS spoofing or TCP connection first and TLS handshake after. What is the most secure ?

[2017-09-27 01:23] pvandervelde opened #363 "Fabio fails to strip the prefix if the url prefix does not start with the strip option value"
We have a web service running which serves a site on

    http://myhost/artefacts

And the consul service configuration contains the following tag

    urlprefix-/artefacts/installers strip=/installers host=dst

I was expecting that this would make fabio strip the path correctly but what happens instead seems to be that the full prefix is passed on to the service, i.e. fabio calls `http://myhost/a

[2017-09-27 09:42] deuch commented on #363
Did you put the three options in the same consul tag ?

[2017-09-27 11:54] nuriel77 opened #364 "Manual overrides: requesting extra information in documentation"
I am trying to figure out how to configure manual route overrides.
As far as I can understand, those have to be added to consul kv in /fabio/config ?

I am not sure how to add those?
I tried querying consul i.e.
`consul kv get ./fabio/config`
`consul kv get fabio/config`
`consul kv get /fabio/config`
And none works.
An example on how to add those would be very helpful.
I am not sure if I am suppos

[2017-09-27 12:20] tbouvet commented on #211
+1

[2017-09-27 12:32] tbouvet opened #365 "Support fabio.properties in Consul KV store"
Is it possible to push the configuration file `Fabio.properties` directly in Consul KV store ?

The reason is to "not restart" Fabio if I want to update a parameter.

[2017-09-27 14:32] tbouvet commented on #318
Same problem.
I try to add a route like :

Fabio log :
[code]

[2017-09-27 19:07] pvandervelde commented on #363
Yes, that entire line is one single consul tag. I've got other services (with other prefixes / strip / host options) and those work just fine but they strip either just the start of the prefix or the entire prefix.

[2017-09-28 04:17] jshaw86 commented on #347
@magiconair have you had a chance to look at this? We're still looking at options outside fabio to work around this but still wanted your thoughts.

[2017-09-28 08:59] magiconair commented on #365
I don't think that this is a good idea in general as it introduces a circular dependency between fabio and consul. How should fabio find the consul instance and the KV path? The main reason to use fabio is that you do not have to maintain its configuration all the time. Therefore, I'm curious what it is that you want to change at runtime.

[2017-09-28 09:00] magiconair commented on #318
Can you post your runtime config?

[2017-09-28 09:00] magiconair commented on #211
work on consul 1.0 has kept me quite busy. I plan to go through open issues soon.

[2017-09-28 09:02] magiconair commented on #347
consul 1.0 beta1 is out the door. I have one more thing to look at and then I'll dig into this one.

[2017-09-28 09:08] magiconair commented on #363
@pvandervelde fabio is not intended to be a full nginx replacement which mangles routes and rewrites URLs. It is primarily a stateless router which forwards requests to services which claim that they can handle them **without** changing them.

If your service needs to handle requests from `/artefacts/installers` why not add a handler for this to the code?

The main motivation for the `strip` prefi

[2017-09-28 09:12] magiconair commented on #364
You can go to `http://localhost:9998/manual` and set them there or use
`consul kv put fabio/config '#foo'` for example. Please note that you can change the prefix in `fabio.properties` with `registry.consul.kvpath`

https://github.com/fabiolb/fabio/blob/master/fabio.properties#L531-L539

[2017-09-28 09:14] magiconair commented on #75
@manos the `host=www.domain.com` option has been added with #294

[2017-09-28 09:19] pvandervelde commented on #363
In our case we're proxying using fabio to proxy a set of sites / services that we use in our build infrastructure. Most of these services aren't our own services, they're third party tools that we run so we have very little control over what handlers there are. The goal is to provide the developers with a single 'site' that looks like it has all the services they need to interact with our build in

[2017-09-28 09:26] magiconair commented on #363
@pvandervelde you could use `strip=/artefacts/installers` and access the other service under `/` I don't see the point in the upstream service to respond to `/artefacts` when in fact it is providing `/installers`. What am I missing?

[2017-09-28 09:32] pvandervelde commented on #363
Probably the fact that my explanation is crap. There are several other web services running on that machine so we can't use the machine root because it could collide with the other services, however we might be able to make it respond to `/installers` instead.

In the end it doesn't matter very much we'll be able to work around it :) I was just curious to see if I'd missed anything because I assum

[2017-09-28 09:36] tbouvet commented on #365
@magiconair For example, I want to change log level.

[2017-09-28 09:38] magiconair commented on #363
My main lesson from the eBay team I ran was that adding this kind of complexity caused more issues downstream even if it fixed your immediate problem at hand. fabio was the result of that constant maintenance pain, the fact that everything had to be looked up instead of being derived. My main motivation for writing it was to simplify the architecture by actually removing entire components and work

[2017-09-28 09:41] magiconair commented on #365
why? what's broken? our fabio instances weren't logging much (KBs/day). Simple log rotation was enough. Are you getting a lot of `Health changed` messages?

[2017-09-28 09:44] tbouvet commented on #318
[code]

[2017-09-28 09:45] pvandervelde commented on #363
Sounds sensible. For the immediate time we'll work around it while we update the services. Thanks

[2017-09-28 09:45] #363 closed

[2017-09-28 09:45] tbouvet commented on #365
Yes too many health changed :
[code]

So maybe a log level should be good (debug/info/warn)

[2017-09-28 09:50] magiconair commented on #365
No, what you have there is either a flapping service or a service which has volatile data in its health check output (e.g. timestamp, pid, increasing number, ...) Each of these lines represents a write to the consul raft log which needs to be replicated and puts load onto your consul server cluster. Find the volatile data in the health check and fix it and you won't have that problem :)

[2017-09-28 10:29] magiconair commented on #318
on which route is fabio causing the error? Is that reproducible? Do you have write or read timeout set in the config?

[2017-09-28 11:04] jaxim commented on #364
Just to add to this. We are updating the weighting of our microservices via consul.

we retrive the current value of fabio/config and then append to it using consul kv put fabio/config '#foo'.

My question is what is the best way to maintain the routing that has been added to the kv?

e.g.
I update the weighting rules for service-a
I update the weighting rules for service-b

service-a is no longer

[2017-09-28 11:29] tbouvet commented on #365
ok thank you for your help 👍

[2017-09-28 11:32] tbouvet commented on #318
The error is when I test `http://service.mydomain.com` .
My simple config :
[code]

[2017-09-28 11:34] #365 closed

[2017-10-01 03:59] magiconair commented on #340
Sorry for the delay. PR is welcome. This looks like a good addition.

[2017-10-01 04:00] #316 closed

[2017-10-01 04:02] magiconair commented on #357
Duplicate of #261

[2017-10-01 04:05] magiconair commented on #361
I'm curious but also quite suspicious about this claim. There are some very large customers using fabio with significant throughput. This would have shown up sooner. If you have additional data to support that fabio is the root cause please provide them and I'll follow up. In the meantime I'll close this ticket.

[2017-10-01 04:05] #361 closed

[2017-10-01 04:07] magiconair commented on #307
@InformatiQ Is this still an issue?

[2017-10-01 04:08] magiconair commented on #318
Duplicate of #264

[2017-10-01 08:33] magiconair commented on #326
The AWS Go client lib is a behemoth ...

[2017-10-02 07:43] #307 closed

[2017-10-02 09:12] boyvinall commented on #110
I'm going to close this as I don't need it any more, and also I think the more generic header support mentioned in #168 should cope with it.

[2017-10-02 09:12] #110 closed

[2017-10-05 19:15] Smithx10 commented on #358
Any word / idea?

[2017-10-09 00:02] #330 closed

[2017-10-09 00:03] #318 closed

[2017-10-09 00:03] magiconair commented on #318
Closing because of duplicate

[2017-10-09 00:18] magiconair opened #367 "nodes and services in maintenance can cause excessive logging"
When a cloud environment has nodes and/or services in maintenance then fabio can generate excessive logging every time the routing table is generated. Since these messages can be useful they remain in the code but are being logged as `DEBUG` which after merging #366 is no longer logged by default.

https://github.com/fabiolb/fabio/blob/master/registry/consul/passing.go#L28-L41

[2017-10-09 00:23] #367 closed

[2017-10-09 00:24] magiconair commented on #345
I've just merged #366 which allows you to control the log level.

[2017-10-09 00:24] #345 closed

[2017-10-09 00:35] magiconair opened #368 "Detect excessive "Health changed to" messages and warn about them"
The issue of having lots of log messages about changed health comes up on a regular basis.

[code]

Users have generally asked on how to suppress them by looking to change the log level. I've refused to implement that with the reason that a) fabio does not log excessively if the system is stable and b) seeing lots of these messages indicates that the system is either not stable (lots of flapping h

[2017-10-10 08:41] #135 closed

[2017-10-10 09:17] magiconair commented on #360
I've just updated the wiki. Please let me know whether that is sufficient.

https://github.com/fabiolb/fabio/wiki/Features#metrics-support

[2017-10-10 09:17] #360 closed

[2017-10-10 09:52] magiconair commented on #358
If @seanc- does not have the time for it right now then this has to wait until after the next release. I'm open for a PR if you feel comfortable doing this. For the next release I want to fix metrics since issues have been piling up there.

[2017-10-10 09:59] magiconair commented on #356
There is the `host=xxx` option that you can set which sounds similar to what you are trying to do. `host=dst` will set it to the upstream hostname, e.g. `google.com` See #294

[2017-10-10 10:01] magiconair commented on #355
I've just merged #315 which adds support for Vault as a native PKI store for fabio. Can you have a look whether we can make this more flexible for your needs?

[2017-10-10 11:00] magiconair commented on #195
I've compiled the best practices here in a wiki page: https://github.com/fabiolb/fabio/wiki/Binding-to-Low-Ports

Is anybody up for reviewing this? If yes, then please comment here.

I'm going to create another ticket for not allowing to run fabio as root.

[2017-10-10 11:00] #195 closed

[2017-10-10 11:00] magiconair commented on #195
Thanks everybody for the suggestions!

[2017-10-10 11:03] magiconair opened #369 "Warn if fabio is run as root"
Follow up from #195 which suggest that fabio should refuse to start as `root` unless you pass an `-insecure` flag. I'm still not fully convinced that users will just use the flag as workaround. Everybody has a right to shoot him/herself in the foot but I'm open for discussion.

[2017-10-10 14:18] sean- commented on #369
PostgreSQL does this and it’s been a useful safety precaution that has probably prevented many incidents.  That said, it’s also extremely irritating as an operator when diving into a problem as root.  Or even when I’m in a secured contained environment and there is only one process, but now I have to manage the creation and lookup of a user/UID.  In an ideal world I’d rather see a big obnoxious wa

[2017-10-10 19:20] pvandervelde commented on #360
Looks good to me. The only additional question that comes up is what is the time unit for the timers? Is it milliseconds?

[2017-10-10 22:07] mterron commented on #369
I stand by what I said in the original thread. It is the software responsibility to do the right thing, in this case refuse to run as root. If  you really really really want to, there's a cli switch that will allow you to do that. Let's make doing the right thing easy.
The last ~25 years has proven beyond doubt that "secure by default" is the only reasonable choice, as the large majority of users/

[2017-10-11 07:40] magiconair commented on #369
@mterron I agree that the software should do the right thing but there is a valid case for running fabio as `root` inside a container if it is the only app. Static go binaries like fabio run from a `SCRATCH` container where there is no user management. Making this mandatory would mean to require a full-blown OS to support that which just increases the size and the attack surface. Also, containers

[2017-10-11 07:48] mterron commented on #369
Just 1 comment. Container root (in linux) IS the host system root. There's
a new user mapping feature but not widely deployed afaik.

On 11/10/2017 8:40 pm, "Frank Schröder" <notifications@github.com> wrote:

[2017-10-11 07:49] magiconair commented on #369
That's how I understand that but you'd have to break out of the container first, right? Isn't the point of containers to prevent that?

[2017-10-11 09:53] deuch commented on #362
Hello, did you have time to try some stuff for this use case ?

[2017-10-11 13:16] magiconair commented on #362
not yet. sorry.

[2017-10-11 23:15] mterron commented on #369
This is probably semantics, but IMO as a Security professional, containers in linux don't exist. The kernel have no idea what a container is, the only thing it knows about is cgroups and namespaces.

On other OSs, a container is a kernel primitive so the control and segmentation is stronger (see Solaris/Illumos Zones) and multitenancy is possible (and encouraged).

[2017-10-12 03:31] pascalandy commented on #12
Hey core user of Traefik here. Looking to try an alternative like fabio :)

If someone have a docker-compose or a docker stack I could try I'll be happy to test. I run Docker Swarm Mode. Cheers!

[2017-10-12 07:54] xqliang opened #370 "Support adding custom response header"
My Fabio is configured receive all incoming traffic from an existing gateway(Nginx), and I use gateway(Nginx) to write access log.

[code]

I want to log service name in the Nginx access log, can Fabio support adding custom response header(e.x X-Fabio-Service-Name)?

[2017-10-12 18:43] magiconair commented on #370
No, but you use fabio to write the access log in the same format and there you can add the access log.

https://github.com/fabiolb/fabio/blob/master/fabio.properties#L419-L467

If that doesn't solve your problem then I can think about how to generalize that since you probably want to configure this either globally or per route. I'd need to think about that a bit.

[2017-10-13 07:12] krjensen opened #371 "[Question] Stats - Status code per service"
Hi,

I send all stats to a statsD instance, but im missing one nifty stat - http status code count per service.
You provide a global count of HTTP status codes, but I would like to e.g. see 404 for a given service.

[2017-10-13 16:56] vchan2002 opened #372 "Questions/issues in using overrides"
I am in the midst of testing overrides on 1.5.2, and I am running into issues where my attempts to do manual overrides are not working... I'm thinking of a use case where, rather than using the auto-discovery feature, I can have different fabio servers that will read from different consul k/vs on the same cluster, so each fabio picks up its own set of unique routes.....

a.  If I tried to enter a

[2017-10-13 17:16] vchan2002 commented on #372
Ok.... after going a bit further.... it's a consul ACL issue where I have my k/v s set to default deny with the anonymous token.... So I imagine either adding an ACL to the consul agent where fabio runs, or relaxing the ACL for the anon token, is an option....

It is interesting, however, that the 403 error only occurs if you tried to enter the override from the GUI, as it tries to write to the KV

[2017-10-14 00:25] magiconair commented on #372
You can have Fabio talk to a specific consul cluster or use different tag prefixes to separate name spaces. Can you explain more what you’re trying to do? My gut feel tells me that you’re trying to do smth that fabio wasn’t designed for. The auto-discovery is the whole point of its existence.

[2017-10-15 09:24] xqliang commented on #370
Thank you, I need to use Nginx to write access log for monitoring the entire request time consuming (including Nginx to Fabio).

Current, global configuration will meet my needs.

[2017-10-16 16:30] SoMuchToGrok commented on #355
Sorry for the late response - been very busy and distracted lately. I'll take a look within the next day and get back to you. Thanks!

[2017-10-16 16:35] vchan2002 commented on #372
While I personally agree that the automatic discovery is the best way to go, my use case is that I will get pushback from other stakeholders of the microservices that they may not want to 'share' the same set of fabio services for load balancing, while still using the same consul cluster for discovery.

I think the best workaround, in this case, is to use seperate consul clusters just for that sep

[2017-10-16 17:05] lennart commented on #142
I just stumbled upon this issue since I had a **space** within the consul service `name`. I wasn't expecting fabio to use the service `name` for `route add`. Service ID and check ID were unique (and without spaces).

Maybe this should be noted within the [Quickstart](https://github.com/fabiolb/fabio/wiki/Quickstart)?

[2017-10-16 20:31] magiconair commented on #372
I think you can use different tag prefixes for that. fabio-a[123] uses tag.prefix `a-` instead of `urlprefix-`, fabio-b[123] uses `b-` and so forth. This way multiple fabio clusters can share the same consul server cluster. The services then need to register `a-/foo` and `b-/bar`. You still need to route inbound traffic to them though.

Frank Schröder

[2017-10-16 20:43] vchan2002 commented on #372
Oh yeah... that's right... I see that it is something you can setup in fabio.properties.... I did not think about utilizing that.

That would definitely satisfy the use case that I have......

[2017-10-16 20:44] #372 closed

[2017-10-18 08:07] magiconair commented on #142
@lennart That's a good point. If I would use the service id instead of the name then it would be more difficult to implement weighted routing. I could also update the parser to allow services with names and then quote the name.

[2017-10-18 08:09] magiconair commented on #142
@lennart Updated both the Quickstart and the README.

[2017-10-18 08:10] magiconair opened #373 "Permit service names with spaces"
Fabio currently does not support service names with spaces since the config language does not allow quoting of service names.

[2017-10-18 08:11] magiconair commented on #142
Added #373 to track this.

[2017-10-19 21:49] dansteen opened #374 "Wildcards in routing path"
Hi!  Thanks for all the work you've put into fabio.  It's a great product and I love the fact that it just works.   I did have one question.  Is it possible to use wildcards in route paths.   As an example:

[code]
Where `{profile_id}` would be a wildcard in the actual route.  This would allow the "collections" pattern similar to what rails does.  Is something like this possible?

Thanks!

[2017-10-20 04:49] magiconair commented on #374
Hi @dansteen, I'm glad you like it. It should get out of your way as much as possible.

I think the `glob` matcher should solve your problem. However, this is a global option.

https://github.com/fabiolb/fabio/blob/master/fabio.properties#L296-L303

Let me know whether that works for you.

[2017-10-20 05:47] discobean opened #375 "host=www.mydomain.com not working"
Hi,

If using `host=dst` it works as expected, but it looks like when specifying an override and using opts `host=www.mydomain.com` will not pass the host header as `www.mydomain.com`

Example override:
[code]

The documentation here: https://github.com/fabiolb/fabio/wiki/Routing specifies that `host=domainname` can be used

[2017-10-22 11:20] tino commented on #27
Is there any work being done on letsencrypt integration? I've started it as my first Go project this weekend, in the form of a separate binary that ~implements~ copies the registry code (and a lot more code ☺️) from here and generates certs for each domain if they don't exist yet. I envision a file and Vault store, that fabio then can use.

[2017-10-22 14:32] magiconair commented on #27
@tino Nobody has been picking this up yet and if you are working on a PR then this would be very welcome. You can integrate that directly with fabio. @pschultz has done preliminary work for these types of cert stores in #135/#315. He has provided a proof-of-concept implementation for ACME which you can see here: https://gist.github.com/pschultz/80a13aa3488f4e9afa1e440bea3c3d6e

This still needs co

[2017-10-22 14:34] magiconair commented on #27
@tino There should be no need to add a separate tag name for that. The only thing that is required is to fetch or generate a certificate on the fly. Keep in mind that fabio can be run in clusters so you need a place to store the certs, e.g. consul.

[2017-10-22 14:34] magiconair commented on #375
I'll have a look.

[2017-10-22 14:57] magiconair commented on #375
@discobean I had the right instinct on #301. We would need to set this to something else. Looks like I was getting ahead of myself in the docs. Looks like this was an obvious thing. Could you test this?

[2017-10-22 14:58] magiconair commented on #375
The only thing where I'm not sure are the requests where users want to set arbitrary headers on the request. However, this solves a problem now.

[2017-10-22 23:30] discobean commented on #375
Yep, this patch is confirmed working now :)

[2017-10-23 13:52] #375 closed

[2017-10-23 14:35] magiconair commented on #369
I've pushed a PR which will add a recurring warning which is written to the logs during startup and once an hour if fabio is run as root. The message of the warning changes slightly when the new `-insecure` flag is used noting that with version 1.7 fabio will refuse to start when run as root.

[2017-10-23 14:37] magiconair opened #378 "Do not allow to run fabio as root by default"
This is a follow up for 1.7 which will prevent fabio from starting as `root` without the `-insecure` flag set.

[2017-10-23 14:39] magiconair commented on #369
This way users have time to adjust to the change in default behavior.

[2017-10-23 15:46] dansteen commented on #374
Nice! that looks like it should do it.  Thanks!

[2017-10-23 18:39] magiconair commented on #374
I'll close this for now. Feel free to comment and I'll re-open if necessary.

[2017-10-23 18:39] #374 closed

[2017-10-25 05:03] discobean opened #379 "Allow comments in manual overrides"
Some devs have been using overrides lately, and it would be good to ignore everything after a `#`.

This way somebody can include some documentation in each line for everybody else to see

[2017-10-25 20:28] akobyakov commented on #87
What if redirection would be based on a tag, something like:
[code]

Still unclear though, what to do if multiple https listeners are defined.

[2017-10-25 20:45] magiconair commented on #379
That should already work but needs to be at the start of the line. I can add that it also ignores comments at the end of the line. I thought I had documented this since this was for sure one of the first things I've implemented in the parser. We used that when selectively enabling override rules while switching services.

But there is no test for that and it isn't documented :(

https://github.com

[2017-10-25 21:11] magiconair commented on #379
I've added a section to the docs just now:

https://github.com/fabiolb/fabio/wiki/Routing#comments

[2017-10-27 08:47] thijs commented on #168
I like the idea of add and delete (set would just be delete and add, right?), but currently my main issue is adding a static header to the request that is passed on

[2017-10-27 11:11] sielaq commented on #168
![please](http://danhairfield.files.wordpress.com/2011/12/2005_07_21_shrek_cat1.jpg)

[2017-10-30 13:31] SoMuchToGrok commented on #355
Alright, it's been a very busy couple of weeks - thanks for pinging me on this @magiconair!

Just a few thoughts from my perspective:
- It would be ideal to enable passing more options to Vault's PKI backend, such as:
  - [common name](https://www.vaultproject.io/api/secret/pki/index.html#common_name-1)
  - [alt names](https://www.vaultproject.io/api/secret/pki/index.html#alt_names-1)
  - [ip sans

[2017-10-31 14:16] awalterschulze commented on #325
I am also wondering how to get response_body_size efficiently in go.
nginx seems to be able to do this with their body_bytes_sent variable.

[2017-11-03 09:53] ragunathp commented on #75
Hi,
Is this feature available in 1.5.2? Based on the document reference  https://github.com/fabiolb/fabio/wiki/Routing#manual-overrides, it seem to be available with the option for "host=name".  Could you please confirm?

My use case is to configure docker HRM endpoint in fabio and I face the issue.
Works fine when I do,  curl -H 'Host: xyz.docker-hrm.example.com" http://fabio-ip:9999/app/somepath

[2017-11-03 09:58] magiconair commented on #75
This has been fixed in #375 which is currently on master. I'll cut a 1.5.3 today to roll this out since the metrics refactor is going to take longer.

[2017-11-03 10:05] ragunathp commented on #75
Thank you looking forward for  1.5.3 release.

[2017-11-03 11:06] magiconair commented on #75
So the `host=dst` option implements the original desired behavior. `host=dst` was added with #294. In addition to `host=dst` you can use `host=www.mydomain.com` to set the exact host header.

1.5.3 is released

[2017-11-03 11:06] #75 closed

[2017-11-03 14:21] manos commented on #368
@magiconair is this possible to add to 1.5.3, if it's not too late? :)

[2017-11-03 14:23] magiconair commented on #368
@manos I don't have code for that yet but for now you can set the `-discard-check-output` option in Consul.

[2017-11-03 14:25] manos commented on #368
oh, right. Thanks :)

[2017-11-07 22:39] dropje86 opened #383 "[bug?] Fabio uses "global" Consul ServiceID's"
Fairly serious "bug?" if looking at how Consul implements service registration. By default if you register a Consul service the ServiceID will be set to the ServiceName if not explicitly passed ( https://www.consul.io/api/agent/service.html#id )
This is allowed as a ServiceID only has to be unique per agent, not globally (in the catalog).

Although Consul deals with serviceIDs like that (unique pe

[2017-11-08 08:29] magiconair commented on #383
I haven't fully tested the maintenance use case but in general the `ServiceName` describes the type of service e.g. `UserService` and the `ServiceID` describes the specific instance which should be unique for the cluster and not just the agent. That's why Fabio registers itself as `fabio-<host>-<port>` and we did that for all other setups. Also, this is the usual cause of errors for new Fabio user

[2017-11-08 09:53] dropje86 commented on #383
I understand how to workaround it but the thing is, this is Consul spec. A serviceID is optional and will be set to serviceName if unset. Quote from James in gitter.im/hashicorp-consul:

If this behavior is intentional than it should be clearly noted somewhere:
**NOTE**: Fabio expects a service registration with a "global" unique serviceID

[2017-11-08 13:17] nuriel77 commented on #211
+1

[2017-11-08 16:02] magiconair commented on #211
working on it.

[2017-11-08 17:04] k1ng87 opened #384 "client certificate authorizaion"
Can Fabio do authentication based on what's DN is in the cert?

[2017-11-09 02:29] discobean commented on #379
Hey, cool thank you :D

[2017-11-09 05:53] discobean opened #385 "opts with host= with multiple routes does not work as expected"
In Fabio 1.5.3 say I have 2 routes as such:

[code]

The `host=xxxx` option appears on both routes.  (But notice the second route does not specify a host option)

If you put the second route above the first, then neither route has a `host=` option.

[2017-11-09 06:26] magiconair commented on #385
Found it. The opts are stored on the target but set on the route.

https://github.com/fabiolb/fabio/blob/4dbab1b7be568100164272aa661d797cd243d006/route/table.go#L156
https://github.com/fabiolb/fabio/blob/4dbab1b7be568100164272aa661d797cd243d006/route/table.go#L162

On my way to the airport now. I’ll see what I can do before the flight. Otherwise tomorrow.

[2017-11-09 09:44] xw340721 opened #386 "how to connect consul cluster"
hello i always use fabio but one day i want to connect consul cluster,so i find in internet.but nothing
so how do i do

[2017-11-09 21:43] magiconair commented on #386
I am really sorry but I don’t understand the question.

Frank Schröder

[2017-11-09 22:52] discobean commented on #385
All good mate, thanks

[2017-11-10 04:05] xw340721 commented on #386
sorry! what i mean is how to connect consul cluster using fabio. Is there any configuration that i need to do?

[2017-11-10 07:23] ragunathp opened #387 "customized cacert/path"
Hi,
Consul agent is running in "https", while fabio is initializing with consul it gives
"Error initializing backend. Get https://myserver.8543/v1/agent/self: x509: certificate signed by unknown authority. I understand the reason though.

However works fine when I curl --cacert /mycapath/ca.pem https://myserver.8543/v1/agent/self
or curl -k  https://myserver.8543/v1/agent/self
Is it possible to en